Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

feat: add generated reports viewer with download functionality
  frontend/src/features/custom-reports/components/ReportList.tsx
Due: none

fix: add notification feedback to report generation
  frontend/src/hooks/useCustomReports.ts
Due: none

feat: display error messages for failed report generation
  frontend/src/features/custom-reports/components/ReportList.tsx
Due: none

fix: add null checks for generated report dates
  frontend/src/features/custom-reports/components/ReportList.tsx
Due: none

fix: use singular report type names matching backend (student, course, grade, attendance)
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
Due: none

fix: convert sorting_rules and filters arrays to dict format for backend compatibility
  frontend/src/api/customReportsAPI.ts
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
Due: none

feat: add better error feedback and logging to report save
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
Due: none

debug: add detailed validation error logging for report creation
  frontend/src/api/customReportsAPI.ts
Due: none

feat: add download endpoint for generated reports
  backend/routers/routers_custom_reports.py
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
Due: check-imports-requirements, validate-rbac-decorators

feat: add delete generated reports functionality
  backend/routers/routers_custom_reports.py
  backend/services/custom_report_service.py
  frontend/src/api/customReportsAPI.ts
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/hooks/useCustomReports.ts
Due: check-imports-requirements, validate-rbac-decorators

fix: improve date parsing and add i18n translations for generated reports
  backend/routers/routers_custom_reports.py
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/locales/el.js
  frontend/src/locales/en.js
Due: check-imports-requirements, validate-rbac-decorators

fix: translate report success toast and fix excel download filename
  DEPLOYMENT_READY.md
  backend/routers/routers_custom_reports.py
  backend/schemas/custom_reports.py
  backend/services/custom_report_service.py
  commit_ready_20260201-235514.log
  frontend/src/api/customReportsAPI.ts
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
  frontend/src/hooks/useCustomReports.ts
  frontend/src/locales/el.js
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en.js
  frontend/src/locales/en/customReports.js
Due: check-imports-requirements, validate-rbac-decorators

feat(reports): Complete Phase 6 reporting system with help documentation
  backend/ops/seed_report_templates.py
  backend/ops/seed_sample_grades.py
  backend/schemas/custom_reports.py
  backend/services/custom_report_generation_service.py
  commit_ready_20260202-005535.log
  frontend/src/api/customReportsAPI.ts
  frontend/src/components/tools/HelpDocumentation.tsx
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/custom-reports/components/ReportTemplateList.tsx
  frontend/src/features/custom-reports/pages/ReportBuilderPage.tsx
  frontend/src/features/custom-reports/pages/ReportListPage.tsx
  frontend/src/features/custom-reports/pages/ReportTemplateBrowserPage.tsx
  frontend/src/features/operations/components/OperationsView.tsx
  frontend/src/hooks/useCustomReports.ts
  frontend/src/locales/el/customReports.js
  frontend/src/locales/el/help.js
  frontend/src/locales/en/customReports.js
  frontend/src/locales/en/help.js
  seed_templates_now.py
Due: check-imports-requirements

docs(phase6): Mark Phase 6 complete with final status update
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

test(rbac): implement 24 RBAC test cases for permission checking
  backend/tests/test_rbac_templates.py
  docs/plans/UNIFIED_WORK_PLAN.md
Due: check-imports-requirements

fix(rbac): fix 6 failing RBAC tests
  backend/tests/test_rbac_templates.py
Due: check-imports-requirements

docs: Update work plan - RBAC tests 100% complete (24/24 passing, Feb 2 09:40 UTC)
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

style: Apply formatting fixes and type annotations
  backend/services/custom_report_generation_service.py
  backend/tests/conftest.py
  backend/tests/test_rbac_templates.py
Due: check-imports-requirements

docs: fix deployment doc links after move
  commit_ready_20260202-101502.log
  docs/misc/DEPLOYMENT_PREPARATION_v1.17.6.md
  docs/misc/DEPLOYMENT_READY.md
Due: none

fix(rbac-tests): Fix all 24 RBAC template tests - database isolation and response format
  backend/tests/conftest.py
  backend/tests/test_rbac_templates.py
Due: check-imports-requirements

chore: workspace cleanup and organization
  backend/ops/seed_report_templates.py
  backend/ops/seed_sample_grades.py
  commit_ready_20260201-163803.log
  commit_ready_20260201-172310.log
  commit_ready_20260201-200921.log
  commit_ready_20260201-201238.log
  commit_ready_20260201-210647.log
  commit_ready_20260201-235514.log
  commit_ready_20260202-005535.log
  commit_ready_20260202-101502.log
  docs/misc/DEPLOYMENT_PREPARATION_v1.17.6.md
  docs/misc/DEPLOYMENT_READY.md
  docs/reports/2026-02/PHASE6_COMPLETION_REPORT.md
  seed_templates_now.py
Due: check-imports-requirements

fix(security): allow restore to any writable output path, not just backup_dir
  backend/services/backup_service_encrypted.py
Due: check-imports-requirements

docs(ci): add 2026-02-02 CI status addendum
  docs/ci/GITHUB_ACTIONS_DIAGNOSTIC_REPORT.md
  docs/ci/GITHUB_ACTIONS_FAILURE_REPORT.md
Due: none

fix(security): harden path handling and password hashing
  backend/admin_routes.py
  backend/routers/routers_sessions.py
  backend/seed_database.py
  backend/services/backup_service_encrypted.py
Due: check-imports-requirements, validate-rbac-decorators

docs(security): add comprehensive path traversal prevention strategy documentation
  docs/security/PATH_TRAVERSAL_PREVENTION.md
Due: none

security(path-traversal): implement proper path validation and add comprehensive security tests
  backend/admin_routes.py
  backend/routers/routers_sessions.py
  backend/services/backup_service_encrypted.py
  backend/tests/test_path_traversal_security.py
Due: check-imports-requirements, validate-rbac-decorators

docs(ci): add Feb 2, 2026 status addenda for workflow validation
  docs/ci/GITHUB_ACTIONS_DIAGNOSTIC_REPORT.md
  docs/ci/GITHUB_ACTIONS_FAILURE_REPORT.md
Due: none

ci: increase markdown lint threshold to 10000 (Phase 4 TODO)
  .github/workflows/markdown-lint.yml
Due: none

fix(e2e): add admin@example.com user to seeding script for E2E tests
  backend/seed_e2e_data.py
Due: check-imports-requirements

style: format code (f-string cleanup, whitespace)
  backend/admin_routes.py
  backend/seed_e2e_data.py
Due: check-imports-requirements

style(linting): fix unused imports and variables in path traversal tests
  backend/services/backup_service_encrypted.py
  backend/tests/test_path_traversal_security.py
Due: check-imports-requirements

docs(work-plan): update with path traversal security completion (Feb 3, 2026)
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(policies): fix lint/format commands and numbering; fix admin_routes Path type
  .github/copilot-instructions.md
  backend/admin_routes.py
  backend/services/backup_service_encrypted.py
  docs/AGENT_POLICY_ENFORCEMENT.md
  docs/security/PATH_TRAVERSAL_PREVENTION.md
Due: check-imports-requirements

feat(frontend): add historical edit recall for grades/attendance
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/src/api/api.js
  frontend/src/features/attendance/components/AttendanceView.tsx
  frontend/src/features/grading/components/GradingView.tsx
  frontend/src/features/students/components/StudentCard.tsx
  frontend/src/features/students/components/StudentsView.tsx
  frontend/src/features/students/components/studentTypes.ts
  frontend/src/locales/el/attendance.js
  frontend/src/locales/el/grades.js
  frontend/src/locales/el/students.js
  frontend/src/locales/en/attendance.js
  frontend/src/locales/en/grades.js
  frontend/src/locales/en/students.js
Due: none

docs(policies): add mandatory linting and formatting enforcement before commits
  .github/copilot-instructions.md
  docs/AGENT_POLICY_ENFORCEMENT.md
Due: none

fix(attendance): resolve historical mode init and el copy
  frontend/src/features/attendance/components/AttendanceView.tsx
  frontend/src/locales/el/attendance.js
  frontend/src/locales/el/grades.js
Due: none

fix(reports): resolve api error and polish student header
  frontend/src/api/api.js
  frontend/src/features/students/components/StudentProfile.tsx
  frontend/src/locales/el/reports.js
  frontend/src/locales/en/reports.js
Due: none

feat(search): add grade date filters and hints
  backend/routers/routers_search.py
  backend/services/search_service.py
  frontend/src/features/search/SearchView.tsx
  frontend/src/locales/el/search.js
  frontend/src/locales/en/search.js
Due: check-imports-requirements, validate-rbac-decorators

fix(reports): i18n recommendations and export download
  backend/middleware_config.py
  backend/routers/routers_reports.py
  backend/services/report_exporters.py
  frontend/src/components/StudentPerformanceReport.tsx
  frontend/src/locales/el/reports.js
  frontend/src/locales/en/reports.js
Due: check-imports-requirements, validate-rbac-decorators

feat(reports): add Greek translations for all recommendation messages
  backend/routers/routers_reports.py
  frontend/src/components/StudentPerformanceReport.tsx
  frontend/src/locales/el/reports.js
  frontend/src/locales/en/reports.js
Due: check-imports-requirements, validate-rbac-decorators
