Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

check-imports-requirements:
  name: Verify backend imports vs requirements
  entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
  language: system
  pass_filenames: false

check-operator-header:
  name: Ensure operator scripts have OPERATOR-ONLY header
  entry: python scripts/check_operator_header.py
  language: system
  pass_filenames: true

validate-rbac-decorators:
  name: 'RBAC: Validate decorator usage consistency'
  entry: python scripts/validate_rbac_decorators.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-migrations:
  name: 'Database: Validate migration consistency'
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(frontend): Remove unused language variable in GradingView (44→43 warnings)
  frontend/src/features/grading/components/GradingView.tsx
Due: none

chore: Archive session documentation files
  archive/sessions_2026-01-20/BATCH6_COMPLETION_REPORT.md
  archive/sessions_2026-01-20/BATCH6_ESLINT_ANALYSIS.md
  archive/sessions_2026-01-20/BATCH6_PHASE2_DETAILED_PLAN.md
  archive/sessions_2026-01-20/CLEANUP_EXECUTIVE_SUMMARY.md
  archive/sessions_2026-01-20/CLEANUP_PHASE_STATUS_2026-01-18_173919.md
  archive/sessions_2026-01-20/GITHUB_ISSUES_CLEANUP_REVIEW.md
  archive/sessions_2026-01-20/PHASE2_EXECUTION_PLAN.md
  archive/sessions_2026-01-20/PHASE2_SESSIONS_1-2_COMPLETE.md
  archive/sessions_2026-01-20/PHASE4_EXECUTION_KICKOFF.md
  archive/sessions_2026-01-20/REPOSITORY_CLEANUP_ACTION_PLAN.md
  archive/sessions_2026-01-20/REPOSITORY_CLEANUP_PHASE_CRITICAL.md
Due: none

fix(frontend): Batch 11 lint cleanup - 0 warnings
  frontend/lint-output.txt
  frontend/lint_batch8.txt
  frontend/lint_full.txt
  frontend/lint_result.txt
  frontend/lint_result2.txt
  frontend/src/components/import-export/index.ts
  frontend/src/features/grading/components/__tests__/GradingView.decimal.test.tsx
  frontend/src/features/importExport/ImportWizard.tsx
  frontend/src/hooks/__tests__/useNotifications.test.ts
  frontend/src/hooks/usePerformanceMonitor.test.ts
  frontend/src/hooks/usePerformanceMonitor.ts
  frontend/src/hooks/useSearch.ts
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/__tests__/AdminPermissionsPage.test.tsx
  frontend/src/services/__tests__/notificationWebSocket.test.ts
  frontend/src/types/api.ts
  frontend/src/types/notification.ts
  scripts/analyze_typescript.ps1
  scripts/fix_analytics_types.ps1
  scripts/fix_unused_vars.ps1
Due: none

fix(frontend): Fix all SavedSearches test failures (25/25 passing)
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/src/components/__tests__/SavedSearches.test.tsx
Due: none

chore: update socketio/engineio deps and refresh plan status
  backend/requirements.txt
  docs/plans/UNIFIED_WORK_PLAN.md
  pyproject.toml
Due: none

chore(deps): Add papaparse for bulk import feature (Phase #127)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(frontend): wrap analytics tests with i18n providers
  frontend/src/features/analytics/components/__tests__/AnalyticsDashboard.test.tsx
  frontend/src/features/analytics/components/__tests__/CardComponents.test.tsx
Due: none

docs: Add Phase 3 final completion report and action plan
  docs/misc/PENDING_CHANGES_ACTION_PLAN.md
  docs/plans/PHASE3_COMPLETION_FINAL.md
Due: none

docs: Add CI/CD failure analysis and fixes summary (force)
  CI_CD_FAILURE_FIXES_JAN20.md
  CI_CD_FAILURE_FIX_REPORT_JAN20.md
Due: none

fix: resolve 4 CI/CD failures - console.log to warn, remove unused imports
  ESLint_Output_20260120_192429.txt
  Markdown_Lint_Output_20260120_192442.txt
  PHASE3_EXECUTION_COMPLETE.md
  backend/data/exports/export_students_20260119180831.csv
  backend/data/exports/export_students_20260119185312.csv
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  docs/misc/PENDING_CHANGES_ACTION_PLAN.md
  docs/plans/PHASE3_COMPLETION_FINAL.md
  docs/plans/PHASE4_READINESS_COMPLETE.md
  frontend/src/components/__tests__/SearchResults.test.tsx
  frontend/src/components/import-export/ImportExportPage.tsx
  frontend/src/features/importExport/ExportDialog.test.tsx
  frontend/src/features/importExport/HistoryTable.test.tsx
Due: none

docs: CI/CD fix executive summary and final status (all 4 issues resolved)
  CI_CD_FAILURE_FIX_REPORT_JAN20.md
  CI_CD_FIX_EXECUTIVE_SUMMARY.md
  ESLint_Output_20260120_192429.txt
  PHASE3_EXECUTION_COMPLETE.md
Due: none

refactor: remove async from all student router endpoints
  backend/routers/routers_students.py
Due: check-imports-requirements, validate-rbac-decorators

docs: clarify COMMIT_READY patience requirements
  docs/AGENT_POLICY_ENFORCEMENT.md
Due: none

fix: resolve TypeScript errors and increase markdown threshold
  .github/workflows/markdown-lint.yml
  CI_CD_SECOND_ROUND_FIXES_JAN20.md
  frontend/src/hooks/useNotifications.ts
  frontend/src/translations.ts
Due: none

chore: clean lint artifacts and update CI docs
  CI_CD_FAILURE_FIXES_JAN20.md
  CI_CD_SECOND_ROUND_FIXES_JAN20.md
  ESLint_Output_20260120_192429.txt
  Markdown_Lint_Output_20260120_192442.txt
Due: none

chore: finalize vitest fixes and search improvements
  .vscode/settings.json
  COMPREHENSIVE_WRAP_UP.md
  NEXT_STEPS_FOR_USER.md
  frontend/src/components/SearchResults.tsx
  frontend/src/components/__tests__/AdvancedFilters.test.tsx
  frontend/src/components/__tests__/SearchBar.test.tsx
  frontend/src/components/__tests__/SearchResults.test.tsx
  frontend/src/features/analytics/components/__tests__/AnalyticsDashboard.test.tsx
  frontend/src/features/analytics/hooks/__tests__/useAnalytics.test.ts
  frontend/src/features/importExport/ExportDialog.test.tsx
  frontend/src/features/importExport/HistoryTable.test.tsx
  frontend/src/features/importExport/ImportWizard.test.tsx
  frontend/src/hooks/useNotifications.ts
  frontend/src/hooks/useSearch.ts
  frontend/src/locales/el/search.js
  frontend/src/locales/en/search.js
  frontend/src/setupTests.ts
Due: none

chore: organize documentation into docs/
  CONTINUATION_GUIDE_SESSION3.md
  DAY2_CODE_QUALITY_ACTION.md
  DEPENDABOT_SECURITY_TRACKER.md
  SECURITY.md
  docs/misc/CI_CD_FAILURE_FIXES_JAN20.md
  docs/misc/CI_CD_SECOND_ROUND_FIXES_JAN20.md
  docs/misc/COMPREHENSIVE_WRAP_UP.md
  docs/misc/NEXT_STEPS_FOR_USER.md
  docs/misc/PHASE3_EXECUTION_COMPLETE.md
  docs/reports/2026-01/CI_CD_FAILURE_FIX_REPORT_JAN20.md
  docs/reports/2026-01/CI_CD_FIX_EXECUTIVE_SUMMARY.md
Due: none

fix(frontend): Add search translation spreads to resolve i18n test failures
  frontend/src/translations.ts
Due: none

chore(frontend): stabilize i18n tests and vitest runner
  CHANGELOG.md
  RUN_FRONTEND_TESTS_SIMPLE.ps1
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/AdvancedFilters.test.tsx
  frontend/src/components/__tests__/SearchBar.test.tsx
  frontend/src/components/__tests__/SearchResults.test.tsx
  frontend/src/features/analytics/components/__tests__/AnalyticsDashboard.test.tsx
  frontend/src/hooks/__tests__/useNotifications.test.ts
  frontend/src/hooks/usePerformanceMonitor.test.ts
  frontend/src/i18n/config.ts
  frontend/src/locales/el/search.js
  frontend/src/locales/en/search.js
  frontend/src/locales/en/search.ts
  frontend/src/setupTests.ts
  frontend/src/translations.ts
Due: none

test(frontend): Achieve 100% pass rate (1550/1550 tests passing)
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/src/LanguageContext.tsx
  frontend/src/components/AdvancedFilters.tsx
  frontend/src/components/SearchResults.tsx
  frontend/src/components/__tests__/AdvancedFilters.test.tsx
  frontend/src/components/__tests__/SearchBar.test.tsx
  frontend/src/features/analytics/components/AnalyticsDashboard.tsx
  frontend/src/features/analytics/hooks/useAnalytics.ts
  frontend/src/hooks/useSearch.ts
  frontend/src/translations.ts
  frontend/test_output.txt
  package-lock.json
  package.json
  test_output.txt
Due: none

chore: improve .gitignore with import/export artifact patterns
  .gitignore
Due: none

security: Fix path traversal vulnerabilities (CodeQL High severity)
  backend/admin_routes.py
  backend/routers/routers_sessions.py
  backend/services/backup_service_encrypted.py
Due: check-imports-requirements, validate-rbac-decorators

fix: Remove duplicate validation in rollback_import endpoint
  backend/routers/routers_sessions.py
Due: check-imports-requirements, validate-rbac-decorators

fix: Resolve ESLint warnings in frontend tests
  frontend/src/components/__tests__/AdvancedFilters.test.tsx
  frontend/src/components/__tests__/SearchResults.test.tsx
  frontend/src/setupTests.ts
Due: none

security: Fix 2 path traversal vulnerabilities (CodeQL #1594, #1593)
  backend/admin_routes.py
  backend/routers/routers_sessions.py
  docs/plans/UNIFIED_WORK_PLAN.md
Due: check-imports-requirements, validate-rbac-decorators

test: silence jsdom navigation errors
  frontend/src/ErrorBoundary.tsx
  frontend/src/components/notifications/NotificationItem.tsx
  frontend/src/utils/navigation.ts
Due: none

fix: Align SearchResult and analytics types with usage
  frontend/src/features/analytics/hooks/useAnalytics.ts
  frontend/src/features/importExport/ImportWizard.tsx
  frontend/src/hooks/useSearch.ts
Due: none

test: fix useSearch loadMore async test flakiness
  frontend/src/hooks/__tests__/useSearch.test.ts
Due: none

ci: fix npm audit security scan and E2E test timeouts
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/e2e-tests.yml
  frontend/src/hooks/__tests__/useSearch.test.ts
Due: none

security: fix CodeQL path traversal warnings
  backend/admin_routes.py
  backend/routers/routers_sessions.py
  backend/services/backup_service_encrypted.py
Due: check-imports-requirements, validate-rbac-decorators

docs: update work plan with Jan 22 CI verification
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix: resolve npm audit lodash vulnerability and fix COMMIT_READY Windows workflow
  .github/workflows/commit-ready-smoke.yml
  frontend/package-lock.json
Due: none

feat: BATCH 1 - Add SavedSearch model and search services
  backend/models.py
  backend/schemas/__init__.py
  backend/schemas/search.py
  backend/services/saved_search_service.py
  docs/plans/UNIFIED_WORK_PLAN_PHASE4.md
Due: check-imports-requirements, validate-migrations

feat: BATCH 4 - Frontend SearchBar Component
  frontend/src/features/search/SearchBar.test.tsx
  frontend/src/features/search/SearchBar.tsx
  frontend/src/features/search/index.ts
  frontend/src/features/search/useSearch.test.ts
  frontend/src/features/search/useSearch.ts
  frontend/src/locales/el.js
  frontend/src/locales/en.js
Due: none

chore: BATCH 3 - Database migration for SavedSearch table
  backend/migrations/versions/6f83bf257dc0_merge_divergent_migration_branches.py
  backend/migrations/versions/a02276d026d0_add_savedsearch_table_phase4.py
Due: check-imports-requirements, validate-migrations

feat: BATCH 2 - Add SavedSearches API endpoints
  backend/routers/routers_search.py
Due: check-imports-requirements, validate-rbac-decorators

docs: Update UNIFIED_WORK_PLAN with BATCH 4-6 completion
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat: BATCH 6 - Frontend SavedSearches Component
  frontend/src/features/search/SavedSearches.test.tsx
  frontend/src/features/search/SavedSearches.tsx
  frontend/src/features/search/index.ts
  frontend/src/locales/el.js
  frontend/src/locales/en.js
Due: none

feat: BATCH 5 - Frontend AdvancedFilters Component
  frontend/src/features/search/AdvancedFilters.test.tsx
  frontend/src/features/search/AdvancedFilters.tsx
  frontend/src/features/search/index.ts
Due: none

Path conditions:
  check-imports-requirements: any of: ^backend/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  check-operator-header: any of: ^scripts/operator/.*\.(ps1|sh|bat)$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-rbac-decorators: any of: ^backend/routers/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-migrations: any of: ^backend/(models\.py|migrations/).*$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
