Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

check-imports-requirements:
  name: Verify backend imports vs requirements
  entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
  language: system
  pass_filenames: false

check-operator-header:
  name: Ensure operator scripts have OPERATOR-ONLY header
  entry: python scripts/check_operator_header.py
  language: system
  pass_filenames: true

validate-rbac-decorators:
  name: 'RBAC: Validate decorator usage consistency'
  entry: python scripts/validate_rbac_decorators.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-migrations:
  name: 'Database: Validate migration consistency'
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(frontend): add autocomplete hints to password inputs
  frontend/src/components/admin/AdminUsersPanel.tsx
  frontend/src/features/export-admin/components/index.tsx
Due: none

fix(release): enforce tag-lineage, mandatory signing, and payload gates
  .github/workflows/release-installer-with-sha.yml
  INSTALLER_BUILDER.ps1
Due: none

fix(release): make signature gate self-signed aware via thumbprint check
  .github/workflows/release-installer-with-sha.yml
Due: none

fix(release): align payload guardrail with valid installer size
  .github/workflows/release-installer-with-sha.yml
Due: none

hardening(release): add configurable payload floor and post-upload digest gate
  .github/workflows/release-installer-with-sha.yml
Due: none

hardening(release): add non-blocking signer allowlist telemetry
  .github/workflows/release-installer-with-sha.yml
Due: none

hotfix(release): bump to 1.18.2 for installer runtime crash fix
  VERSION
  frontend/package.json
Due: none

docs(release): publish v1.18.2 docs and align version references
  CHANGELOG.md
  COMMIT_READY.ps1
  INSTALLER_BUILDER.ps1
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.2.md
  docs/releases/GITHUB_RELEASE_v1.18.2.md
  docs/releases/RELEASE_MANIFEST_v1.18.2.md
  docs/releases/RELEASE_NOTES_v1.18.2.md
  docs/user/USER_GUIDE_COMPLETE.md
Due: check-imports-requirements

fix(restore): auto-migrate sqlite backups to postgres on restore
  backend/routers/control/operations.py
  backend/tests/test_database_upload.py
  frontend/src/features/operations/components/DevToolsPanel.tsx
  frontend/src/locales/el/utils.js
  frontend/src/locales/en/utils.js
Due: check-imports-requirements, validate-rbac-decorators

fix(rbac): allow legacy admin fallback only for imports permissions
  backend/rbac.py
Due: check-imports-requirements

release(v1.18.3): bump versions and prepare patch docs
  CHANGELOG.md
  COMMIT_READY.ps1
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.3.md
  docs/releases/GITHUB_RELEASE_v1.18.3.md
  docs/releases/RELEASE_MANIFEST_v1.18.3.md
  docs/releases/RELEASE_NOTES_v1.18.3.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package.json
Due: check-imports-requirements

docs(release): mark v1.18.3 published and verified
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.3.md
  docs/releases/RELEASE_MANIFEST_v1.18.3.md
  docs/releases/RELEASE_NOTES_v1.18.3.md
Due: none

fix(rbac): allow admin imports fallback with partial grants
  backend/rbac.py
Due: check-imports-requirements

fix(migration): harden sqlite-to-postgres helper and refresh v1.18.2 docs
  backend/scripts/migrate_sqlite_to_postgres.py
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.2.md
  docs/releases/GITHUB_RELEASE_v1.18.2.md
  docs/releases/RELEASE_MANIFEST_v1.18.2.md
  docs/releases/RELEASE_NOTES_v1.18.2.md
Due: check-imports-requirements

docs(release): sync v1.18.3 signed installer hash and size
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.3.md
  docs/releases/GITHUB_RELEASE_v1.18.3.md
  docs/releases/RELEASE_MANIFEST_v1.18.3.md
  docs/releases/RELEASE_NOTES_v1.18.3.md
Due: none

fix(rbac): Implement dual-mode legacy role sync + multi-role UI enhancements
  backend/routers/routers_auth.py
  backend/routers/routers_rbac.py
  backend/tests/test_rbac_router.py
  frontend/src/components/admin/RBACPanel.tsx
  frontend/src/components/admin/__tests__/RBACPanel.test.tsx
  frontend/src/locales/el/rbac.js
  frontend/src/locales/en/rbac.js
Due: check-imports-requirements, validate-rbac-decorators

feat(rbac): implement hierarchical role inheritance
  backend/routers/routers_rbac.py
  backend/tests/test_rbac_router.py
Due: check-imports-requirements, validate-rbac-decorators

style(rbac): clean up trailing whitespace in RBAC files
  backend/routers/routers_rbac.py
  backend/tests/test_rbac_router.py
Due: check-imports-requirements, validate-rbac-decorators

fix(backup): use SQLite backup API to handle WAL mode - captures data instead of empty database
  BACKUP_ROOT_CAUSE_ANALYSIS.md
  backend/routers/control/operations.py
  backend/routers/routers_adminops.py
Due: check-imports-requirements, validate-rbac-decorators

fix(native): add automatic cleanup of stray Python venv processes on stop
  NATIVE.ps1
Due: none

fix(db): add missing columns causing API 500 errors
  backend/admin_routes.py
  backend/migrations/versions/935d87ad206c_add_missing_columns_course_enrollments_.py
Due: check-imports-requirements, validate-migrations

feat(ui): add restore backup from server button in DevToolsPanel
  frontend/src/features/operations/components/DevToolsPanel.tsx
  frontend/src/locales/el/utils.js
  frontend/src/locales/en/utils.js
Due: none

docs: add backup system fix summary
  BACKUP_FIX_SUMMARY.md
Due: none

fix(linting): add missing logger import in control operations router
  backend/routers/control/operations.py
Due: check-imports-requirements, validate-rbac-decorators

fix(frontend): correct theme property reference in DevToolsPanel - use theme.button not theme.primaryButton
  frontend/src/features/operations/components/DevToolsPanel.tsx
Due: none

fix(backend): add auth protection to database-backup endpoint and update test expectations for loopback behavior
  backend/routers/control/operations.py
  backend/tests/test_admin_backup_encryption.py
Due: check-imports-requirements, validate-rbac-decorators

fix(rbac-tests): set AUTH_MODE=permissive to properly enforce permissions in RBAC enforcement test
  backend/tests/test_rbac_enforcement.py
Due: check-imports-requirements

chore: remove test failure marker (all tests now passing)
  .test-failures
Due: none

docs: update CHANGELOG with pre-release fixes (1.18.3 → 1.18.4)
  CHANGELOG.md
  docs/BACKUP_FIX_SUMMARY.md
  docs/BACKUP_ROOT_CAUSE_ANALYSIS.md
Due: none

docs: add comprehensive pre-release validation summary for v1.18.4
  PRE_RELEASE_VALIDATION_COMPLETE_v1.18.4.md
Due: none

docs(installer): comprehensive v1.18.3 update with parameter audit
  CHANGELOG.md
  PRE_RELEASE_VALIDATION_COMPLETE_v1.18.4.md
  installer/INSTALLER_CHANGELOG.md
  installer/INSTALLER_PARAMETER_UPDATE_COMPLETE.md
  installer/INSTALLER_TESTING_GUIDE.md
  installer/INSTALLER_v1.18.3_DEPLOYMENT_UPDATE.md
  installer/PARAMETER_AUDIT_v1.18.3.md
  installer/README.md
  installer/SMS_Installer.iss
Due: none

fix(control-api): allow admin bearer auth for backups
  backend/control_auth.py
  docs/reports/2026-02/PRE_RELEASE_VALIDATION_COMPLETE_v1.18.4.md
  frontend/src/components/admin/__tests__/RBACPanel.test.tsx
  frontend/src/features/operations/components/DevToolsPanel.tsx
  frontend/src/locales/el/utils.js
  frontend/src/locales/en/utils.js
Due: check-imports-requirements

fix(control-api): allow remote admin bearer auth without ALLOW_REMOTE_SHUTDOWN
  backend/control_auth.py
Due: check-imports-requirements

refactor(ui): remove redundant ADMIN_SHUTDOWN_TOKEN field from backup UI
  frontend/src/features/operations/components/DevToolsPanel.tsx
Due: none

fix(security): complete control operations authorization and backup infrastructure hardening
  backend/routers/control/operations.py
  docker/Dockerfile.fullstack
  frontend/src/features/operations/components/DevToolsPanel.tsx
Due: check-imports-requirements, validate-rbac-decorators

chore(release): prepare v1.18.4 metadata, docs, and backup endpoint hardening
  .github/RELEASE_NOTES_v1.18.4.md
  CHANGELOG.md
  COMMIT_READY.ps1
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  backend/routers/control/operations.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.4.md
  docs/releases/GITHUB_RELEASE_v1.18.4.md
  docs/releases/RELEASE_MANIFEST_v1.18.4.md
  docs/releases/RELEASE_NOTES_v1.18.4.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package.json
Due: check-imports-requirements, validate-rbac-decorators

fix(release): avoid default-branch ref detection failure in tag policy gate
  .github/workflows/release-on-tag.yml
Due: none

docs(release): close v1.18.4 with verified workflow evidence
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.4.md
  docs/releases/RELEASE_MANIFEST_v1.18.4.md
Due: none

ci(security): gate frontend audit to production deps and preserve lint stability
  .github/workflows/ci-cd-pipeline.yml
  frontend/package-lock.json
  frontend/package.json
Due: none

Path conditions:
  check-imports-requirements: any of: ^backend/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  check-operator-header: any of: ^scripts/operator/.*\.(ps1|sh|bat)$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-rbac-decorators: any of: ^backend/routers/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-migrations: any of: ^backend/(models\.py|migrations/).*$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
