Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

test: stabilize import export e2e selectors
  frontend/src/components/import-export/index.tsx
  frontend/tests/e2e/feature_127_import_export.spec.ts
  frontend/tests/e2e/import_export.spec.ts
Due: none

test: stabilize notification e2e selectors
  frontend/src/components/NotificationCenter.tsx
  frontend/src/components/notifications/NotificationDropdown.tsx
  frontend/tests/e2e/feature_127_import_export.spec.ts
  frontend/tests/e2e/import_export.spec.ts
  frontend/tests/e2e/notifications.spec.ts
Due: none

test: avoid flaky notification badge sync
  frontend/tests/e2e/notifications.spec.ts
Due: none

test: stabilize remaining e2e assumptions
  frontend/tests/e2e/notifications.spec.ts
  frontend/tests/e2e/performance-benchmark.spec.ts
  frontend/tests/e2e/pwa.spec.ts
Due: none

test: align pwa and performance e2e
  frontend/tests/e2e/performance-benchmark.spec.ts
  frontend/tests/e2e/pwa.spec.ts
Due: none

test: wire pwa prompts and saved search e2e
  frontend/src/App.tsx
  frontend/src/hooks/usePwaInstall.ts
  frontend/src/main.tsx
  frontend/tests/e2e/pwa.spec.ts
  frontend/tests/e2e/saved-search.spec.ts
Due: none

test: fix advanced search e2e login
  frontend/tests/e2e/search_advanced.spec.ts
Due: none

fix postcss dependabot alert
  frontend/package-lock.json
  frontend/package.json
Due: none

fix ci workflow paths for postcss alert
  .github/workflows/e2e-tests.yml
  .github/workflows/load-testing.yml
  backend/validate_e2e_data.py
Due: check-imports-requirements

test: respect e2e base url in analytics
  frontend/tests/analytics-dashboard.spec.ts
Due: none

fix analytics e2e empty states
  frontend/src/features/dashboard/components/AnalyticsCharts.tsx
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/tests/analytics-dashboard.spec.ts
Due: none

test: align search e2e with current search page
  frontend/tests/e2e/search_advanced.spec.ts
Due: none

fix backup path resolution on windows
  backend/services/backup_service_encrypted.py
Due: check-imports-requirements

fix(deps): add fast-uri override for ajv and finalize frontend/backend cleanup
  backend/routers/control/database.py
  backend/routers/routers_import_export.py
  backend/services/backup_service_encrypted.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/search/SearchView.tsx
Due: check-imports-requirements, validate-rbac-decorators

build(deps): bump python-multipart from 0.0.26 to 0.0.27 - security fixes CVE-2024-24762
  backend/requirements-dev.txt
  backend/requirements.txt
  pyproject.toml
Due: none

[codex] Fix PostCSS Dependabot alert 154 (#185)
  .github/workflows/e2e-tests.yml
  .github/workflows/load-testing.yml
  backend/services/backup_service_encrypted.py
  backend/validate_e2e_data.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/dashboard/components/AnalyticsCharts.tsx
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/tests/analytics-dashboard.spec.ts
Due: check-imports-requirements

ci: update GitHub Actions workflows for Node.js v24 compatibility and fix deprecations
  .github/workflows/apply-branch-protection.yml
  .github/workflows/backend-deps.yml
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/cleanup-workflow-runs.yml
  .github/workflows/commit-ready-smoke.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-deps.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/operator-approval.yml
  .github/workflows/release-on-tag.yml
Due: none

chore(workflows): add GitHub CLI availability guard for gh-dependent workflow steps
  .github/workflows/archive-legacy-releases.yml
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/cleanup-deployments.yml
  .github/workflows/cleanup-workflow-runs.yml
  .github/workflows/dependabot-auto.yml
  .github/workflows/release-asset-sanitizer.yml
  .github/workflows/release-installer-with-sha.yml
  .github/workflows/sync-installer-artifact.yml
Due: none

feat(analytics): fix nested APIResponse wrapper unwrapping and add regression test
  frontend/src/features/analytics/hooks/__tests__/useAnalytics.test.ts
  frontend/src/features/analytics/hooks/useAnalytics.ts
Due: none

fix(analytics): route /analytics to analytics feature page
  frontend/src/pages/AnalyticsPage.tsx
Due: none

Fix analytics i18n namespaces
  frontend/src/features/analytics/components/AnalyticsDashboard.tsx
  frontend/src/features/analytics/components/AttendanceCard.tsx
  frontend/src/features/analytics/components/GradeDistributionChart.tsx
  frontend/src/features/analytics/components/PerformanceCard.tsx
  frontend/src/features/analytics/components/TrendsChart.tsx
  frontend/src/features/analytics/components/__tests__/AnalyticsDashboard.test.tsx
  frontend/src/features/analytics/components/__tests__/CardComponents.test.tsx
  frontend/src/locales/el/analytics.js
  frontend/src/locales/en/analytics.js
Due: none

Fix analytics page route component
  frontend/src/pages/AnalyticsPage.tsx
Due: none

Keep analytics dashboard visible on summary failure
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/src/features/dashboard/components/__tests__/AnalyticsDashboard.test.tsx
Due: none

Fix analytics dashboard exports
  backend/routers/routers_analytics.py
  backend/tests/test_routers_analytics.py
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
Due: check-imports-requirements, validate-rbac-decorators

fix(rbac): restore analytics export access
  backend/API_PERMISSIONS_REFERENCE.md
  backend/rbac.py
  backend/routers/routers_analytics.py
  backend/tests/test_rbac_templates.py
  docs/admin/PERMISSION_REFERENCE.md
  docs/admin/RBAC_ADMIN_GUIDE.md
Due: check-imports-requirements, validate-rbac-decorators

chore(release): bump version to v1.18.22 and update docs/scripts headers
  .gitignore
  COMMIT_READY.ps1
  DOCKER.ps1
  INSTALLER_BUILDER.ps1
  NATIVE.ps1
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package-lock.json
  frontend/package.json
Due: check-imports-requirements

chore(release): bump version to 1.18.22 and update docs
  .github/RELEASE_NOTES_v1.18.22.md
  CHANGELOG.md
  docs/releases/GITHUB_RELEASE_v1.18.22.md
  docs/releases/RELEASE_NOTES_v1.18.22.md
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
Due: none

chore: stabilize path traversal test and trim release-note whitespace
  .github/RELEASE_NOTES_v1.18.22.md
  backend/tests/test_path_traversal_security.py
  docs/releases/GITHUB_RELEASE_v1.18.22.md
  docs/releases/RELEASE_NOTES_v1.18.22.md
Due: check-imports-requirements

fix(frontend): pin ws to patched range in lockfile
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add metrics middleware and harden analytics/form typings
  backend/middleware/prometheus_metrics.py
  backend/requirements.txt
  backend/tests/test_metrics_endpoint.py
  backend/tests/test_metrics_simple.py
  frontend/src/features/analytics/components/GradeDistributionChart.tsx
  frontend/src/features/analytics/components/TrendsChart.tsx
  frontend/src/features/courses/components/AddCourseModal.tsx
  frontend/src/features/courses/components/EditCourseModal.tsx
  frontend/src/features/students/components/AddStudentModal.tsx
  frontend/src/features/students/components/EditStudentModal.tsx
  frontend/src/types/form-libraries.d.ts
  pyproject.toml
Due: check-imports-requirements

chore: ignore local CSV fixtures
  .gitignore
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  data/imports/1_courses.csv
  data/imports/1_grades.csv
  data/imports/1_students.csv
Due: none

fix: change vite host from localhost to 127.0.0.1 for cookie domain compatibility
  frontend/vite.config.ts
Due: none

fix(schemas): resolve zod partial() with refinements incompatibility in update schemas
  frontend/src/schemas/attendance.schema.ts
  frontend/src/schemas/grade.schema.ts
  frontend/src/schemas/student.schema.ts
Due: none

chore(agent): refresh agent guidance and add motion-dom frontend dependency
  .github/copilot-instructions.md
  docs/misc/AGENTS.md
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: resolve localhost vs 127.0.0.1 cookie domain mismatch for login
  .claude/settings.json
  .claude/settings.local.json
  backend/config.py
  backend/routers/routers_auth.py
Due: check-imports-requirements, validate-rbac-decorators

fix: remove 'v' prefix from VERSION file to prevent double 'v' in display
  VERSION
Due: none

fix: prevent NATIVE_TOGGLE from falsely detecting stale processes as running
  NATIVE_TOGGLE.ps1
Due: none

fix: improve dev server browser-open hook error handling
  .claude/settings.json
Due: none

fix: filter out zombie processes from port listener detection
  NATIVE_TOGGLE.ps1
Due: none
