Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

check-imports-requirements:
  name: Verify backend imports vs requirements
  entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
  language: system
  pass_filenames: false

check-operator-header:
  name: Ensure operator scripts have OPERATOR-ONLY header
  entry: python scripts/check_operator_header.py
  language: system
  pass_filenames: true

validate-rbac-decorators:
  name: 'RBAC: Validate decorator usage consistency'
  entry: python scripts/validate_rbac_decorators.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-migrations:
  name: 'Database: Validate migration consistency'
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(monitoring): add post-automation follow-up checkpoint 4
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

docs(monitoring): add post-automation follow-up checkpoint 5
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

docs(monitoring): add post-automation follow-up checkpoint 6
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

docs(monitoring): add post-automation follow-up checkpoint 7
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

docs(monitoring): add post-automation follow-up checkpoint 8
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

docs(monitoring): add post-automation follow-up checkpoint 9
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

docs(monitoring): add post-automation follow-up checkpoint 10
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

docs(monitoring): add post-automation follow-up checkpoint 11
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

docs(monitoring): log post-automation follow-up 12 checkpoint
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

fix(native): harden startup sequencing and port/process recovery
  NATIVE.ps1
  backend/lifespan.py
  backend/routers/control/common.py
  backend/routers/routers_exports.py
Due: check-imports-requirements, validate-rbac-decorators

fix(restore): pass backup_name without .enc to service (fixes encrypted backup decryption)
  backend/routers/control/operations.py
Due: check-imports-requirements, validate-rbac-decorators

fix(students): format historical record dates to Greek format (DD/MM/YYYY)
  frontend/src/features/students/components/StudentCard.tsx
Due: none

refactor(native): harden native mode stability and error handling
  NATIVE.ps1
  backend/admin_routes.py
  backend/config.py
  frontend/src/features/grading/components/GradingView.tsx
  frontend/src/utils/errorMessage.test.ts
  frontend/src/utils/errorMessage.ts
Due: check-imports-requirements

chore(monitoring): log checkpoint for feb 28 production restart with health verification
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

docs(monitoring): conclude feb 28 monitoring phase with CI health check verification
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/STABILITY_MONITORING.md
Due: none

chore(cleanup): organize workspace artifacts and update gitignore
  .gitignore
  archive/cleanup-feb2026/RESTORE_VERIFICATION_GUIDE_2026-02-27.md
Due: none

security(deps): fix 4 high-severity npm vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(tests): add DateTimeSettingsProvider wrapper to StudentCard tests - resolves all 33 test failures
  frontend/src/features/students/components/StudentCard.test.tsx
Due: none

chore: code formatting and dependency updates
  archive/cleanup-feb2026/RESTORE_VERIFICATION_GUIDE_2026-02-27.md
  backend/admin_routes.py
  backend/routers/control/operations.py
  frontend/package-lock.json
  frontend/package.json
Due: check-imports-requirements, validate-rbac-decorators

fix(typescript): resolve duplicate property type error in errorMessage
  frontend/src/utils/errorMessage.ts
Due: none

test(e2e): harden report-workflows spec (graceful setup, mobile skip, API fallback)
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/tests/e2e/report-workflows.spec.ts
Due: none

feat(analytics): add comprehensive analytics dashboard and prediction system for v1.18.5
  VERSION
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  backend/routers/routers_analytics.py
  backend/services/__init__.py
  backend/services/analytics_export_service.py
  backend/services/predictive_analytics_service.py
  docs/analytics
  frontend/package.json
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/src/features/dashboard/components/ChartDrillDown.tsx
  frontend/src/features/dashboard/components/CustomReportBuilder.tsx
  frontend/src/features/dashboard/components/PredictiveAnalyticsPanel.tsx
  frontend/src/features/dashboard/components/SavedReportsPanel.tsx
  frontend/src/features/dashboard/components/builder-steps/ChartTypeSelector.tsx
  frontend/src/features/dashboard/components/builder-steps/DataSeriesPicker.tsx
  frontend/src/features/dashboard/components/builder-steps/FilterConfiguration.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportPreview.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportTemplate.tsx
  frontend/src/features/dashboard/components/builder-steps/index.ts
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
  frontend/src/features/dashboard/hooks/usePredictiveAnalytics.ts
  frontend/src/features/dashboard/index.ts
  frontend/src/features/dashboard/utils/chartAnimations.ts
  frontend/src/features/dashboard/utils/dataOptimization.ts
  frontend/src/locales/el/analytics.js
  frontend/src/locales/en/analytics.js
Due: check-imports-requirements, validate-rbac-decorators

docs(work-plan): update for v1.18.5 analytics release completion
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(release): add comprehensive v1.18.5 release documentation package
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.5.md
  docs/releases/GITHUB_RELEASE_v1.18.5.md
  docs/releases/RELEASE_MANIFEST_v1.18.5.md
  docs/releases/RELEASE_NOTES_v1.18.5.md
Due: none

docs(release-procedure): document mandatory three-phase release procedure and v1.18.5 incident correction
  docs/RELEASE_PROCEDURE_MANDATORY.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/GITHUB_RELEASE_v1.18.5_CORRECTED.md
Due: none

docs(instructions): add Policy 9 for mandatory script-based release workflow
  .github/copilot-instructions.md
  docs/RELEASE_PROCEDURE_CORRECT.md
Due: none

docs(release): align v1.18.5 docs with repaired asset state + fix security advisories
  CHANGELOG.md
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/RELEASE_MANIFEST_v1.18.5.md
  package-lock.json
  package.json
Due: none

fix(version): update all version references to 1.18.5
  COMMIT_READY.ps1
  INSTALLER_BUILDER.ps1
  backend/main.py
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/user/USER_GUIDE_COMPLETE.md
Due: check-imports-requirements

revert(analytics): defer analytics feature to v1.19.0 for CI stability
  CHANGELOG.md
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  backend/routers/routers_analytics.py
  backend/services/__init__.py
  backend/services/analytics_export_service.py
  backend/services/predictive_analytics_service.py
  docs/DOCUMENTATION_INDEX.md
  docs/analytics
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/RELEASE_MANIFEST_v1.18.5.md
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/src/features/dashboard/components/ChartDrillDown.tsx
  frontend/src/features/dashboard/components/CustomReportBuilder.tsx
  frontend/src/features/dashboard/components/PredictiveAnalyticsPanel.tsx
  frontend/src/features/dashboard/components/SavedReportsPanel.tsx
  frontend/src/features/dashboard/components/builder-steps/ChartTypeSelector.tsx
  frontend/src/features/dashboard/components/builder-steps/DataSeriesPicker.tsx
  frontend/src/features/dashboard/components/builder-steps/FilterConfiguration.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportPreview.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportTemplate.tsx
  frontend/src/features/dashboard/components/builder-steps/index.ts
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
  frontend/src/features/dashboard/hooks/usePredictiveAnalytics.ts
  frontend/src/features/dashboard/index.ts
  frontend/src/features/dashboard/utils/chartAnimations.ts
  frontend/src/features/dashboard/utils/dataOptimization.ts
  frontend/src/locales/el/analytics.js
  frontend/src/locales/en/analytics.js
Due: check-imports-requirements, validate-rbac-decorators

docs(release): finalize v1.18.5 documentation cleanup
  CHANGELOG.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.5.md
  docs/releases/GITHUB_RELEASE_v1.18.5.md
  docs/releases/GITHUB_RELEASE_v1.18.5_CORRECTED.md
  docs/releases/RELEASE_MANIFEST_v1.18.5.md
  docs/releases/RELEASE_NOTES_v1.18.5.md
Due: none

docs(analytics): add comprehensive analytics revival plan for v1.19.0
  docs/plans/ANALYTICS_REVIVAL_PLAN.md
Due: none

fix(analytics-tests): achieve 100% pass rate for Phase 4 analytics test suite - 23/23 tests passing
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  backend/routers/routers_analytics.py
  backend/services/__init__.py
  backend/services/analytics_export_service.py
  backend/services/predictive_analytics_service.py
  docs/analytics
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/src/features/dashboard/components/ChartDrillDown.tsx
  frontend/src/features/dashboard/components/CustomReportBuilder.tsx
  frontend/src/features/dashboard/components/PredictiveAnalyticsPanel.tsx
  frontend/src/features/dashboard/components/SavedReportsPanel.tsx
  frontend/src/features/dashboard/components/__tests__/AnalyticsDashboard.test.tsx
  frontend/src/features/dashboard/components/__tests__/ChartDrillDown.test.tsx
  frontend/src/features/dashboard/components/__tests__/CustomReportBuilder.test.tsx
  frontend/src/features/dashboard/components/__tests__/PredictiveAnalyticsPanel.test.tsx
  frontend/src/features/dashboard/components/builder-steps/ChartTypeSelector.tsx
  frontend/src/features/dashboard/components/builder-steps/DataSeriesPicker.tsx
  frontend/src/features/dashboard/components/builder-steps/FilterConfiguration.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportPreview.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportTemplate.tsx
  frontend/src/features/dashboard/components/builder-steps/index.ts
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
  frontend/src/features/dashboard/hooks/usePredictiveAnalytics.ts
  frontend/src/features/dashboard/index.ts
  frontend/src/features/dashboard/utils/chartAnimations.ts
  frontend/src/features/dashboard/utils/dataOptimization.ts
  frontend/src/locales/el/analytics.js
  frontend/src/locales/en/analytics.js
Due: check-imports-requirements, validate-rbac-decorators

feat(analytics): reintegrate comprehensive analytics dashboard for v1.18.6
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  backend/tests/test_analytics_export_service.py
  backend/tests/test_predictive_analytics_service.py
  backend/tests/test_routers_analytics.py
  docs/plans/ANALYTICS_REVIVAL_PLAN.md
  frontend/src/features/dashboard/components/SavedReportsPanel.tsx
  frontend/src/features/dashboard/hooks/usePredictiveAnalytics.ts
  frontend/src/features/dashboard/types/analytics.ts
  installer/INSTALLER_PARAMETER_UPDATE_COMPLETE.md
  installer/INSTALLER_v1.18.3_DEPLOYMENT_UPDATE.md
Due: check-imports-requirements

chore(release): bump version to 1.18.6
  VERSION
  frontend/package.json
Due: none

docs(version): update all version references to 1.18.6
  COMMIT_READY.ps1
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
Due: check-imports-requirements

chore(release): bump version to 1.18.6 and update docs
  .github/RELEASE_NOTES_v1.18.6.md
  .test-failures
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  README.md
  backend/.test-failures
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  backend/services/analytics_export_service.py
  backend/services/predictive_analytics_service.py
  backend/tests/test_analytics_export_service.py
  backend/tests/test_predictive_analytics_service.py
  backend/tests/test_routers_analytics.py
  docs/RELEASE_PROCEDURE_MANDATORY.md
  docs/analytics
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/releases/GITHUB_RELEASE_v1.18.6.md
  docs/releases/RELEASE_MANIFEST_v1.18.5.md
  docs/releases/RELEASE_NOTES_v1.18.6.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package-lock.json
Due: check-imports-requirements

docs(release): enhance v1.18.6 CHANGELOG with comprehensive analytics feature details
  .test-failures
  CHANGELOG.md
Due: none

docs(release): add comprehensive v1.18.6 release documentation set
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.6.md
  docs/releases/GITHUB_RELEASE_v1.18.6.md
  docs/releases/RELEASE_MANIFEST_v1.18.6.md
  docs/releases/RELEASE_NOTES_v1.18.6.md
Due: none

feat(release): add v1.18.6 verification script and update work plan
  docs/plans/UNIFIED_WORK_PLAN.md
  scripts/VERIFY_RELEASE_v1.18.6.ps1
Due: none

fix(types): resolve mypy mismatches in analytics export, courses router, and path validation
  backend/routers/routers_courses.py
  backend/security/path_validation.py
  backend/services/analytics_export_service.py
Due: check-imports-requirements, validate-rbac-decorators

Path conditions:
  check-imports-requirements: any of: ^backend/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  check-operator-header: any of: ^scripts/operator/.*\.(ps1|sh|bat)$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-rbac-decorators: any of: ^backend/routers/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-migrations: any of: ^backend/(models\.py|migrations/).*$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
