Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

fix(i18n): use LanguageContext for reports translations
  frontend/src/components/StudentPerformanceReport.tsx
Due: none

fix(reports): localize student report exports
  backend/services/report_exporters.py
Due: check-imports-requirements

feat(i18n): add missing translation keys for report builder controls (moveUp, moveDown, noFields, sortingOrder)
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: none

feat(reports): implement server-side language support for PDF/CSV export (en/el bilingual)
  backend/routers/routers_reports.py
  backend/schemas/reports.py
  backend/services/report_exporters.py
  frontend/src/components/StudentPerformanceReport.tsx
Due: check-imports-requirements, validate-rbac-decorators

debug: add language context logging for translations
  frontend/src/components/StudentPerformanceReport.tsx
Due: none

fix(i18n): correct namespace usage in report builder child components for proper Greek localization
  frontend/src/features/custom-reports/components/FieldSelector.tsx
  frontend/src/features/custom-reports/components/FilterBuilder.tsx
  frontend/src/features/custom-reports/components/SortBuilder.tsx
Due: none

fix(syntax): restore missing opening quotes in i18n calls
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/custom-reports/components/ReportTemplateList.tsx
Due: none

fix(i18n): fix all namespace usage in report components for complete Greek localization
  frontend/src/features/custom-reports/components/FieldSelector.tsx
  frontend/src/features/custom-reports/components/FilterBuilder.tsx
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/custom-reports/components/ReportTemplateList.tsx
  frontend/src/features/custom-reports/components/SortBuilder.tsx
Due: none

refactor(reports): remove copy suffix - keep template names clean and simple
  commit_ready_20260202-190724.log
  commit_ready_20260202-192811.log
  commit_ready_20260202-201338.log
  frontend/src/api/customReportsAPI.ts
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/custom-reports/components/ReportTemplateList.tsx
  frontend/src/features/custom-reports/pages/ReportTemplateBrowserPage.tsx
  frontend/src/features/custom-reports/utils/templateLocalization.ts
  frontend/src/hooks/useCustomReports.ts
  templates/report_templates.json
Due: none

i18n(reports): correct attendance template names - 'Full Attendance' and 'Partial Attendance'
  frontend/src/features/custom-reports/utils/templateLocalization.ts
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: none

fix(i18n): restore remaining missing opening quotes in translation calls
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/custom-reports/components/ReportTemplateList.tsx
Due: none

feat(reports): add import default templates API endpoint and service method
  backend/routers/routers_custom_reports.py
  backend/services/custom_report_service.py
Due: check-imports-requirements, validate-rbac-decorators

feat(reports): add CSV export templates and detailed analytics templates
  backend/services/custom_report_service.py
  frontend/src/features/custom-reports/utils/templateLocalization.ts
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: check-imports-requirements

fix(i18n): add fallback mappings for existing template names in database
  backend/services/custom_report_service.py
  frontend/src/features/custom-reports/utils/templateLocalization.ts
Due: check-imports-requirements

refactor(i18n): unify translation method for import toast notifications across codebase
  frontend/src/hooks/useCustomReports.ts
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: none

feat(reports): add toast notifications and debug logging for template import
  backend/services/custom_report_service.py
  frontend/src/api/customReportsAPI.ts
  frontend/src/hooks/useCustomReports.ts
Due: check-imports-requirements

fix(reports): remove unused useTranslation import causing ReferenceError
  frontend/src/hooks/useCustomReports.ts
Due: none

fix(reports): initialize imported_count and add detailed import logging
  backend/services/custom_report_service.py
  frontend/src/hooks/useCustomReports.ts
Due: check-imports-requirements

fix(reports): allow importing new templates even if old ones exist - check by name
  backend/services/custom_report_service.py
Due: check-imports-requirements

fix(reports): Add missing CSV and Analytics template tab translations
  frontend/src/features/custom-reports/components/ReportTemplateList.tsx
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: none

feat(reports): Auto-switch to CSV templates tab when CSV format is selected
  frontend/src/features/custom-reports/components/ReportTemplateList.tsx
Due: none

ci: Add concurrency groups to prevent CI/CD queue buildup
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/markdown-lint.yml
Due: none

ci: Add workflow_dispatch to unblock manual CI reruns
  .github/workflows/codeql.yml
  .github/workflows/commit-ready-cleanup-smoke.yml
  .github/workflows/commit-ready-smoke.yml
  .github/workflows/markdown-lint.yml
Due: none

refactor(reports): Remove duplicate tiles - already exist in OperationsView
  frontend/src/features/custom-reports/components/ReportTemplateList.tsx
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: none

feat(reports): Add Analytics tile to Operations panel for template discovery
  frontend/src/features/operations/components/OperationsView.tsx
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: none

fix(reports): Use boolean is_ check for system templates
  backend/services/custom_report_service.py
Due: check-imports-requirements

ci: Limit heavy workflows to PRs/schedule
  .github/workflows/codeql.yml
  .github/workflows/commit-ready-cleanup-smoke.yml
  .github/workflows/commit-ready-smoke.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/trivy-scan.yml
Due: none

feat(reports): Add clickable Analytics and CSV tiles for quick template access
  frontend/src/features/custom-reports/components/ReportTemplateList.tsx
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: none

fix(native-backend): resolve websocket, apscheduler, and migration issues
  backend/app_factory.py
  backend/migrations/versions/0b65fa8f5f95_baseline.py
  docs/plans/UNIFIED_WORK_PLAN.md
  pyproject.toml
Due: check-imports-requirements, validate-migrations

docs: Update work plan - Native backend fixes verified and complete
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs: Update work plan - Historical Edit feature complete
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(historical-edit): Add Recall buttons to StudentPerformanceReport for editing past records
  frontend/src/components/StudentPerformanceReport.tsx
Due: none

docs(plan): Update CI/CD recovery completion status (Feb 3, 2026)
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(plan): Note CI queue cooldown for next session
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(i18n-dates): Format dates as DD-MM-YYYY in historical mode banners for Greek locale compatibility
  frontend/src/features/attendance/components/AttendanceView.tsx
  frontend/src/features/grading/components/GradingView.tsx
Due: none

docs: Add v1.17.7 release notes and fix markdown table formatting
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/RELEASE_NOTES_v1.17.7.md
Due: none

fix(docker): Fix nginx redirect rewriting for proper CORS handling
  docker/nginx.conf
Due: none

fix(docker): Add reverse proxy headers for CORS redirect issues in Docker deployment
  backend/middleware_config.py
  docker/nginx.conf
Due: check-imports-requirements

fix(docker): Improve nginx redirect rewriting to handle all redirect sources
  docker/nginx.conf
Due: none

docs(plan): Update work plan - v1.17.7 release preparation complete
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none
