Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

docs(release): record executed v1.18.12 checklist state
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.12.md
  docs/releases/GITHUB_RELEASE_FIRST_OFFICIAL_PUBLIC_DRAFT.md
Due: none

fix(release): stabilize migration validation and finalize publication wording
  backend/tests/test_run_migrations_repo_root.py
  docs/DOCUMENTATION_INDEX.md
  docs/VERSION_HISTORY.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/GITHUB_RELEASE_FIRST_OFFICIAL_PUBLIC_DRAFT.md
Due: check-imports-requirements

docs(release): rename publication draft references
  docs/DOCUMENTATION_INDEX.md
  docs/releases/GITHUB_RELEASE_FIRST_OFFICIAL_PUBLIC_DRAFT.md
Due: none

chore(cleanup): archive obsolete scripts and align active docs
  CI_CD_SETUP_HELPER.ps1
  RUN_E2E_TESTS.ps1
  RUN_FRONTEND_TESTS.ps1
  RUN_FRONTEND_TESTS_SIMPLE.ps1
  RUN_FRONTEND_TESTS_SUMMARY.ps1
  archive/deprecated-scripts/CI_CD_SETUP_HELPER.ps1
  archive/deprecated-scripts/EMERGENCY_FIX_400_ERROR.ps1
  archive/deprecated-scripts/RUN_E2E_DIRECT.ps1
  archive/deprecated-scripts/RUN_FRONTEND_TESTS_SIMPLE.ps1
  archive/deprecated-scripts/RUN_FRONTEND_TESTS_SUMMARY.ps1
  archive/deprecated-scripts/VERIFY_RELEASE_v1.18.6.ps1
  archive/deprecated-scripts/deploy_v1.18.0.ps1
  archive/deprecated-scripts/fix_test_imports.ps1
  archive/deprecated-scripts/fix_unused_vars.ps1
  archive/deprecated-scripts/merge_pr_132.ps1
  archive/deprecated-scripts/prepare_release.ps1
  archive/deprecated-scripts/setup_git_hooks.ps1
  docs/DOCUMENTATION_INDEX.md
  docs/RELEASE_PROCEDURE_MANDATORY.md
  docs/development/AUTOMATED_DEPRECATION_CHECKS.md
  docs/development/GIT_WORKFLOW.md
  docs/development/PRE_COMMIT_HOOK_RECURSION_FIX.md
  docs/development/RELEASE_DOCS_GENERATOR_INTEGRATION.md
  docs/development/TEST_RUNNERS_GUIDE.md
  docs/development/WORKSPACE_MANAGEMENT_TOOLKIT.md
  docs/development/release-workflow/COMPLETE_RELEASE_WORKFLOW.md
  docs/development/release-workflow/POST_RELEASE_CLEANUP_GUIDE.md
  docs/development/release-workflow/WORKFLOW_DOCUMENTATION_INDEX.md
  docs/misc/CI_CD_SETUP_QUICK_REFERENCE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/processes/RELEASE_SCRIPTS_OVERVIEW.md
  docs/releases/MAJOR_RELEASE_PREPARATION_PLAN.md
  installer/INSTALLER_CRITICAL_FIX_400_ERROR.md
  scripts/deploy_v1.18.0.ps1
  scripts/prepare_release.ps1
Due: none

chore(maintenance): add Copilot guidance and clean legacy workflow docs
  .github/agents/debug.agent.md
  .github/agents/research.agent.md
  .github/agents/spec.agent.md
  .github/instructions/code-review.instructions.md
  .github/instructions/git-message.instructions.md
  .github/instructions/test-generation.instructions.md
  .github/prompts/code-review.prompt.md
  .github/prompts/commit.prompt.md
  .github/prompts/reflect.prompt.md
  .github/workflows/apply-branch-protection.yml
  .github/workflows/ci-cd-pipeline.yml
  .gitignore
  .vscode/settings.json
  AGENTS.md
  COMMIT_READY.ps1
  GENERATE_RELEASE_DOCS.ps1
  RELEASE_READY.ps1
  RELEASE_WITH_DOCS.ps1
  archive/deprecated-scripts/CI_CD_SETUP_HELPER.ps1
  archive/deprecated-scripts/RUN_E2E_DIRECT.ps1
  archive/deprecated-scripts/RUN_FRONTEND_TESTS_SIMPLE.ps1
  archive/deprecated-scripts/RUN_FRONTEND_TESTS_SUMMARY.ps1
  docs/DOCUMENTATION_INDEX.md
  docs/deployment/INDEX.md
  docs/deployment/PHASE5_PRODUCTION_DEPLOYMENT_COMPLETE.md
  docs/deployment/PRODUCTION_DEPLOYMENT_VERIFICATION_CHECKLIST_v1.17.6.md
  docs/deployment/PRODUCTION_GO_LIVE_GUIDE_v1.17.6.md
  docs/deployment/phase5/PHASE5_COMPLETION_OVERVIEW.md
  docs/deployment/phase5/PHASE5_DOCUMENT_INDEX.md
  docs/deployment/phase5/PHASE5_READY_FOR_GOLIVE_CHECKLIST.md
  docs/development/AUTOMATED_DEPRECATION_CHECKS.md
  docs/development/DEPRECATION_POLICY.md
  docs/plans/PHASE6_FEATURE_SELECTION.md
  docs/processes/RELEASE_SCRIPTS_OVERVIEW.md
  docs/testing/PRODUCTION_TESTING_COMPREHENSIVE_GUIDE.md
  docs/training/TRAINING_CREDENTIALS.md
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
  scripts/training/Setup-TrainingEnvironment.ps1
Due: none

docs(phase5): fix historical index links
  docs/deployment/phase5/PHASE5_DOCUMENT_INDEX.md
Due: none

fix(qnap): harden postgres-only deployment path
  .env.qnap.postgres-only.example
  docs/deployment/MULTI_PC_DEPLOYMENT_GUIDE.md
  docs/deployment/QNAP_DEPLOYMENT_GUIDE_COMPLETE.md
  scripts/qnap/README.md
  scripts/qnap/install-qnap-postgres-only.sh
  scripts/qnap/manage-qnap-postgres-only.sh
Due: none

docs(work-plan): record qnap hardening follow-up
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(native): harden fallback-port guard and proxy port routing
  NATIVE.ps1
  frontend/src/api/__tests__/api.fallback.test.ts
  frontend/src/api/api.ts
  frontend/vite.config.ts
Due: none

fix(reports): resolve data-pipeline root cause for empty report cells
  backend/requirements-dev.txt
  backend/services/custom_report_generation_service.py
  backend/services/custom_report_service.py
  backend/tests/test_custom_report_generation_service.py
  backend/tests/test_custom_reports_service.py
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/custom-reports/components/SortBuilder.tsx
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: check-imports-requirements

fix(reports): supersede stale artifacts and add history toggle
  backend/routers/routers_custom_reports.py
  backend/services/custom_report_generation_service.py
  backend/services/custom_report_service.py
  backend/tests/test_custom_report_generation_service.py
  backend/tests/test_custom_reports_router.py
  backend/tests/test_custom_reports_service.py
  frontend/src/api/customReportsAPI.ts
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/custom-reports/components/__tests__/ReportBuilder.test.tsx
  frontend/src/features/custom-reports/components/__tests__/ReportList.test.tsx
  frontend/src/hooks/useCustomReports.ts
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: check-imports-requirements, validate-rbac-decorators

fix(native): avoid false startup block on healthy backend
  NATIVE.ps1
Due: none

fix(reports): add missing joinedloads and fix panel expansion
  backend/services/custom_report_generation_service.py
  frontend/src/features/custom-reports/components/ReportList.tsx
Due: check-imports-requirements

fix(reports): populate course breakdown with nested attendance, grades, and scores
  backend/routers/routers_reports.py
  backend/schemas/reports.py
  backend/tests/test_reports_router.py
Due: check-imports-requirements, validate-rbac-decorators

fix(reports): fix PDF download, highlight field names, and Excellence translation
  backend/routers/routers_reports.py
  backend/services/report_exporters.py
  frontend/src/components/StudentPerformanceReport.tsx
  frontend/src/features/students/components/StudentProfile.tsx
  frontend/src/locales/el/students.js
  frontend/src/locales/en/students.js
Due: check-imports-requirements, validate-rbac-decorators

fix(i18n): translate highlight category prefix and strip duplication
  backend/services/report_exporters.py
  frontend/src/components/StudentPerformanceReport.tsx
  frontend/src/features/students/components/StudentProfile.tsx
Due: check-imports-requirements

feat(reports): include course notes in PDF/CSV exports and fix Print button
  backend/routers/routers_reports.py
  backend/schemas/reports.py
  backend/services/report_exporters.py
  frontend/src/api/api.ts
  frontend/src/components/StudentPerformanceReport.tsx
Due: check-imports-requirements, validate-rbac-decorators

feat(reports): add group-by support with GPA fields and label rename
  backend/services/custom_report_generation_service.py
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: check-imports-requirements

fix(reports): resolve mypy typing and align GPA header assertion
  backend/services/custom_report_generation_service.py
  backend/tests/test_custom_report_generation_service.py
Due: check-imports-requirements

chore(release): prepare v1.18.13 with installer-first validation evidence
  .github/RELEASE_NOTES_v1.18.13.md
  .github/copilot-instructions.md
  AGENTS.md
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  docs/AGENT_POLICY_ENFORCEMENT.md
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.13.md
  docs/releases/GITHUB_RELEASE_v1.18.13.md
  docs/releases/RELEASE_MANIFEST_v1.18.13.md
  docs/releases/RELEASE_NOTES_v1.18.13.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package-lock.json
  frontend/package.json
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
Due: check-imports-requirements

fix(security): bump pyjwt to 2.12.0
  backend/requirements.txt
  pyproject.toml
Due: none

security: update cryptography (GHSA-r6ph-v2qm-q3c2) and python-multipart (CVE-2024-24762)
  pyproject.toml
Due: none

security: fix flatted GHSA-25h7-pfq9-p65f and sync requirements.txt CVE pins
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): revert unresolvable CVE pin constraints to latest installable versions
  backend/requirements.txt
  pyproject.toml
Due: none

fix(frontend): fix TS2322 group_by type error and enforce tsc in quick mode
  COMMIT_READY.ps1
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
Due: none

fix(security): harden control path validation and align parser lockfile
  CHANGELOG.md
  backend/routers/control/database.py
  backend/routers/control/maintenance.py
  backend/services/database_manager.py
  backend/tests/test_control_database_credentials.py
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/package-lock.json
Due: check-imports-requirements, validate-rbac-decorators

fix(deps): raise werkzeug and pypdf minimums after audit
  CHANGELOG.md
  backend/requirements-dev.txt
  backend/requirements.txt
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(deps-dev): bump flatted lockfile to 3.4.2
  frontend/package-lock.json
Due: none

chore(release): prepare v1.18.14 metadata and installer-verified docs
  .github/RELEASE_NOTES_v1.18.14.md
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.14.md
  docs/releases/GITHUB_RELEASE_v1.18.14.md
  docs/releases/RELEASE_MANIFEST_v1.18.14.md
  docs/releases/RELEASE_NOTES_v1.18.14.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package.json
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
Due: check-imports-requirements

docs(release): record v1.18.14 publication verification evidence
  .github/RELEASE_NOTES_v1.18.14.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.14.md
  docs/releases/GITHUB_RELEASE_v1.18.14.md
  docs/releases/RELEASE_MANIFEST_v1.18.14.md
  docs/releases/RELEASE_NOTES_v1.18.14.md
Due: none

docs(release): record v1.18.14 security refresh closure
  .github/RELEASE_NOTES_v1.18.14.md
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.14.md
  docs/releases/GITHUB_RELEASE_v1.18.14.md
  docs/releases/RELEASE_MANIFEST_v1.18.14.md
  docs/releases/RELEASE_NOTES_v1.18.14.md
Due: none

style(reports): normalize formatting and trim v1.18.13 notes
  .github/RELEASE_NOTES_v1.18.13.md
  backend/routers/routers_reports.py
  backend/services/report_exporters.py
  docs/releases/GITHUB_RELEASE_v1.18.13.md
  docs/releases/RELEASE_NOTES_v1.18.13.md
Due: check-imports-requirements, validate-rbac-decorators

docs(work-plan): align post-v1.18.14 branch metadata
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(installer): add SQLite/QNAP DB selection and harden startup profile defaults
  DOCKER.ps1
  installer/SMS_Installer.iss
Due: none

fix(installer): add missing forward declaration for db profile defaults
  installer/SMS_Installer.iss
Due: none

fix(installer): recover postgres auth drift during single-mode startup
  DOCKER.ps1
  installer/Greek.isl
  installer/SMS_Installer.iss
Due: none

fix(ci): update trivy-action 0.20.0 to v0.35.0 to resolve unresolvable tag
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/trivy-scan.yml
Due: none

fix(validation): harden installer tooling and batch retests
  INSTALLER_BUILDER.ps1
  RUN_TESTS_BATCH.ps1
  backend/tests/test_version_consistency.py
  installer/GREEK_ENCODING_AUDIT.ps1
  installer/SIGN_INSTALLER.ps1
  installer/create_wizard_images.ps1
  scripts/validate_installer_release_inputs.ps1
Due: check-imports-requirements

fix(rbac): ensure user permissions table exists
  backend/migrations/versions/9c2e3f7f5d3b_ensure_user_permissions_table_exists.py
  backend/tests/test_run_migrations.py
Due: check-imports-requirements, validate-migrations

chore(gitignore): ignore root-level DOCUMENTATION_INDEX.md duplicate
  .gitignore
Due: none
