Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

chore: clean workspace - remove temp files and update gitignore
  .gitignore
Due: none

chore: remove obsolete VERSION.cpp file
  VERSION.cpp
Due: none

fix(grading): filter active selections and mypy cleanup
  backend/services/import_service.py
  frontend/src/features/grading/components/GradingView.tsx
Due: check-imports-requirements

fix(analytics): limit selectors to active enrollments
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
Due: none

feat(courses): add is_active flag and filter profile
  backend/migrations/versions/c9a7e1f4b2d3_add_is_active_to_courses.py
  backend/models.py
  backend/schemas/courses.py
  frontend/src/features/students/components/StudentProfile.tsx
Due: check-imports-requirements, validate-migrations

feat(enrollments): add status and filter profile
  backend/migrations/versions/d5b7c9e1f4a0_add_status_to_course_enrollments.py
  backend/models.py
  backend/routers/routers_enrollments.py
  backend/schemas/enrollments.py
  backend/services/enrollment_service.py
  frontend/src/features/students/components/StudentProfile.tsx
  frontend/src/types/index.ts
Due: check-imports-requirements, validate-rbac-decorators, validate-migrations

feat(courses): auto-set active by semester dates
  backend/routers/routers_courses.py
  backend/schemas/courses.py
  backend/tests/test_courses_router.py
Due: check-imports-requirements, validate-rbac-decorators

style(formatting): apply ruff formatting to migration and PDF extractor
  backend/migrations/versions/423e6e15cb20_merge_heads_after_periods_per_week.py
  scripts/utils/converters/extract_courses_from_pdfs.py
Due: check-imports-requirements, validate-migrations

feat(courses): add auto-activation enhancements - scheduler, UI indicator, monitoring
  backend/lifespan.py
  backend/routers/routers_courses.py
  backend/services/course_activation_scheduler.py
  backend/services/maintenance_scheduler.py
  frontend/src/features/courses/components/AddCourseModal.tsx
  frontend/src/features/courses/components/EditCourseModal.tsx
  frontend/src/locales/el/courses.js
  frontend/src/locales/en/courses.js
  frontend/src/utils/courseAutoActivation.ts
Due: check-imports-requirements, validate-rbac-decorators

test(courses): add comprehensive unit tests for courseAutoActivation utility
  frontend/src/utils/courseAutoActivation.test.ts
Due: none

docs(courses): document auto-activation enhancements in changelog and work plan
  CHANGELOG.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(auth+rbac): align lockout, role assignment, and permissions
  backend/rbac.py
  backend/routers/routers_auth.py
  backend/routers/routers_rbac.py
  backend/seed_e2e_data.py
Due: check-imports-requirements, validate-rbac-decorators

fix(db+installer): enforce Postgres-only wiring and setup
  .env.production
  DOCKER.ps1
  INSTALLER_BUILDER.ps1
  backend/config.py
  backend/lifespan.py
  backend/main.py
  docker/docker-compose.prod.yml
  installer/SMS_Installer.iss
Due: check-imports-requirements

fix(frontend/courses): stabilize modal fields and tests
  frontend/package.json
  frontend/src/features/courses/components/AddCourseModal.test.tsx
  frontend/src/features/courses/components/EditCourseModal.test.tsx
  frontend/src/features/courses/components/EditCourseModal.tsx
Due: none

docs(release): update versioned release docs
  CHANGELOG.md
  VERSION
  docs/DOCUMENTATION_INDEX.md
  docs/deployment/POSTGRES_MIGRATION_GUIDE.md
  docs/deployment/reports/DEPLOYMENT_REPORT_v1.12.8.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/guides/MIGRATION_v1.17.8.md
  docs/misc/INSTALLER_POSTGRES_AUTOPILOT_ISSUE_FIX.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.0.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.1.md
  docs/releases/GITHUB_RELEASE_v1.17.8.md
  docs/releases/GITHUB_RELEASE_v1.17.9.md
  docs/releases/GITHUB_RELEASE_v1.18.0.md
  docs/releases/GITHUB_RELEASE_v1.18.1.md
  docs/releases/PHASE5_HEALTH_VERIFICATION.md
  docs/releases/RELEASE_MANIFEST_v1.18.0.md
  docs/releases/RELEASE_MANIFEST_v1.18.1.md
  docs/releases/RELEASE_NOTES_v1.17.8.md
  docs/releases/RELEASE_NOTES_v1.17.9.md
  docs/releases/RELEASE_NOTES_v1.18.0.md
  docs/releases/RELEASE_NOTES_v1.18.1.md
  docs/releases/reports/CLEANUP_EXECUTION_REPORT_v1.17.8.md
  docs/releases/reports/RELEASE_REPORT_v1.17.8.md
  docs/releases/reports/RELEASE_v1.12.8_COMPLETE.md
  docs/reports/2026-01/RELEASE_v1.15.0_SUMMARY.md
  docs/reports/2026-02/INSTALLER_BUILD_SUMMARY.md
  docs/user/RBAC_GUIDE.md
  docs/user/USER_GUIDE_COMPLETE.md
Due: none

chore(commit-ready): update pre-commit validation workflow
  COMMIT_READY.ps1
Due: none

feat(courses): schedule daily auto-activation updates
  backend/services/course_activation_scheduler.py
Due: check-imports-requirements

fix(dashboard): filter top performers and active courses
  frontend/src/features/dashboard/components/EnhancedDashboardView.tsx
Due: none

fix(dashboard): filter analytics panels by active enrollments
  frontend/src/features/dashboard/components/EnhancedDashboardView.tsx
Due: none

fix(enrollments): auto-complete inactive-course enrollments
  backend/services/course_activation_scheduler.py
  frontend/src/features/dashboard/components/EnhancedDashboardView.tsx
Due: check-imports-requirements

feat(backup): add encrypted backup support to Manage Backups UI
  backend/routers/control/operations.py
  frontend/src/LanguageContext.tsx
  frontend/src/StudentManagementApp.tsx
  frontend/src/api/api.ts
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/src/features/operations/components/DevToolsPanel.tsx
  frontend/src/features/students/components/CascadedStudentView.tsx
  frontend/src/locales/el/utils.js
  frontend/src/locales/en/utils.js
  frontend/src/pages/StudentsPage.tsx
  frontend/src/utils/courseAutoActivation.test.ts
Due: check-imports-requirements, validate-rbac-decorators

feat(backup): add encrypted backup support + maintenance fixes
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.1.md
  docs/releases/GITHUB_RELEASE_v1.18.1.md
  docs/releases/RELEASE_MANIFEST_v1.18.1.md
  docs/releases/RELEASE_NOTES_v1.18.1.md
Due: none

fix(diagnostics): resolve system diagnostics issues and enhance process management
  NATIVE.ps1
  backend/routers/control/base.py
  backend/routers/control/common.py
Due: check-imports-requirements, validate-rbac-decorators

fix(native): resolve PowerShell variable conflict in Stop-ProcessByPort (rename $pid to $targetPid)
  NATIVE.ps1
Due: none

fix(installer): add forward declaration for UrlEncode function
  installer/SMS_Installer.iss
Due: none

fix(installer): correct StringChangeEx usage - function returns Int, modifies in-place
  installer/SMS_Installer.iss
Due: none

fix(installer): replace StringChangeEx with custom StringReplaceAll and add forward declarations
  installer/SMS_Installer.iss
Due: none

chore(release): bump version to 1.18.1 and update docs
  .github/RELEASE_NOTES_v1.18.1.md
  CHANGELOG.md
  README.md
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  frontend/package-lock.json
  installer/installer_complete_el.txt
  installer/installer_welcome_el.txt
  installer/wizard_image.bmp
Due: none

fix(release): correct version format from $11.18.x to v1.18.x in release notes
  docs/releases/GITHUB_RELEASE_v1.18.1.md
Due: none

fix(installer): prevent runtime error when accessing {app} constant before initialization
  installer/SMS_Installer.iss
Due: none

fix(ci): prevent frontend dist files from being uploaded to GitHub releases
  .github/workflows/ci-cd-pipeline.yml
Due: none

fix(release): restore v1.18.1 installer/docker integrity
  .github/RELEASE_NOTES_v1.18.1.md
  COMMIT_READY.ps1
  DOCKER.ps1
  NATIVE.ps1
  docker/docker-compose.prod.yml
  docs/releases/RELEASE_NOTES_v1.18.1.md
  installer/SMS_Installer.iss
  installer/run_docker_install.cmd
  scripts/VERIFY_VERSION.ps1
Due: none

docs(plan): reconcile v1.18.1 release status and verification checklist
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(index): mark v1.18.1 as published and verified
  docs/DOCUMENTATION_INDEX.md
Due: none

docs: refresh active release metadata across core docs
  docs/README.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.1.md
  docs/releases/RELEASE_MANIFEST_v1.18.1.md
  docs/releases/RELEASE_NOTES_v1.18.1.md
Due: none

fix(ci): harden release tag lineage for installer artifacts
  .github/workflows/installer.yml
  .github/workflows/release-installer-with-sha.yml
  .github/workflows/release-on-tag.yml
Due: none

refactor(docker): remove unreachable legacy sqlite start path
  DOCKER.ps1
Due: none

fix(release): fail fast when target tag release is missing
  .github/workflows/release-installer-with-sha.yml
Due: none

fix(release): enforce v1 tag policy and strict dispatch
  .github/workflows/release-on-tag.yml
Due: none
