Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

check-imports-requirements:
  name: Verify backend imports vs requirements
  entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
  language: system
  pass_filenames: false

check-operator-header:
  name: Ensure operator scripts have OPERATOR-ONLY header
  entry: python scripts/check_operator_header.py
  language: system
  pass_filenames: true

validate-rbac-decorators:
  name: 'RBAC: Validate decorator usage consistency'
  entry: python scripts/validate_rbac_decorators.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-migrations:
  name: 'Database: Validate migration consistency'
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

ci: Increase markdown lint threshold to 8210 to accommodate recent doc updates
  .github/workflows/markdown-lint.yml
Due: none

fix(ci): Add test environment variables to CI backend pytest - Fixes backend test failures
  .github/workflows/ci-cd-pipeline.yml
  GITHUB_ISSUES_CLEANUP_REVIEW.md
  REPOSITORY_CLEANUP_ACTION_PLAN.md
Due: none

chore: Complete Phase 1 Cleanup & Prepare Phase 2 Execution
  CLEANUP_EXECUTIVE_SUMMARY.md
  DAY2_CODE_QUALITY_ACTION.md
  GITHUB_ISSUES_CLEANUP_REVIEW.md
  PHASE2_EXECUTION_PLAN.md
  REPOSITORY_CLEANUP_ACTION_PLAN.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix: Remove 10 unused imports across test files (Phase 2 - Batch 2)
  frontend/src/components/__tests__/AdvancedFilters.test.tsx
  frontend/src/components/__tests__/SavedSearches.test.tsx
  frontend/src/components/__tests__/SearchBar.test.tsx
  frontend/src/components/__tests__/SearchResults.test.tsx
  frontend/src/components/import-export/__tests__/ImportExportComponents.test.tsx
  frontend/src/features/importExport/ImportWizard.test.tsx
Due: none

fix: Add missing useEffect dependencies in custom hooks (Phase 2 - Batch 4)
  frontend/src/hooks/useNotifications.ts
  frontend/src/hooks/usePerformanceMonitor.ts
Due: none

fix: Replace any types with proper types and add type definitions (Phase 2 - Batch 3)
  frontend/src/api/importExportApi.ts
  frontend/src/features/dashboard/components/EnhancedDashboardView.tsx
  frontend/src/features/grading/components/__tests__/GradingView.decimal.test.tsx
  frontend/src/features/importExport/ImportWizard.tsx
  frontend/src/hooks/useSearch.ts
  frontend/src/types/api.ts
  frontend/src/types/handlers.ts
Due: none

security: Fix critical vulnerabilities and add path validation utility
  DEPENDABOT_SECURITY_TRACKER.md
  backend/requirements.txt
  backend/security/path_validation.py
  test_websocket_client.html
Due: check-imports-requirements

docs: Add Phase 2 session summaries and continuatin guide for Batch 5
  CONTINUATION_GUIDE_SESSION3.md
  PHASE2_SESSIONS_1-2_COMPLETE.md
Due: none

docs: Add comprehensive security policy with responsible disclosure guidelines
  SECURITY.md
Due: none

fix: Resolve CI/CD failures - fix linting issues and dependency conflict
  DEPENDABOT_SECURITY_TRACKER.md
  backend/requirements.txt
  backend/security/path_validation.py
Due: check-imports-requirements

docs: Update Phase 2 execution documentation and security guide (Jan 18)
  CONTINUATION_GUIDE_SESSION3.md
  PHASE2_EXECUTION_PLAN.md
  PHASE2_SESSIONS_1-2_COMPLETE.md
  SECURITY.md
  backend/security/__init__.py
  backend/security/path_validation.py
Due: check-imports-requirements

docs: Add repository cleanup phase status report (Jan 18)
  CLEANUP_PHASE_STATUS_2026-01-18_173919.md
Due: none

fix: Complete Batch 3-4 ESLint cleanup - Type safety and React Hook dependencies
  frontend/src/components/ControlPanel/UpdatesPanel.tsx
  frontend/src/components/SavedSearches.tsx
  frontend/src/features/students/components/StudentProfile.tsx
  frontend/src/hooks/usePerformanceMonitor.test.ts
  frontend/src/types/handlers.ts
Due: none

fix: Batch 5 - Wrap i18n hardcoded strings with t() function (24 toast messages)
  frontend/src/StudentManagementApp.tsx
  frontend/src/pages/CoursesPage.tsx
  frontend/src/pages/StudentsPage.tsx
Due: none

fix: Batch 6 Phase 2a - Wrap ImportWizard 20+ hardcoded strings with i18n (20 warnings fixed)
  frontend/src/features/importExport/ImportWizard.tsx
  frontend/src/locales/el/common.js
  frontend/src/locales/en/common.js
Due: none

fix: Batch 6 Phase 1 - Remove unused vars, fix empty interfaces, wrap i18n literals (14 warnings fixed)
  BATCH6_ESLINT_ANALYSIS.md
  frontend/src/api/importExportApi.ts
  frontend/src/components/__tests__/AdvancedFilters.test.tsx
  frontend/src/components/import-export/__tests__/ImportExportComponents.test.tsx
  frontend/src/features/importExport/ExportDialog.tsx
  frontend/src/features/importExport/HistoryTable.tsx
  frontend/src/features/importExport/ImportWizard.tsx
  frontend/src/locales/el/common.js
  frontend/src/locales/en/common.js
Due: none

fix: Batch 6 Phase 2b - Wrap analytics grade labels with i18n (6 warnings fixed)
  frontend/src/features/analytics/components/GradeDistributionChart.tsx
  frontend/src/locales/el/common.js
  frontend/src/locales/en/common.js
Due: none

docs: Batch 6 Phase 1-3 Completion Report (43+ warnings fixed)
  BATCH6_COMPLETION_REPORT.md
  BATCH6_PHASE2_DETAILED_PLAN.md
Due: none

fix: Batch 6 Phase 3 - Replace any types with explicit types (3 warnings fixed)
  frontend/src/features/analytics/components/GradeDistributionChart.tsx
  frontend/src/features/analytics/components/TrendsChart.tsx
  frontend/src/pages/__tests__/AdminPermissionsPage.test.tsx
Due: none

docs: Update Batch 6 reports with final validation status
  BATCH6_COMPLETION_REPORT.md
  BATCH6_ESLINT_ANALYSIS.md
  BATCH6_PHASE2_DETAILED_PLAN.md
Due: none

docs: Add Batch 6 completion to unified work plan
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix: Resolve TypeScript compilation errors for CI
  frontend/src/components/AdvancedFilters.tsx
  frontend/src/components/SavedSearches.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/import-export/index.ts
  frontend/src/features/analytics/components/GradeDistributionChart.tsx
  frontend/src/features/analytics/components/TrendsChart.tsx
  frontend/src/features/dashboard/components/EnhancedDashboardView.tsx
  frontend/src/hooks/useNotifications.ts
  frontend/src/types/api.ts
Due: none

docs: Mark CI TypeScript fixes as complete in work plan
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat: Add timing middleware and enhance test isolation
  RUN_TESTS_CATEGORY.ps1
  backend/middleware/timing.py
  backend/middleware_config.py
  backend/tests/conftest.py
  backend/tests/test_backup_encryption.py
  backend/tests/test_run_migrations.py
  backend/tests/test_search_api_endpoints.py
  backend/tests/test_search_integration.py
  backend/tests/test_timing_middleware.py
Due: check-imports-requirements

refactor: Update frontend components and hooks
  frontend/src/StudentManagementApp.tsx
  frontend/src/components/ControlPanel.tsx
  frontend/src/components/ControlPanel/UpdatesPanel.tsx
  frontend/src/components/StudentPerformanceReport.tsx
  frontend/src/components/admin/RBACPanel.tsx
  frontend/src/components/common/ServerControl.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/components/ui/VirtualList.tsx
  frontend/src/components/views/CoursesView.tsx
  frontend/src/features/analytics/components/AttendanceCard.tsx
  frontend/src/features/analytics/components/GradeDistributionChart.tsx
  frontend/src/features/analytics/components/PerformanceCard.tsx
  frontend/src/features/analytics/components/TrendsChart.tsx
  frontend/src/features/dashboard/components/EnhancedDashboardView.tsx
  frontend/src/features/grading/components/GradeBreakdownModal.tsx
  frontend/src/hooks/useCoursesQuery.ts
  frontend/src/hooks/useStudentsQuery.ts
Due: none

chore: Update gitignore to exclude ci_failure_log.txt artifact
  .gitignore
Due: none

i18n: Expand localization with analytics translations and common keys
  frontend/src/locales/el/analytics.js
  frontend/src/locales/el/common.js
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/el/rbac.js
  frontend/src/locales/el/reports.js
  frontend/src/locales/en/analytics.js
  frontend/src/locales/en/common.js
  frontend/src/locales/en/controlPanel.js
  frontend/src/locales/en/rbac.js
  frontend/src/locales/en/reports.js
Due: none

docs: Update Phase 4 roadmap and repository cleanup status
  REPOSITORY_CLEANUP_PHASE_CRITICAL.md
  backend/tests/test_run_migrations.py
  backend/tests/test_timing_middleware.py
  docs/plans/PHASE4_ROADMAP.md
Due: check-imports-requirements

refactor: Update grading and student components with translations
  frontend/src/features/grading/components/GradingView.tsx
  frontend/src/features/students/components/AddStudentModal.tsx
  frontend/src/features/students/components/EditStudentModal.tsx
  frontend/src/features/students/components/StudentProfile.tsx
  frontend/src/features/students/components/StudentsView.tsx
  frontend/src/locales/el/common.js
  frontend/src/locales/en/common.js
Due: none

docs: Update work plan - mark pending changes as committed
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs: Begin CI monitoring for 7 queued commits
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore: Remove test artifact file.tmp
  docs/releases/file.tmp
Due: none

docs: Fix version format violations - change $11.x.x to v1.x.x
  CHANGELOG.md
  docs/ACTIVE_WORK_STATUS.md
  docs/AGENT_POLICY_ENFORCEMENT.md
  docs/DOCUMENTATION_INDEX.md
  docs/VERSION_FORMAT_ENFORCEMENT_SUMMARY.md
  docs/VERSION_HISTORY.md
  docs/admin/PERMISSION_REFERENCE.md
  docs/plans/INSTALLER_IMPROVEMENTS_v1.12.3+.md
  docs/plans/PHASE2_CONSOLIDATED_PLAN.md
  docs/plans/PHASE3_GITHUB_ISSUES_PLAN.md
  docs/plans/PHASE3_ROADMAP.md
  docs/plans/PHASE4_ROADMAP.md
  docs/plans/REMAINING_ISSUES_PRIORITIZED.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/RELEASE_AUDIT_v1.12.1.md
  docs/releases/RELEASE_COMPLETE_v1.12.0.md
  docs/releases/RELEASE_NOTES_1.17.2.md
  docs/releases/RELEASE_NOTES_v1.11.2.md
  docs/releases/RELEASE_NOTES_v1.12.0.md
  docs/releases/RELEASE_NOTES_v1.12.2.md
  docs/releases/RELEASE_NOTES_v1.16.0.md
  docs/releases/RELEASE_NOTES_v1.17.0.md
  docs/releases/RELEASE_NOTES_v1.17.1.md
  docs/releases/RELEASE_SUMMARY_v1.11.2.md
  docs/releases/file.tmp
Due: none

fix(frontend,backend): Resolve CI TypeScript compilation and test fixture errors
  VERSION
  backend/tests/test_search_api_endpoints.py
  backend/tests/test_search_integration.py
  frontend/src/components/ui/Toast.tsx
  frontend/src/components/ui/VirtualList.tsx
  frontend/src/components/views/CoursesView.tsx
  frontend/src/hooks/useCoursesQuery.ts
  frontend/src/hooks/useStudentsQuery.ts
Due: check-imports-requirements

docs: Update work plan with test fixture verification
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

test: Fix all search endpoint tests - 49/49 passing
  backend/tests/test_search_api_endpoints.py
  docs/plans/UNIFIED_WORK_PLAN.md
Due: check-imports-requirements

chore: pre-commit validation complete
  .github/copilot-instructions.md
  COMMIT_READY.ps1
  RUN_TESTS_BATCH.ps1
  VERSION
  backend/routers/routers_search.py
  backend/services/search_service.py
  backend/tests/conftest.py
  backend/tests/test_search_api_endpoints.py
  ci_artifacts/backend-test-results/htmlcov/status.json
  ci_artifacts/backend-test-results/pytest-report.html
  ci_artifacts/backend-test-results/pytest-report.json
  ci_artifacts/version-verification-report/VERSION_VERIFICATION_REPORT.md
  commit_validation_changes.ps1
  docs/AGENT_POLICY_ENFORCEMENT.md
  docs/AGENT_QUICK_START.md
  docs/VERSION_FORMAT_ENFORCEMENT_SUMMARY.md
  docs/deployment/PHASE2_DOCUMENTATION_HANDOFF.md
  docs/deployment/PRE_DEPLOYMENT_VALIDATION_CHECKLIST.md
  docs/deployment/STAGING_DEPLOYMENT_EXECUTION_PLAYBOOK.md
  docs/deployment/file.tmp
  docs/development/DEVELOPMENT_SETUP_GUIDE.md
  docs/file.tmp
  docs/misc/COMPLETE_DELIVERY_INDEX.md
  docs/misc/DEPLOYMENT_PREPARATION_COMPLETE.md
  docs/misc/DEPLOYMENT_READY_v1.14.2.md
  docs/misc/JAN8_DEPLOYMENT_COMMAND_REFERENCE.md
  docs/misc/PHASE2_DELIVERY_COMPLETE.md
  docs/misc/QUICK_START_INDEX.md
  docs/misc/RELEASE_NOTES_v1.12.3.md
  docs/misc/SOLO_DEPLOYMENT_CHECKLIST.md
  docs/misc/SOLO_PROJECT_NOTICE.md
  docs/misc/SOLO_QUICK_START.md
  docs/misc/TONIGHT_CHECKLIST.md
  docs/misc/file.tmp
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/reports/RELEASE_REPORT_v1.13.0.md
  scripts/fix_version_discrepancies.ps1
  test_results/htmlcov/status.json
  test_results/pytest-report.html
  test_results/pytest-report.json
Due: check-imports-requirements, validate-rbac-decorators

fix(frontend): Batch 10 - React Hook dependency and ref cleanup (useNotifications + usePerformanceMonitor, 2 fixes, 46→44 warnings)
  frontend/src/hooks/useNotifications.ts
  frontend/src/hooks/usePerformanceMonitor.ts
Due: none

Path conditions:
  check-imports-requirements: any of: ^backend/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  check-operator-header: any of: ^scripts/operator/.*\.(ps1|sh|bat)$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-rbac-decorators: any of: ^backend/routers/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-migrations: any of: ^backend/(models\.py|migrations/).*$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
