Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

check-imports-requirements:
  name: Verify backend imports vs requirements
  entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
  language: system
  pass_filenames: false

check-operator-header:
  name: Ensure operator scripts have OPERATOR-ONLY header
  entry: python scripts/check_operator_header.py
  language: system
  pass_filenames: true

validate-rbac-decorators:
  name: 'RBAC: Validate decorator usage consistency'
  entry: python scripts/validate_rbac_decorators.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-migrations:
  name: 'Database: Validate migration consistency'
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor(backend,docs,scripts): update and validation
  COMMIT_READY.ps1
  backend/admin_routes.py
  backend/services/saved_search_service.py
  commit_ready_20260129-233623.log
  commit_ready_20260129-234547.log
  commit_ready_20260130-120002.log
  commit_ready_20260130-120054.log
  commit_ready_20260130-121148.log
  docs/COMMIT_ENHANCEMENT_COMPLETION_REPORT.md
  docs/PHASE4_STEP7-9_IMPLEMENTATION_GUIDE.md
  docs/releases/COMPLETE_RELEASE_DEPLOYMENT_REPORT_JAN29_2026.md
  docs/releases/v1.17.6_DEPLOYMENT_VERIFIED.md
  scripts/AUTO_COMMIT_AFTER_READY.ps1
  scripts/ENFORCE_COMMIT_READY_GUARD.ps1
Due: check-imports-requirements

fix(search): Remove duplicate /students/facets endpoint and add FacetService
  backend/routers/routers_search.py
  backend/schemas/__init__.py
  backend/schemas/search.py
  backend/services/facet_service.py
  backend/tests/test_facet_service.py
Due: check-imports-requirements, validate-rbac-decorators

docs(plan): Document Phase 4 STEP 7-9 completion verification
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(phase5): Add comprehensive operational procedures for production deployment
  docs/operations/BACKUP_RESTORE_PROCEDURES.md
  docs/operations/DAILY_OPERATIONS_CHECKLIST.md
  docs/operations/INCIDENT_RESPONSE_RUNBOOK.md
  docs/operations/MONITORING_SETUP.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/PHASE5_DEPLOYMENT_CHECKLIST.md
  docs/releases/PHASE5_HEALTH_VERIFICATION.md
  docs/releases/PHASE5_USER_TRAINING_MATERIALS.md
Due: none

test(search): fix 19 failing tests in SearchFacets, SearchView, and useSearchFacets
  frontend/src/features/search/SearchFacets.test.tsx
  frontend/src/features/search/SearchView.test.tsx
  frontend/src/features/search/useSearchFacets.test.tsx
Due: none

chore: remove obsolete COMMIT_READY log files
  commit_ready_20260130-120002.log
  commit_ready_20260130-120054.log
  commit_ready_20260130-121148.log
Due: none

test(search): align SearchIntegration selectors with UI labels
  frontend/src/features/search/SearchIntegration.test.tsx
Due: none

fix: enable db-backup automation and stabilize config test
  backend/tests/test_config_module.py
  docker/docker-compose.prod.yml
  docs/plans/UNIFIED_WORK_PLAN.md
Due: check-imports-requirements

fix(health-checks): Ensure PostgreSQL-aware health check (no SQLite PRAGMA on PostgreSQL)
  backend/health_checks.py
Due: check-imports-requirements

feat: Phase 5 Day 1 - User training (EN/EL) and monitoring stack
  docker/docker-compose.monitoring.yml
  docker/monitoring/alertmanager/alertmanager.yml
  docker/monitoring/loki/loki-config.yml
  docker/monitoring/prometheus/alerts/sms-alerts.yml
  docker/monitoring/prometheus/prometheus.yml
  docker/monitoring/promtail/promtail-config.yml
  docs/MONITORING_CONFIGURATION_INVESTIGATION.md
  docs/USER_TRAINING_QUICKSTART_EL.md
  docs/USER_TRAINING_QUICKSTART_EN.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(postgresql): comment out invalid index creation + add PostgreSQL-aware health check
  backend/health_checks.py
  backend/migrations/versions/3af743932574_add_full_text_search_indexes_for_.py
Due: check-imports-requirements, validate-migrations

chore: update work plan with Phase 5 operational procedures completion (Jan 30, 16:15 UTC)
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(phase5-day2): Complete monitoring stack + user training materials
  docker/docker-compose.monitoring.yml
  docs/deployment/PRODUCTION_GO_LIVE_CHECKLIST.md
  docs/training/PRODUCTION_USER_TRAINING_PROGRAM.md
  docs/training/PRODUCTION_USER_TRAINING_PROGRAM_EL.md
  monitoring/alertmanager/alertmanager.yml
  monitoring/loki/loki-config.yml
Due: none

docs(training): Phase 5 training materials verification and delivery checklist
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/training/TRAINING_DELIVERY_CHECKLIST.md
Due: none

docs: Update work plan with Phase 5 Days 2-3 completion (training + operational tools complete)
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(monitoring): Phase 5 monitoring infrastructure complete
  backend/tests/test_admin_backup_encryption.py
  commit_ready_20260130-191116.log
  commit_ready_20260130-191827.log
  commit_ready_20260130-192218.log
  commit_ready_20260130-211517.log
  commit_ready_20260130-211936.log
  commit_ready_20260130-212326.log
  commit_ready_20260130-212902.log
  docs/COMMIT_ENHANCEMENT_COMPLETION_REPORT.md
  docs/MONITORING_CONFIGURATION_INVESTIGATION.md
  docs/USER_TRAINING_QUICKSTART_EL.md
  docs/USER_TRAINING_QUICKSTART_EN.md
  docs/deployment/PHASE5_DAY2_COMPLETION.md
  docs/deployment/PRODUCTION_GO_LIVE_CHECKLIST.md
  docs/deployment/TROUBLESHOOTING_GUIDE.md
  docs/monitoring/GRAFANA_DASHBOARDS_SETUP.md
  docs/monitoring/MONITORING_OPERATIONS_GUIDE.md
  docs/operations/BACKUP_RESTORE_PROCEDURES.md
  docs/operations/DAILY_OPERATIONS_CHECKLIST.md
  docs/operations/INCIDENT_RESPONSE_RUNBOOK.md
  docs/operations/MONITORING_SETUP.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/PHASE5_HEALTH_VERIFICATION.md
  docs/releases/PHASE5_USER_TRAINING_MATERIALS.md
  docs/training/PRODUCTION_USER_TRAINING_PROGRAM.md
  docs/training/PRODUCTION_USER_TRAINING_PROGRAM_EL.md
  docs/training/STUDENT_TRAINING_SLIDES.md
  scripts/AUTO_COMMIT_AFTER_READY.ps1
  scripts/grafana/Configure-AlertNotifications.ps1
  scripts/grafana/Configure-Dashboards.ps1
  scripts/grafana/Manage-GrafanaPassword.ps1
  scripts/grafana/Manage-GrafanaUsers.ps1
  scripts/monitoring/Configure-AlertRules.ps1
  scripts/monitoring/Verify-MonitoringStack.ps1
Due: check-imports-requirements

fix(tests): Add PYTHONPATH fix to batch runner and archive deprecated db.py
  RUN_TESTS_BATCH.ps1
  archive/db_py_deprecated_20260130_223127.py
  commit_ready_20260130-214346.log
Due: none

feat(phase5-days2-3): Complete training materials and operational tools
  backend/seed_database.py
  docs/deployment/TROUBLESHOOTING_GUIDE.md
  docs/monitoring/GRAFANA_DASHBOARDS_SETUP.md
  docs/training/ADMIN_TRAINING_SLIDES.md
  docs/training/STUDENT_TRAINING_SLIDES.md
  docs/training/TEACHER_TRAINING_SLIDES.md
  seeds/test_data_config.yml
Due: check-imports-requirements

docs: Update UNIFIED_WORK_PLAN.md with Phase 5 Day 2 completion status
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(phase5): Add Phase 5 Day 2 completion summary with monitoring + training verification
  docs/deployment/PHASE5_DAY2_COMPLETION.md
Due: none

planning: Add Phase 6 feature selection and planning document
  docs/plans/PHASE6_FEATURE_SELECTION.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(training): Remove all specific dates and day-based schedules
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/training/EMAIL_TEMPLATES.md
  docs/training/PRE_READING_MATERIALS.md
  scripts/training/Setup-TrainingEnvironment.ps1
Due: none

docs: Add Phase 5 Go-Live completion checklist
  PHASE5_READY_FOR_GOLIVE_CHECKLIST.md
Due: none

docs: Phase 5 production go-live summary - system ready for deployment
  .env.production
  NATIVE.ps1
  RUN_TESTS_BATCH.ps1
  commit_ready_20260130-230348.log
  commit_ready_20260130-231534.log
  docs/deployment/PHASE5_PRODUCTION_DEPLOYMENT_COMPLETE.md
  docs/deployment/PRODUCTION_DEPLOYMENT_VERIFICATION_CHECKLIST_v1.17.6.md
  docs/deployment/PRODUCTION_GO_LIVE_GUIDE_v1.17.6.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/training/TRAINING_CREDENTIALS.md
Due: none

docs: Add Phase 5 completion overview summary
  PHASE5_COMPLETION_OVERVIEW.md
Due: none

fix: Prioritize backend/.env and enhance training setup script with API integration
  backend/config.py
  scripts/training/Setup-TrainingEnvironment.ps1
Due: check-imports-requirements

feat(training): Create Phase 5 training infrastructure and participant materials
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/training/EMAIL_TEMPLATES.md
  docs/training/PRE_READING_MATERIALS.md
  scripts/training/Setup-TrainingEnvironment.ps1
Due: none

fix(docker): use compose for postgres production
  DOCKER.ps1
Due: none

docs: Add go-live quick reference card
  GOLIVE_QUICK_REFERENCE.md
Due: none

fix(docker): nginx perms and auth lockout test
  backend/tests/test_auth_flow.py
  docker/Dockerfile.frontend
  docs/ACTION_SUMMARY_JAN31.md
  docs/deployment/PHASE5_PRODUCTION_DEPLOYMENT_COMPLETE.md
  docs/deployment/PRODUCTION_DEPLOYMENT_VERIFICATION_CHECKLIST_v1.17.6.md
  docs/deployment/PRODUCTION_GO_LIVE_GUIDE_v1.17.6.md
  docs/deployment/phase5/GOLIVE_QUICK_REFERENCE.md
  docs/deployment/phase5/PHASE5_COMPLETION_OVERVIEW.md
  docs/deployment/phase5/PHASE5_DOCUMENT_INDEX.md
  docs/deployment/phase5/PHASE5_READY_FOR_GOLIVE_CHECKLIST.md
  docs/plans/PHASE6_FEATURE_SELECTION.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/security/SECURITY_AUDIT_FIX_PLAN_JAN31.md
  docs/security/SECURITY_CI_CD_REVIEW_SUMMARY_JAN31.md
Due: check-imports-requirements

chore: Clean temporary logs from workspace
  commit_ready_20260130-191116.log
  commit_ready_20260130-191827.log
  commit_ready_20260130-192218.log
  commit_ready_20260130-211517.log
  commit_ready_20260130-211936.log
  commit_ready_20260130-212326.log
  commit_ready_20260130-212902.log
  commit_ready_20260130-214346.log
  commit_ready_20260130-230348.log
  commit_ready_20260130-231534.log
  test-output.log
Due: none

docs: Update work plan - Phase 5 complete and ready for go-live decision
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs: Add Phase 5 document index and navigation guide
  PHASE5_DOCUMENT_INDEX.md
Due: none

feat: Remove validation expiration and add incremental test re-running
  COMMIT_READY.ps1
  RUN_TESTS_BATCH.ps1
  docs/COMMIT_READY_IMPROVEMENTS_JAN31.md
  scripts/ENFORCE_COMMIT_READY_GUARD.ps1
Due: none

fix(ci): fail e2e on errors and refine completion status
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): correct Teams notification action inputs
  .github/workflows/ci-cd-pipeline.yml
  docs/deployment/PRODUCTION_MONITORING_CHECKLIST.md
Due: none

fix: Update all archived and active docs to use correct /health endpoint
  archive/sessions/DEPLOYMENT_EXECUTION_STEPS_2-7.md
  archive/sessions/PENDING_WORK_SUMMARY_JAN10.md
  archive/sessions/PRODUCTION_DEPLOYMENT_EXECUTION_JAN11.md
  archive/sessions/PRODUCTION_VALIDATION_COMPLETE_JAN12.md
  archive/sessions/QUICK_DEPLOYMENT_REFERENCE.md
  archive/sessions/v1.17.1_PRODUCTION_DEPLOYMENT_GUIDE.md
  docs/deployment/PHASE2_KICKOFF_TRANSITION_DOCUMENT.md
  docs/deployment/phase5/GOLIVE_QUICK_REFERENCE.md
  docs/deployment/phase5/PHASE5_READY_FOR_GOLIVE_CHECKLIST.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/reference/docker-auth-fix.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.17.5.md
  docs/releases/RELEASE_NOTES_v1.17.2.md
  docs/reports/2026-01/CURATED_LOAD_TEST_REPORT_JAN27.md
  load_tests/locustfile.py
Due: none

fix: improve control env & mieek contrast
  DOCKER.ps1
  backend/routers/control/base.py
  docker/docker-compose.yml
  docker/nginx.conf
  frontend/src/components/ControlPanel.tsx
  frontend/src/index.css
Due: check-imports-requirements, validate-rbac-decorators

docs: update work plan with ci/cd workflow fixes
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs: update work plan with quality improvements session
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

Path conditions:
  check-imports-requirements: any of: ^backend/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  check-operator-header: any of: ^scripts/operator/.*\.(ps1|sh|bat)$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-rbac-decorators: any of: ^backend/routers/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-migrations: any of: ^backend/(models\.py|migrations/).*$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
