Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

fix(control-panel): route database panel requests via control API client
  frontend/src/components/ControlPanel/DatabasePanel.tsx
Due: none

fix(control-panel): add authentication to control API client
  frontend/src/api/api.ts
  frontend/src/contexts/AuthContext.tsx
Due: none

chore(release): bump version to 1.18.8 and update docs
  .github/RELEASE_NOTES_v1.18.8.md
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  README.md
  VERSION
  backend/.test-failures
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/releases/GITHUB_RELEASE_v1.18.8.md
  docs/releases/RELEASE_NOTES_v1.18.8.md
  docs/user/USER_GUIDE_COMPLETE.md
  eslint-results-batch2.txt
  eslint-results-updated.txt
  eslint-results.txt
  frontend/package-lock.json
  frontend/package.json
Due: check-imports-requirements

docs(policy): enforce instruction-order lock and evidence gates across agent docs
  .github/copilot-instructions.md
  docs/AGENT_COORDINATION_SYSTEM.md
  docs/AGENT_POLICY_ENFORCEMENT.md
  docs/AGENT_QUICK_START.md
Due: none

feat: Add Docker host updater bridge for Control Panel auto-updates
  .github/RELEASE_NOTES_v1.18.8.md
  CHANGELOG.md
  VERSION
  backend/routers/control/maintenance.py
  backend/tests/test_control_maintenance.py
  docs/releases/GITHUB_RELEASE_v1.18.8.md
  docs/releases/RELEASE_NOTES_v1.18.8.md
  frontend/src/components/ControlPanel/UpdatesPanel.tsx
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/en/controlPanel.js
  scripts/update-watcher.ps1
Due: check-imports-requirements, validate-rbac-decorators

chore(installer): Add build metadata tracking for v1.18.8
  installer/builds/README.md
  installer/builds/v1.18.8.json
Due: none

fix(frontend): prevent TypeError in DatabasePanel on undefined database stats
  frontend/src/components/ControlPanel/DatabasePanel.tsx
Due: none

feat(notifications): add dismiss button for update notification with i18n support
  frontend/src/components/notifications/NotificationDropdown.tsx
  frontend/src/locales/el/notifications.js
  frontend/src/locales/en/notifications.js
Due: none

fix(control-panel): align database management accordion with maintenance tabs
  frontend/src/components/ControlPanel.tsx
Due: none

fix(help): complete EN Help & Documentation i18n coverage
  frontend/src/locales/en/help.js
Due: none

fix(installer): enforce verified QNAP PostgreSQL profile in env bootstrap
  DOCKER.ps1
Due: none

chore(env): set verified QNAP PostgreSQL defaults in installer template
  .env.example
Due: none

feat(control-panel): add credential import UI and secure DB profile flow for v1.18.9
  .env.example
  .github/RELEASE_NOTES_v1.18.9.md
  CHANGELOG.md
  DOCKER.ps1
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  backend/routers/control/database.py
  backend/tests/test_control_database_credentials.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/releases/GITHUB_RELEASE_v1.18.9.md
  docs/releases/RELEASE_NOTES_v1.18.9.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package.json
  frontend/src/components/ControlPanel/DatabasePanel.tsx
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/en/controlPanel.js
Due: check-imports-requirements, validate-rbac-decorators

style(docs): fix release notes formatting and CSV newlines for v1.18.9
  .github/RELEASE_NOTES_v1.18.9.md
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  docs/releases/GITHUB_RELEASE_v1.18.9.md
  docs/releases/RELEASE_NOTES_v1.18.9.md
Due: none

chore: archive deprecated scripts and lint reports to archive/
  archive/deprecated-scripts/fix_greek_encoding_permanent.py
  archive/deprecated-scripts/fix_test.ps1
  archive/deprecated-scripts/seed_templates_now.py
  eslint-results-batch2.txt
  eslint-results-updated.txt
  eslint-results.txt
Due: none

docs: add test runners guide and workspace cleanup session summary
  docs/development/TEST_RUNNERS_GUIDE.md
  docs/reports/2026-03/WORKSPACE_CLEANUP_SESSION_SUMMARY_2026-03-09.md
Due: none

fix(installer): preserve postgres profile on upgrade and add env repair helper
  CHANGELOG.md
  DOCKER.ps1
  backend/.test-failures
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  docs/development/TEST_RUNNERS_GUIDE.md
  docs/reports/2026-03/WORKSPACE_CLEANUP_SESSION_SUMMARY_2026-03-09.md
  scripts/ops/REPAIR_LAPTOP_ENV_PROFILE.ps1
Due: none

build(installer): rebuild v1.18.9 installer with profile-drift fix and updated docs
  installer/INSTALLER_CHANGELOG.md
  installer/README.md
  installer/SMS_Installer.iss
  installer/SMS_Installer_1.18.4.exe
  installer/SMS_Installer_1.18.9.exe
  installer/SMS_Installer_1.18.9.exe.sha256
Due: none

chore(release): prepare v1.18.10 release
  .github/RELEASE_NOTES_v1.18.10.md
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.10.md
  docs/releases/GITHUB_RELEASE_v1.18.10.md
  docs/releases/RELEASE_MANIFEST_v1.18.10.md
  docs/releases/RELEASE_NOTES_v1.18.10.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package.json
  installer/INSTALLER_CHANGELOG.md
  installer/README.md
  installer/SMS_Installer.iss
  installer/SMS_Installer_1.18.9.exe.sha256
Due: check-imports-requirements

fix(release): prepare corrective v1.18.11 installer asset patch
  .github/RELEASE_NOTES_v1.18.11.md
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.11.md
  docs/releases/GITHUB_RELEASE_v1.18.11.md
  docs/releases/RELEASE_MANIFEST_v1.18.11.md
  docs/releases/RELEASE_NOTES_v1.18.11.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package.json
  installer/INSTALLER_CHANGELOG.md
  installer/README.md
  installer/SMS_Installer.iss
Due: check-imports-requirements

docs(release): record v1.18.11 publication status
  .github/RELEASE_NOTES_v1.18.11.md
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

build(release): add installer tracked-input guardrails
  .github/workflows/release-installer-with-sha.yml
  COMMIT_READY.ps1
  INSTALLER_BUILDER.ps1
  scripts/validate_installer_release_inputs.ps1
Due: none

docs(release): record installer guardrails
  CHANGELOG.md
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(release): prepare verified v1.18.12 corrective candidate
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  backend/routers/control/maintenance.py
  backend/services/database_manager.py
  backend/tests/test_control_maintenance.py
  backend/tests/test_database_manager_security.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/user/USER_GUIDE_COMPLETE.md
  fix_greek_encoding_permanent.py
  frontend/package.json
  installer/GREEK_ENCODING_AUDIT.ps1
  installer/README.md
  installer/SMS_Installer.iss
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
  scripts/validate_installer_release_inputs.ps1
Due: check-imports-requirements, validate-rbac-decorators

docs(release): add v1.18.12 publication pack
  .github/RELEASE_NOTES_v1.18.12.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.12.md
  docs/releases/GITHUB_RELEASE_v1.18.12.md
  docs/releases/RELEASE_MANIFEST_v1.18.12.md
  docs/releases/RELEASE_NOTES_v1.18.12.md
Due: none

fix(release): enforce installer-only asset policy
  .github/workflows/release-asset-sanitizer.yml
  .github/workflows/release-installer-with-sha.yml
  docs/AGENT_POLICY_ENFORCEMENT.md
  docs/RELEASE_PROCEDURE_CORRECT.md
  docs/RELEASE_PROCEDURE_MANDATORY.md
Due: none

fix(security): tighten path containment for CodeQL
  backend/routers/control/maintenance.py
  backend/services/database_manager.py
Due: check-imports-requirements, validate-rbac-decorators

fix(security): avoid user-driven path joins
  backend/routers/control/maintenance.py
  backend/services/database_manager.py
Due: check-imports-requirements, validate-rbac-decorators

fix(security): limit backup path resolution to existing files
  backend/routers/control/database.py
  backend/services/database_manager.py
Due: check-imports-requirements, validate-rbac-decorators

fix(security): remove sensitive backup metadata
  backend/services/database_manager.py
Due: check-imports-requirements

fix(security): minimize backup artifact metadata
  backend/services/database_manager.py
Due: check-imports-requirements

docs(instructions): align release asset policy guidance
  .github/copilot-instructions.md
Due: none

feat(native-launcher): add desktop native toggle shortcut
  CREATE_NATIVE_SHORTCUT.ps1
  NATIVE_TOGGLE.cmd
  NATIVE_TOGGLE.ps1
  SMS_Native_Toggle.ico
Due: none

docs(readme): document native toggle shortcut
  README.md
Due: none

docs(ci): align release state and workflow guidance
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/installer.yml
  .github/workflows/release-installer-with-sha.yml
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(release): prepare first official public release draft
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/GITHUB_RELEASE_FIRST_OFFICIAL_PUBLIC_DRAFT.md
Due: none

docs(release): finalize v1.18.12 official publication path
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/GITHUB_RELEASE_FIRST_OFFICIAL_PUBLIC_DRAFT.md
Due: none

docs(release): sync official v1.18.12 publication state
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/GITHUB_RELEASE_FIRST_OFFICIAL_PUBLIC_DRAFT.md
Due: none

docs(release): align remaining v1.18.12 state references
  docs/VERSION_HISTORY.md
  docs/releases/RELEASE_MANIFEST_v1.18.12.md
  docs/releases/RELEASE_NOTES_v1.18.12.md
Due: none
