Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

chore(cleanup): archive latest backend batch log
  archive/cleanup-feb2026/legacy-test-results/backend_batch_run_20260207_151247.txt
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(cleanup): archive CI monitor log
  archive/cleanup-feb2026/legacy-logs/ci_monitor.log
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(cleanup): archive artifacts session reports
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(cleanup): archive load-testing scripts
  archive/cleanup-feb2026/legacy-load-testing/scripts/analyze_results.py
  archive/cleanup-feb2026/legacy-load-testing/scripts/check_regression.py
  archive/cleanup-feb2026/legacy-load-testing/scripts/generate_report.py
  archive/cleanup-feb2026/legacy-load-testing/scripts/run_load_tests.py
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(cleanup): archive older backups
  archive/cleanup-feb2026/legacy-backups/pip-audit-report.json
  archive/cleanup-feb2026/legacy-backups/pip-audit-report_2025-11-17.json
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(cleanup): archive load-testing docs and scripts
  archive/cleanup-feb2026/legacy-load-testing/docs/CI_INTEGRATION.md
  archive/cleanup-feb2026/legacy-load-testing/docs/baseline_performance.md
  archive/cleanup-feb2026/legacy-load-testing/docs/ci_cd_integration.md
  archive/cleanup-feb2026/legacy-load-testing/docs/performance_targets.md
  archive/cleanup-feb2026/legacy-load-testing/docs/test_scenarios.md
  archive/cleanup-feb2026/legacy-load-testing/docs/troubleshooting.md
  archive/cleanup-feb2026/legacy-load-tests/README.md
  archive/cleanup-feb2026/legacy-load-tests/curated_scenarios.py
  archive/cleanup-feb2026/legacy-load-tests/locustfile.py
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(cleanup): remove archived load-testing files
  load-testing/docs/CI_INTEGRATION.md
  load-testing/docs/baseline_performance.md
  load-testing/docs/ci_cd_integration.md
  load-testing/docs/performance_targets.md
  load-testing/docs/test_scenarios.md
  load-testing/docs/troubleshooting.md
  load_tests/README.md
  load_tests/curated_scenarios.py
  load_tests/locustfile.py
Due: none

chore(cleanup): remove archived load-testing scripts
  load-testing/scripts/analyze_results.py
  load-testing/scripts/check_regression.py
  load-testing/scripts/generate_report.py
  load-testing/scripts/run_load_tests.py
Due: none

chore(cleanup): archive artifacts reports
  archive/cleanup-feb2026/legacy-reports/artifacts/DELETE_GENERATED_REPORTS_FEATURE.md
  archive/cleanup-feb2026/legacy-reports/artifacts/DEPLOYMENT_READINESS_v1.17.7_CONFIRMED.md
  archive/cleanup-feb2026/legacy-reports/artifacts/PHASE3C_ESLINT_REFACTORING_COMPLETE.md
  archive/cleanup-feb2026/legacy-reports/artifacts/PHASE3C_FINAL_COMPLETION_SUMMARY.md
  archive/cleanup-feb2026/legacy-reports/artifacts/PHASE3C_VALIDATION_COMPLETE.md
  archive/cleanup-feb2026/legacy-reports/artifacts/PHASE5_EXPORT_ENHANCEMENTS_COMPLETE_FEB1.md
  archive/cleanup-feb2026/legacy-reports/artifacts/PHASE5_MONITORING_COMPLETE_JAN31.md
  archive/cleanup-feb2026/legacy-reports/artifacts/RELEASE_v1.17.7_PREPARATION_COMPLETE.md
  archive/cleanup-feb2026/legacy-reports/artifacts/v1.17.7_RELEASE_VERIFICATION_FINAL.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(cleanup): archive load-testing root assets
  archive/cleanup-feb2026/legacy-load-testing/root/README.md
  archive/cleanup-feb2026/legacy-load-testing/root/baseline.json
  archive/cleanup-feb2026/legacy-load-testing/root/locust/config/base_config.py
  archive/cleanup-feb2026/legacy-load-testing/root/locust/config/environments/development.py
  archive/cleanup-feb2026/legacy-load-testing/root/locust/config/environments/production.py
  archive/cleanup-feb2026/legacy-load-testing/root/locust/config/environments/staging.py
  archive/cleanup-feb2026/legacy-load-testing/root/locust/config/scenarios/analytics_scenarios.py
  archive/cleanup-feb2026/legacy-load-testing/root/locust/config/scenarios/auth_scenarios.py
  archive/cleanup-feb2026/legacy-load-testing/root/locust/config/scenarios/course_scenarios.py
  archive/cleanup-feb2026/legacy-load-testing/root/locust/config/scenarios/student_scenarios.py
  archive/cleanup-feb2026/legacy-load-testing/root/locust/locustfile.py
  archive/cleanup-feb2026/legacy-load-testing/root/locust/requirements.txt
  archive/cleanup-feb2026/legacy-load-testing/root/requirements.txt
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(cleanup): archive uploaded test backups
  archive/cleanup-feb2026/legacy-backups/backup.log
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(cleanup): archive tmp test migrations db
  archive/cleanup-feb2026/legacy-test-results/tmp_test_migrations/test_migrations.db
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(ci): update action pins
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/codeql.yml
  .github/workflows/trivy-scan.yml
Due: none

chore(ci): add SARIF fetch workflow
  .github/workflows/fetch-code-scanning-sarif.yml
  .github/workflows/upload-sarif.yml
Due: none

chore(cleanup): consolidate session archive folder
  archive/sessions/2026-01-20/BATCH6_COMPLETION_REPORT.md
  archive/sessions/2026-01-20/BATCH6_ESLINT_ANALYSIS.md
  archive/sessions/2026-01-20/BATCH6_PHASE2_DETAILED_PLAN.md
  archive/sessions/2026-01-20/CLEANUP_EXECUTIVE_SUMMARY.md
  archive/sessions/2026-01-20/CLEANUP_PHASE_STATUS_2026-01-18_173919.md
  archive/sessions/2026-01-20/GITHUB_ISSUES_CLEANUP_REVIEW.md
  archive/sessions/2026-01-20/PHASE2_EXECUTION_PLAN.md
  archive/sessions/2026-01-20/PHASE2_SESSIONS_1-2_COMPLETE.md
  archive/sessions/2026-01-20/PHASE4_EXECUTION_KICKOFF.md
  archive/sessions/2026-01-20/REPOSITORY_CLEANUP_ACTION_PLAN.md
  archive/sessions/2026-01-20/REPOSITORY_CLEANUP_PHASE_CRITICAL.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(security): harden backup restore path validation
  backend/admin_routes.py
  backend/routers/routers_sessions.py
  backend/services/backup_service_encrypted.py
Due: check-imports-requirements, validate-rbac-decorators

chore(codeql): ignore archived artifacts
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

test(search): use content for invalid json
  backend/tests/test_search_api_endpoints.py
Due: check-imports-requirements

fix: resolve Pydantic schema generation issues with RBAC forward references
  backend/routers/routers_rbac.py
  backend/schemas/__init__.py
  frontend/package-lock.json
  frontend/src/main.tsx
  frontend/src/routes.ts
Due: check-imports-requirements, validate-rbac-decorators

fix(search): show grade assignments and include date filters
  backend/services/search_service.py
  frontend/src/features/search/SearchView.tsx
  frontend/src/features/search/useSearch.ts
Due: check-imports-requirements

fix(notifications,analytics): stabilize hooks, i18n, and batch runner output
  RUN_TESTS_BATCH.ps1
  frontend/src/components/NotificationCenter.tsx
  frontend/src/components/__tests__/NotificationCenter.test.tsx
  frontend/src/components/notifications/__tests__/NotificationBell.test.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/features/dashboard/components/AnalyticsCharts.tsx
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/src/features/operations/components/OperationsView.tsx
  frontend/src/hooks/__tests__/useNotifications.test.ts
  frontend/src/hooks/useNotifications.ts
  frontend/src/locales/el/notifications.js
  frontend/src/locales/en/notifications.js
Due: none

fix(reports): localize exports and templates
  backend/ops/seed_report_templates.py
  backend/routers/routers_custom_reports.py
  backend/schemas/custom_reports.py
  backend/services/custom_report_generation_service.py
  backend/services/custom_report_service.py
  frontend/src/App.tsx
  frontend/src/api/customReportsAPI.ts
  frontend/src/features/custom-reports/components/FieldSelector.tsx
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/custom-reports/utils/templateLocalization.ts
  frontend/src/hooks/useCustomReports.ts
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
  frontend/src/main.tsx
  frontend/src/utils/dateTime.ts
Due: check-imports-requirements, validate-rbac-decorators

fix(reports): localize exports and templates
  backend/ops/seed_report_templates.py
  backend/routers/routers_custom_reports.py
  backend/schemas/custom_reports.py
  backend/services/custom_report_generation_service.py
  backend/services/custom_report_service.py
  frontend/src/api/customReportsAPI.ts
  frontend/src/features/custom-reports/components/FieldSelector.tsx
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/custom-reports/utils/templateLocalization.ts
  frontend/src/hooks/useCustomReports.ts
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
Due: check-imports-requirements, validate-rbac-decorators

test(search): fix role queries in result card tests
  frontend/src/features/advanced-search/__tests__/SearchResults.test.tsx
Due: none

fix(reports): align builder fields, filters, and tests
  backend/routers/routers_custom_reports.py
  backend/services/custom_report_generation_service.py
  docs/development/TESTING_GUIDE.md
  frontend/src/App.tsx
  frontend/src/api/api.ts
  frontend/src/api/customReportsAPI.ts
  frontend/src/components/layout/Navigation.tsx
  frontend/src/features/custom-reports/components/FieldSelector.tsx
  frontend/src/features/custom-reports/components/FilterBuilder.tsx
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/grading/components/__tests__/GradingView.decimal.test.tsx
  frontend/src/hooks/useCoursesQuery.test.ts
  frontend/src/hooks/useErrorRecovery.test.ts
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
  frontend/src/main.tsx
  frontend/src/setupTests.ts
Due: check-imports-requirements, validate-rbac-decorators

fix(ci): declare workflow_call slack secret
  .github/workflows/ci-cd-pipeline.yml
Due: none

fix(ci): avoid secrets in slack notify if
  .github/workflows/ci-cd-pipeline.yml
Due: none
