Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

check-imports-requirements:
  name: Verify backend imports vs requirements
  entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
  language: system
  pass_filenames: false

check-operator-header:
  name: Ensure operator scripts have OPERATOR-ONLY header
  entry: python scripts/check_operator_header.py
  language: system
  pass_filenames: true

validate-rbac-decorators:
  name: 'RBAC: Validate decorator usage consistency'
  entry: python scripts/validate_rbac_decorators.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-migrations:
  name: 'Database: Validate migration consistency'
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(work-plan): record post-v1.18.14 accumulation and update branch metadata
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

chore(release): prepare v1.18.15 — version bump, installer RTF refresh, release docs
  .github/RELEASE_NOTES_v1.18.15.md
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.15.md
  docs/releases/GITHUB_RELEASE_v1.18.15.md
  docs/releases/RELEASE_MANIFEST_v1.18.15.md
  docs/releases/RELEASE_NOTES_v1.18.15.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package.json
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
Due: check-imports-requirements

chore(release): record v1.18.15 publication evidence -- GitHub digest, state snapshot
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/RELEASE_MANIFEST_v1.18.15.md
Due: none

ci: reduce release-asset-sanitizer frequency from hourly to daily
  .github/workflows/release-asset-sanitizer.yml
Due: none

ci: disable excessive scheduled workflows - production health check (hourly), load testing (weekly)
  .github/workflows/load-testing.yml
  .github/workflows/scheduled-production-health-check.yml
Due: none

feat(installer): default to QNAP PostgreSQL; docs(user,installer): add Database Configuration guidance; fix(migrate): clarify migrate_sqlite_to_postgres usage; i18n: update Greek translations
  .github/RELEASE_NOTES_v1.18.15.md
  backend/scripts/migrate_sqlite_to_postgres.py
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.15.md
  docs/releases/GITHUB_RELEASE_v1.18.15.md
  docs/releases/RELEASE_MANIFEST_v1.18.15.md
  docs/releases/RELEASE_NOTES_v1.18.15.md
  docs/user/USER_GUIDE_COMPLETE.md
  installer/Greek.isl
  installer/README.md
  installer/SMS_Installer.iss
Due: check-imports-requirements

maintenance fixes
  backend/requirements.txt
  ci_pipeline_23534452328.log
  docs/deployment/QNAP_POSTGRES_SINGLE_SOURCE.md
  docs/deployment/QNAP_RECONCILE_RUNBOOK.md
  docs_audit_23534452333.log
  frontend/package-lock.json
  installer/README.md
  installer/SMS_Installer.iss
  package-lock.json
  pyproject.toml
  sanitizer_23534806307.log
Due: none

fix(security): resolve open dependabot alerts
  backend/requirements.txt
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: none

docs(deployment): add runbook status banner
  docs/deployment/QNAP_RECONCILE_RUNBOOK.md
Due: none

chore(release): prepare v1.18.16
  .github/RELEASE_NOTES_v1.18.16.md
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  ci_pipeline_23534452328.log
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.16.md
  docs/releases/GITHUB_RELEASE_v1.18.16.md
  docs/releases/RELEASE_MANIFEST_v1.18.16.md
  docs/releases/RELEASE_NOTES_v1.18.16.md
  docs/user/USER_GUIDE_COMPLETE.md
  docs_audit_23534452333.log
  frontend/package-lock.json
  frontend/package.json
  frontend/sync-version.cjs
  installer/Greek.isl
  installer/SMS_Installer.iss
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
  sanitizer_23534806307.log
Due: check-imports-requirements

chore(release): record v1.18.16 publication evidence
  .github/RELEASE_NOTES_v1.18.16.md
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/GITHUB_RELEASE_v1.18.16.md
  docs/releases/RELEASE_MANIFEST_v1.18.16.md
  docs/releases/RELEASE_NOTES_v1.18.16.md
Due: none

docs(status): close post-release security alert follow-up
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(docker): self-heal remote qnap runtime
  .gitignore
  DOCKER.ps1
Due: none

fix(installer): harden db packaging and remote postgres setup
  DOCKER.ps1
  backend/routers/control/database.py
  backend/tests/test_control_database_credentials.py
  installer/Greek.isl
  installer/SMS_Installer.iss
  scripts/validate_installer_release_inputs.ps1
Due: check-imports-requirements, validate-rbac-decorators

fix(frontend): upgrade vite to 7.3.2 for dependabot
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(frontend): override lodash for dependabot
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(release): prepare v1.18.17
  .github/RELEASE_NOTES_v1.18.17.md
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.17.md
  docs/releases/GITHUB_RELEASE_v1.18.17.md
  docs/releases/RELEASE_MANIFEST_v1.18.17.md
  docs/releases/RELEASE_NOTES_v1.18.17.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package-lock.json
  frontend/package.json
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
Due: check-imports-requirements

chore(release): record v1.18.17 publication evidence
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.17.md
  docs/releases/GITHUB_RELEASE_v1.18.17.md
  docs/releases/RELEASE_MANIFEST_v1.18.17.md
  docs/releases/RELEASE_NOTES_v1.18.17.md
Due: none

chore(deps): fix dependabot security alerts
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: none

fix(release): safe version propagation
  RELEASE_READY.ps1
Due: none

chore(release): bump version to 1.18.18 and update docs
  .github/RELEASE_NOTES_v1.18.18.md
  .test-failures
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  README.md
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/misc/AGENTS.md
  docs/releases/GITHUB_RELEASE_v1.18.18.md
  docs/releases/RELEASE_NOTES_v1.18.18.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package-lock.json
  frontend/package.json
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
Due: check-imports-requirements

fix(release): keep version checks green
  .github/RELEASE_NOTES_v1.18.18.md
  .gitignore
  .test-failures
  RELEASE_READY.ps1
  docs/releases/GITHUB_RELEASE_v1.18.18.md
  docs/releases/RELEASE_NOTES_v1.18.18.md
Due: none

chore(release): bump version to 1.18.19 and update docs
  .github/RELEASE_NOTES_v1.18.19.md
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/releases/GITHUB_RELEASE_v1.18.19.md
  docs/releases/RELEASE_NOTES_v1.18.19.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package-lock.json
  frontend/package.json
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
Due: check-imports-requirements

fix(release): avoid stale root doc index
  .github/RELEASE_NOTES_v1.18.19.md
  RELEASE_READY.ps1
  docs/releases/GITHUB_RELEASE_v1.18.19.md
  docs/releases/RELEASE_NOTES_v1.18.19.md
Due: none

chore(release): bump version to 1.18.20 and update docs
  .github/RELEASE_NOTES_v1.18.20.md
  CHANGELOG.md
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/releases/GITHUB_RELEASE_v1.18.20.md
  docs/releases/RELEASE_NOTES_v1.18.20.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package-lock.json
  frontend/package.json
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
Due: check-imports-requirements

feat(grading): add weighted special participation options with delete flow
  backend/routers/routers_performance.py
  backend/services/analytics_service.py
  backend/services/daily_performance_service.py
  backend/tests/test_daily_performance_router.py
  frontend/src/features/attendance/components/AttendanceView.tsx
  frontend/src/features/attendance/utils/offlineAttendanceQueue.ts
  frontend/src/features/grading/components/GradingView.tsx
  frontend/src/locales/el/grades.js
  frontend/src/locales/en/grades.js
  frontend/src/utils/categoryLabels.ts
Due: check-imports-requirements, validate-rbac-decorators

fix(i18n): map and test special participation category labels
  frontend/src/utils/categoryLabels.test.ts
  frontend/src/utils/categoryLabels.ts
Due: none

feat(attendance): add custom special score display with test coverage
  frontend/src/features/attendance/components/AttendanceView.tsx
  frontend/src/features/attendance/components/__tests__/AttendanceView.specialParticipation.test.tsx
Due: none

style: cleanup release notes formatting and test line wrapping
  .github/RELEASE_NOTES_v1.18.20.md
  backend/tests/test_daily_performance_router.py
  docs/releases/GITHUB_RELEASE_v1.18.20.md
  docs/releases/RELEASE_NOTES_v1.18.20.md
Due: check-imports-requirements

docs: update changelog for v1.18.21 release
  CHANGELOG.md
Due: none

docs: add release documentation for v1.18.21
  .github/RELEASE_NOTES_v1.18.21.md
  docs/releases/GITHUB_RELEASE_v1.18.21.md
  docs/releases/RELEASE_NOTES_v1.18.21.md
Due: none

chore(release): bump version to 1.18.21 and update docs
  .github/RELEASE_NOTES_v1.18.21.md
  CHANGELOG.md
  docs/releases/GITHUB_RELEASE_v1.18.21.md
  docs/releases/RELEASE_NOTES_v1.18.21.md
  frontend/package-lock.json
  installer/installer_complete_el.rtf
  installer/installer_welcome_el.rtf
Due: none

fix: harden cleanup workflows and dependency alerts
  .github/dependabot.yml
  .github/workflows/cleanup-deployments.yml
  .github/workflows/cleanup-workflow-runs.yml
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

ci: fix PR validation blockers
  .github/workflows/e2e-tests.yml
  .github/workflows/load-testing.yml
  backend/services/backup_service_encrypted.py
  backend/tests/test_path_traversal_security.py
  backend/validate_e2e_data.py
Due: check-imports-requirements

test: respect Playwright base URL
  frontend/tests/analytics-dashboard.spec.ts
  frontend/tests/e2e/analytics-dashboard.spec.ts
  frontend/tests/e2e/search_advanced.spec.ts
Due: none

test: authenticate analytics e2e
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/tests/analytics-dashboard.spec.ts
Due: none

test: seed analytics e2e data
  backend/seed_e2e_data.py
  frontend/tests/analytics-dashboard.spec.ts
Due: check-imports-requirements

test: align analytics e2e controls
  frontend/tests/analytics-dashboard.spec.ts
Due: none

test: fix import export e2e blockers
  frontend/src/components/import-export/index.ts
  frontend/src/components/import-export/index.tsx
  frontend/src/pages/admin/ImportExportPage.tsx
  frontend/tests/critical-flows.spec.ts
  frontend/tests/e2e/feature_127_import_export.spec.ts
Due: none

Path conditions:
  check-imports-requirements: any of: ^backend/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  check-operator-header: any of: ^scripts/operator/.*\.(ps1|sh|bat)$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-rbac-decorators: any of: ^backend/routers/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-migrations: any of: ^backend/(models\.py|migrations/).*$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
