Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

fix: remove problematic dev server browser hook
  .claude/settings.json
Due: none

fix: sync VERSION format with CI/CD requirements and fix double-v display
  VERSION
  frontend/vite.config.ts
Due: none

fix(i18n): remove duplicate 'v' prefix from version string in System Health display
  .claude/settings.local.json
  CI_CD_REVIEW.md
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/en/controlPanel.js
Due: none

feat(i18n): add multi-language support to analytics exports (PDF/Excel)
  backend/routers/routers_analytics.py
  backend/services/analytics_export_service.py
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
Due: check-imports-requirements, validate-rbac-decorators

fix(analytics): use Query() wrapper for language parameter in POST endpoints
  .claude/settings.local.json
  backend/routers/routers_analytics.py
Due: check-imports-requirements, validate-rbac-decorators

fix(analytics): add debug logging for language parameter in export endpoints
  backend/routers/routers_analytics.py
Due: check-imports-requirements, validate-rbac-decorators

fix(native): correct Python process cleanup in Stop-All function
  NATIVE.ps1
Due: none

debug(analytics): add console logging for language parameter
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
Due: none

debug(analytics): add detailed logging for language parameter and URL query
  backend/routers/routers_analytics.py
Due: check-imports-requirements, validate-rbac-decorators

fix(analytics): explicitly include language in POST URL query string
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
Due: none

fix(analytics): use Accept-Language header as fallback for language detection
  .backend.port
  .claude/settings.local.json
  backend/routers/routers_analytics.py
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
Due: check-imports-requirements, validate-rbac-decorators

fix: add Greek language support to PDF and Excel analytics exports
  backend/services/analytics_export_service.py
Due: check-imports-requirements

fix: align analytics export date format with frontend settings
  backend/services/analytics_export_service.py
Due: check-imports-requirements

feat: add timezone support to analytics exports
  backend/routers/routers_analytics.py
  backend/services/analytics_export_service.py
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
Due: check-imports-requirements, validate-rbac-decorators

fix: use Arial Unicode MS font for full Greek diacritical support
  backend/services/analytics_export_service.py
Due: check-imports-requirements

fix: use DejaVuSans font from local fonts directory for Greek PDF exports
  backend/services/analytics_export_service.py
Due: check-imports-requirements

fix(analytics): translate class labels to Greek and register fonts at function call time
  backend/routers/routers_analytics.py
  backend/services/analytics_export_service.py
Due: check-imports-requirements, validate-rbac-decorators

fix(analytics): wrap table cells in Paragraph objects for proper Unicode rendering
  backend/services/analytics_export_service.py
Due: check-imports-requirements

fix(analytics): use FONT directive for proper Greek character rendering in PDFs
  backend/services/analytics_export_service.py
Due: check-imports-requirements

fix(analytics): render Greek PDF tables using Unicode paragraph styles
  backend/services/analytics_export_service.py
  backend/tests/test_analytics_export_service.py
Due: check-imports-requirements

fix(ci/cd): resolve critical issues in analytics export and deprecation warnings
  CI_CD_IMPROVEMENTS.md
  backend/routers/routers_analytics.py
  backend/services/analytics_export_service.py
  backend/tests/test_analytics_export_service.py
Due: check-imports-requirements, validate-rbac-decorators

docs(ci/cd): add comprehensive review and deployment documentation
  .backend.port
  CI_CD_INDEX.md
  CI_CD_REVIEW.md
  CI_CD_REVIEW_SUMMARY.txt
  DEPLOYMENT_REPORT.md
  DEPLOYMENT_SUMMARY.txt
Due: none

refactor: improve code clarity for deferred issues #7 and #10
  backend/routers/routers_analytics.py
  backend/services/analytics_export_service.py
Due: check-imports-requirements, validate-rbac-decorators

improve: enhance font registration robustness and PDF test coverage (issues #8, #9)
  backend/services/analytics_export_service.py
  backend/tests/test_analytics_export_service.py
Due: check-imports-requirements

docs(ci/cd): add final summary of all 10 issues resolved
  CICD_FINAL_SUMMARY.md
Due: none

chore(cleanup): relocate legacy CI/CD and deployment docs into docs folders
  docs/misc/CI_CD_IMPROVEMENTS.md
  docs/misc/CI_CD_INDEX.md
  docs/misc/CI_CD_REVIEW.md
  docs/reports/2026-05/CICD_FINAL_SUMMARY.md
  docs/reports/2026-05/CI_CD_REVIEW_SUMMARY.txt
  docs/reports/2026-05/DEPLOYMENT_REPORT.md
  docs/reports/2026-05/DEPLOYMENT_SUMMARY.txt
Due: none

docs(deployment): add production ready report and final sign-off
  PRODUCTION_READY_REPORT.md
Due: none

ci: add automated cleanup and organization workflows
  .github/workflows/codebase-cleanup.yml
  .github/workflows/docs-organization.yml
  .github/workflows/orchestrated-maintenance.yml
Due: none

docs: add workflow orchestration and automation report
  WORKFLOW_ORCHESTRATION_REPORT.md
Due: none

docs: add comprehensive workflow triggers and scheduling guide
  docs/WORKFLOW_TRIGGERS_GUIDE.md
Due: none

chore: cleanup whitespace and update workspace settings
  .claude/settings.local.json
  backend/services/analytics_export_service.py
  docs/misc/CI_CD_IMPROVEMENTS.md
  docs/misc/CI_CD_INDEX.md
  docs/reports/2026-05/CICD_FINAL_SUMMARY.md
  docs/reports/2026-05/DEPLOYMENT_REPORT.md
Due: check-imports-requirements

chore(ci): update actions to Node.js 24 compatible versions
  .github/workflows/backend-deps.yml
  .github/workflows/ci-cd-pipeline.yml
Due: none

fix(ci): correct gh run list jq filtering in cleanup workflow
  .github/workflows/cleanup-workflow-runs.yml
Due: none

fix(ci): correct multiple workflow issues and add proper error handling
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/cleanup-deployments.yml
  .github/workflows/commit-ready-smoke.yml
  .github/workflows/dependabot-auto.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/fetch-code-scanning-sarif.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/orchestrated-maintenance.yml
  .github/workflows/release-asset-sanitizer.yml
  .github/workflows/release-installer-with-sha.yml
Due: none

docs: create main documentation index
  docs/INDEX.md
Due: none

fix(docs): improve documentation organization workflow
  .github/workflows/docs-organization.yml
Due: none

docs: add missing permission matrix endpoint mapping to index
  .github/workflows/docs-organization.yml
  docs/INDEX.md
Due: none

docs: update last updated dates for stale documentation
  docs/development/API_EXAMPLES.md
  docs/development/DEVELOPMENT_SETUP_GUIDE.md
  docs/development/LOAD_TEST_PLAYBOOK.md
  docs/development/PROJECT_STRUCTURE.md
  docs/reference/SECURITY_GUIDE.md
  docs/user/LOCALIZATION.md
Due: none

chore: add GitHub Actions workflow monitoring permissions
  .claude/settings.local.json
Due: none

refactor: upgrade GitHub Actions to Node 24-compatible versions
  .github/workflows/archive-legacy-releases.yml
  .github/workflows/backend-deps.yml
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/codebase-cleanup.yml
  .github/workflows/codeql.yml
  .github/workflows/commit-ready-cleanup-smoke.yml
  .github/workflows/commit-ready-smoke.yml
  .github/workflows/commit-ready.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deprecation-audit.yml
  .github/workflows/doc-audit.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs-organization.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/fetch-code-scanning-sarif.yml
  .github/workflows/frontend-deps.yml
  .github/workflows/installer.yml
  .github/workflows/load-testing.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/native-deepclean-safety.yml
  .github/workflows/native-setup-smoke.yml
  .github/workflows/orchestrated-maintenance.yml
  .github/workflows/pr-hygiene.yml
  .github/workflows/release-installer-with-sha.yml
  .github/workflows/release-on-tag.yml
  .github/workflows/reset-workflows.yml
  .github/workflows/scheduled-production-health-check.yml
  .github/workflows/sync-installer-artifact.yml
  .github/workflows/trivy-scan.yml
  .github/workflows/upload-sarif.yml
  .github/workflows/version-consistency.yml
Due: none
