Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

fix(tests): fix FacetedNavigation test selector to use role-based query
  commit_ready_20260127-155331.log
  commit_ready_20260127-161541.log
  commit_ready_20260127-162200.log
  commit_ready_20260127-170815.log
  commit_ready_20260127-171623.log
  commit_ready_20260127-174356.log
  commit_ready_20260127-174723.log
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/src/features/advanced-search/__tests__/FacetedNavigation.test.tsx
Due: none

docs: mark GitHub Release creation as complete
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(perf): Complete Issue #149 curated load test - PRODUCTION READY
  CURATED_LOAD_TEST_REPORT_JAN27.md
  RUN_CURATED_LOAD_TEST.ps1
  docs/plans/UNIFIED_WORK_PLAN.md
  load_tests/curated_scenarios.py
Due: none

fix(native): Add robust venv corruption handling for Setup and Clean
  NATIVE.ps1
Due: none

feat(opt): add pagination to Excel export
  backend/routers/routers_exports.py
  docs/reports/2026-01/CURATED_LOAD_TEST_REPORT_JAN27.md
  docs/reports/2026-01/EXCEL_EXPORT_OPTIMIZATION_ANALYSIS.md
  docs/reports/2026-01/EXCEL_EXPORT_OPTIMIZATION_IN_PROGRESS.md
  docs/reports/2026-01/PHASE2_OPTIONAL_OPTIMIZATIONS_STATUS.md
Due: check-imports-requirements, validate-rbac-decorators

docs(native): Add comprehensive venv corruption fix documentation
  docs/NATIVE_VENV_CORRUPTION_FIX.md
Due: none

fix(i18n): Add missing Greek translations for search history and query builder
  frontend/src/locales/el/search.js
Due: none

refactor(load-test): Fix curated scenarios - remove invalid search terms, use /docs health proxy, lower export limits
  load_tests/curated_scenarios.py
Due: none

docs(issue149): Final optimization results - 380ms p95 aggregated, 12/13 endpoints SLA compliant, async export optional enhancement
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/reports/2026-01/ISSUE149_OPTIMIZATION_RESULTS.md
Due: none

docs: Mark Issue #149 COMPLETE - Production deployment approved (Option A - deploy now)
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(i18n): Restore Greek localization parity with English translations
  frontend/src/locales/el.js
Due: none

fix(i18n): Restore Greek localization parity after RBAC/search modules
  docs/GREEK_LOCALIZATION_STRATEGY.md
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/src/features/advanced-search/AdvancedSearchPage.tsx
  frontend/src/features/advanced-search/components/AdvancedFilters.tsx
  frontend/src/features/advanced-search/components/AdvancedQueryBuilder.tsx
  frontend/src/features/advanced-search/components/FacetedNavigation.tsx
  frontend/src/features/advanced-search/components/FilterCondition.tsx
  frontend/src/features/advanced-search/components/SearchBar.tsx
  frontend/src/features/advanced-search/components/SearchHistorySidebar.tsx
  frontend/src/i18n/__tests__/translations.test.ts
  frontend/src/locales/el/search.js
  frontend/src/locales/en.js
  frontend/src/locales/en/search.js
Due: none

fix(server-control): Reduce startup grace period from 12s to 3s for faster health check response
  frontend/src/components/common/ServerControl.tsx
Due: none

fix(devtools): Disable automatic health check on mount to prevent startup errors
  frontend/src/features/operations/components/DevToolsPanel.tsx
Due: none

refactor(maintenance): Add collapsible sections to maintenance widgets for decluttered UI
  frontend/src/components/ControlPanel.tsx
Due: none

fix(rbac): Use rbac namespace for tab label translations to support Greek localization
  frontend/src/components/admin/RBACPanel.tsx
  frontend/src/locales/el/rbac.js
  frontend/src/locales/en/rbac.js
Due: none

refactor(ui): Replace logout button text with power icon for minimal on/off style
  frontend/src/components/auth/LogoutButton.tsx
Due: none

fix: resolve React Hooks violation in SearchFacets component
  frontend/src/features/search/SearchFacets.tsx
Due: none

fix: enable query text search in advanced search endpoint
  backend/routers/routers_search.py
  backend/services/search_service.py
Due: check-imports-requirements, validate-rbac-decorators

fix(search): Add missing state declarations for expandedFacets, searchTerms, selectedValues, and selectSelections
  frontend/src/features/search/SearchFacets.tsx
Due: none

fix: ensure filteredFacets is always an array in SearchFacets
  frontend/src/features/search/SearchFacets.tsx
Due: none

fix: transform facets API response into SearchFacets component format
  frontend/src/features/search/useSearchFacets.ts
Due: none

fix: return paginated response format from advanced search endpoint
  backend/routers/routers_search.py
Due: check-imports-requirements, validate-rbac-decorators

fix: Search endpoint response model and pagination
  backend/routers/routers_search.py
  backend/tests/test_search_api_endpoints.py
  backend/tests/test_search_integration.py
Due: check-imports-requirements, validate-rbac-decorators

fix: search and rbac localization updates
  backend/migrations/versions/af6a56d30257_merge_divergent_migration_heads.py
  backend/routers/routers_search.py
  frontend/src/components/admin/RBACPanel.tsx
  frontend/src/features/search/SearchView.tsx
  frontend/src/locales/el/common.js
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/el/errors.js
  frontend/src/locales/el/errors.ts
  frontend/src/locales/el/export.js
  frontend/src/locales/el/rbac.js
  frontend/src/locales/el/search.js
  frontend/src/locales/en/controlPanel.js
  frontend/src/locales/en/rbac.js
  frontend/src/locales/en/search.js
Due: check-imports-requirements, validate-rbac-decorators, validate-migrations

style: refine mieek-dark theme inputs
  commit_ready_20260128-114738.log
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/index.html
  frontend/src/components/Divider.tsx
  frontend/src/components/layout/Navigation.tsx
  frontend/src/contexts/AppearanceThemeContext.tsx
  frontend/src/features/advanced-search/components/AdvancedFilters.tsx
  frontend/src/features/advanced-search/components/FacetedNavigation.tsx
  frontend/src/features/advanced-search/components/SearchHistorySidebar.tsx
  frontend/src/features/advanced-search/components/SearchResults.tsx
  frontend/src/features/attendance/components/AttendanceView.tsx
  frontend/src/features/attendance/components/EnhancedAttendanceCalendar.tsx
  frontend/src/features/calendar/components/CalendarView.tsx
  frontend/src/features/courses/components/CoursesView.tsx
  frontend/src/features/dashboard/components/EnhancedDashboardView.tsx
  frontend/src/features/operations/components/AppearanceThemeSelector.tsx
  frontend/src/features/search/SavedSearches.tsx
  frontend/src/features/students/components/StudentProfile.tsx
  frontend/src/index.css
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/en/controlPanel.js
  frontend/src/pages/OperationsPage.tsx
Due: none

chore(release): Prepare v1.17.6 - Update version references
  COMMIT_READY.ps1
  INSTALLER_BUILDER.ps1
  VERSION
  backend/main.py
  commit_ready_20260129-233623.log
  docs/DOCUMENTATION_INDEX.md
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/user/USER_GUIDE_COMPLETE.md
  frontend/package.json
Due: check-imports-requirements

docs: add release summary - v1.17.5 preparation complete
  docs/releases/RELEASE_SUMMARY_v1.17.5.md
Due: none

fix: Correct malformed version format (vvvv\.17.2 → 1.17.5) in documentation
  docs/deployment/reports/DEPLOYMENT_REPORT_v1.12.8.md
  docs/releases/reports/RELEASE_v1.12.8_COMPLETE.md
  docs/reports/2026-01/RELEASE_v1.15.0_SUMMARY.md
  docs/user/RBAC_GUIDE.md
Due: none

docs: add release documentation for v1.17.5
  CHANGELOG.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.17.5.md
  docs/releases/GITHUB_RELEASE_v1.17.5.md
  docs/releases/RELEASE_NOTES_v1.17.5.md
Due: none

docs(release): Add v1.17.6 release notes and preparation guides
  docs/releases/RELEASE_NOTES_v1.17.6.md
  docs/releases/RELEASE_PREPARATION_v1.17.6.md
  docs/releases/v1.17.6_RELEASE_SUMMARY.md
Due: none

docs(release): Add v1.17.6 deployment verification report
  docs/releases/v1.17.6_DEPLOYMENT_VERIFIED.md
Due: none

docs(plan): Update work plan for v1.17.6 release completion and GitHub deployment
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(release): Add comprehensive release and deployment completion report
  docs/releases/COMPLETE_RELEASE_DEPLOYMENT_REPORT_JAN29_2026.md
Due: none

fix(security): Address Dependabot and CodeQL security alerts
  backend/admin_routes.py
  backend/routers/routers_sessions.py
  backend/services/backup_service_encrypted.py
  commit_ready_20260129-233710.log
  commit_ready_20260129-234547.log
  docs/releases/DEPLOYMENT_CHECKLIST_v1.17.5.md
  docs/releases/RELEASE_SUMMARY_v1.17.5.md
  pyproject.toml
Due: check-imports-requirements, validate-rbac-decorators

docs: require session-start instruction review
  .github/copilot-instructions.md
  docs/AGENT_POLICY_ENFORCEMENT.md
Due: none

docs(plan): Add Phase 5 planning proposal with 5 prioritized options
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix: Reduce batch test size from 5 to 3 files per batch to prevent memory crashes
  .github/copilot-instructions.md
  RUN_TESTS_BATCH.ps1
  backend/routers/routers_search.py
  docs/AGENT_POLICY_ENFORCEMENT.md
Due: check-imports-requirements, validate-rbac-decorators

security: upgrade protobuf to 6.x to fix CVE-2026-0994
  backend/requirements-dev.txt
  backend/requirements.txt
  pyproject.toml
Due: none
