Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

ci(workflows): harden release ownership and ci gating
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release-asset-sanitizer.yml
Due: none

docs(work-plan): update status for type-fix and CI/CD hardening completion
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(version): add v prefix to VERSION file to comply with Policy 2 (v1.x.x format)
  VERSION
Due: none

ci(version): enforce normalize-version policy gate
  .github/actions/normalize-version/action.yml
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/docker-publish.yml
  .github/workflows/installer.yml
  .github/workflows/release-installer-with-sha.yml
  .github/workflows/sync-installer-artifact.yml
  .github/workflows/version-consistency.yml
  docs/development/GIT_WORKFLOW.md
  scripts/VERIFY_VERSION.ps1
  scripts/ci/GENERATE_VERSION_REPORT.ps1
  scripts/fix_version_discrepancies.ps1
Due: none

fix(backend): resolve OpenAPI callable schema and version consistency tests
  backend/control_auth.py
  backend/rbac.py
  backend/routers/routers_analytics.py
  backend/schemas/auth.py
  backend/tests/test_version_consistency.py
Due: check-imports-requirements, validate-rbac-decorators

fix(tests): stabilize vitest execution and dashboard mocks
  COMMIT_READY.ps1
  frontend/package.json
  frontend/src/features/dashboard/components/__tests__/AnalyticsDashboard.test.tsx
  frontend/vitest.config.ts
Due: none

fix(release): inline version normalization in installer workflow
  .github/workflows/release-installer-with-sha.yml
Due: none

docs(release): update v1.18.6 post-release verification status
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(qnap): add postgres-only ARMv7 deployment artifacts
  .env.qnap.postgres-only.example
  docker/docker-compose.qnap.postgres-only.yml
  scripts/qnap/README.md
  scripts/qnap/install-qnap-postgres-only.sh
  scripts/qnap/manage-qnap-postgres-only.sh
Due: none

docs(release): update v1.18.6 release and deployment documentation
  .github/RELEASE_NOTES_v1.18.6.md
  CHANGELOG.md
  docs/deployment/QNAP_DEPLOYMENT_GUIDE_COMPLETE.md
  docs/development/GIT_WORKFLOW.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.6.md
  docs/releases/GITHUB_RELEASE_v1.18.6.md
  docs/releases/RELEASE_MANIFEST_v1.18.6.md
  docs/releases/RELEASE_NOTES_v1.18.6.md
Due: none

fix(health): surface remote DB evidence and correct postgres diagnostics
  backend/app_factory.py
  backend/routers/control/base.py
  backend/tests/test_control_endpoints.py
  backend/tests/test_health.py
  frontend/src/api/api.ts
  frontend/src/components/common/ServerControl.tsx
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/en/controlPanel.js
Due: check-imports-requirements, validate-rbac-decorators

feat(offline): queue attendance, grades, and student updates for reconnect sync
  frontend/src/features/attendance/components/AttendanceView.tsx
  frontend/src/features/attendance/utils/offlineAttendanceQueue.test.ts
  frontend/src/features/attendance/utils/offlineAttendanceQueue.ts
  frontend/src/features/grading/components/GradingView.tsx
  frontend/src/features/grading/utils/offlineGradesQueue.test.ts
  frontend/src/features/grading/utils/offlineGradesQueue.ts
  frontend/src/features/students/utils/offlineStudentUpdateQueue.test.ts
  frontend/src/features/students/utils/offlineStudentUpdateQueue.ts
  frontend/src/hooks/useStudentsQuery.test.ts
  frontend/src/hooks/useStudentsQuery.ts
  frontend/src/locales/el/attendance.js
  frontend/src/locales/el/grades.js
  frontend/src/locales/en/attendance.js
  frontend/src/locales/en/grades.js
Due: none

feat(control-panel): add auto-updater, fix Windows subprocess crashes, add notification bell integration
  NATIVE.ps1
  backend/admin_routes.py
  backend/routers/control/base.py
  backend/routers/control/common.py
  backend/routers/control/frontend_dev.py
  backend/routers/control/housekeeping.py
  backend/routers/control/maintenance.py
  backend/routers/control/monitoring.py
  backend/routers/control/operations.py
  backend/tests/test_control_maintenance.py
  backend/tests/test_control_start_branches.py
  frontend/src/components/ControlPanel/UpdatesPanel.tsx
  frontend/src/components/notifications/NotificationBell.tsx
  frontend/src/components/notifications/NotificationDropdown.tsx
  frontend/src/components/tools/DevTools.tsx
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/el/notifications.js
  frontend/src/locales/el/utils.js
  frontend/src/locales/en/controlPanel.js
  frontend/src/locales/en/notifications.js
  frontend/src/locales/en/utils.js
Due: check-imports-requirements, validate-rbac-decorators

docs: update CHANGELOG and work plan with post-v1.18.6 development history
  CHANGELOG.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(runtime): remove gh CLI subprocess, fix ErrorBoundary i18n namespace, fix AttendanceView TDZ
  backend/routers/control/maintenance.py
  frontend/src/components/ErrorBoundaries.tsx
  frontend/src/features/attendance/components/AttendanceView.tsx
Due: check-imports-requirements, validate-rbac-decorators

style(control-panel): improve UpdatesPanel button contrast, up-to-date card styling, and release info fallback
  frontend/src/components/ControlPanel/UpdatesPanel.tsx
Due: none

release: prepare v1.18.7 release documentation and version bump
  CHANGELOG.md
  COMMIT_READY.ps1
  VERSION
  backend/main.py
  docs/DOCUMENTATION_INDEX.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.7.md
  docs/releases/GITHUB_RELEASE_v1.18.7.md
  docs/releases/RELEASE_MANIFEST_v1.18.7.md
  docs/releases/RELEASE_NOTES_v1.18.7.md
  frontend/package.json
Due: check-imports-requirements

fix(version): propagate v1.18.7 to remaining doc/script references and fix COMMIT_READY double-v banner
  COMMIT_READY.ps1
  INSTALLER_BUILDER.ps1
  docs/development/DEVELOPER_GUIDE_COMPLETE.md
  docs/user/USER_GUIDE_COMPLETE.md
Due: none

fix(installer): strip v prefix for Inno Setup numeric version directives
  INSTALLER_BUILDER.ps1
  installer/SMS_Installer.iss
  installer/create_wizard_images.ps1
Due: none

docs(release): add GitHub release body for v1.18.7 workflow
  .github/RELEASE_NOTES_v1.18.7.md
Due: none

fix(ci): use normalize-version action in installer workflow
  .github/workflows/release-installer-with-sha.yml
Due: none

fix(tests): extract _is_native_windows helper to avoid corrupting os.name in CI
  backend/routers/control/maintenance.py
  backend/tests/test_control_maintenance.py
Due: check-imports-requirements, validate-rbac-decorators

feat(control-panel): add database management panel with backup, diagnostics, and user admin
  backend/data/imports/1_courses.csv
  backend/data/imports/1_grades.csv
  backend/data/imports/1_students.csv
  backend/routers/control/__init__.py
  backend/routers/control/database.py
  backend/routers/routers_auth.py
  backend/services/database_manager.py
  frontend/src/components/ControlPanel.tsx
  frontend/src/components/ControlPanel/DatabasePanel.tsx
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/en/controlPanel.js
Due: check-imports-requirements, validate-rbac-decorators

docs(deployment): add multi-PC deployment guide for hybrid QNAP architecture
  docs/deployment/INDEX.md
  docs/deployment/MULTI_PC_DEPLOYMENT_GUIDE.md
  docs/user/INDEX.md
Due: none

feat(offline): add centralized network status hook and offline banner
  frontend/src/App.tsx
  frontend/src/components/common/OfflineBanner.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useNetworkStatus.ts
  frontend/src/locales/el/offline.js
  frontend/src/locales/en/offline.js
  frontend/src/translations.ts
Due: none

fix(tests): accept 500 in backup auth test when pg_dump unavailable
  backend/tests/test_admin_backup_encryption.py
Due: check-imports-requirements

refactor(database): fix download auth, DRY instance lookup, fix param ordering
  backend/routers/control/database.py
  frontend/src/components/ControlPanel/DatabasePanel.tsx
Due: check-imports-requirements, validate-rbac-decorators

fix(auth): nullify audit_logs before user delete to prevent FK violation
  backend/routers/routers_auth.py
Due: check-imports-requirements, validate-rbac-decorators

fix(native): use python -m uvicorn directly to fix relative import resolution
  NATIVE.ps1
Due: none

feat(backup): add SQL backup support with encrypted/unencrypted modes
  backend/routers/control/database.py
  backend/routers/control/operations.py
  backend/services/database_manager.py
  backend/tests/test_admin_backup_encryption.py
  backend/tests/test_control_endpoints.py
  docker/docker-compose.prod.yml
  frontend/src/api/__tests__/api.request.interceptor.test.ts
  frontend/src/api/api.d.ts
  frontend/src/api/api.ts
  frontend/src/components/ControlPanel.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/features/operations/components/DevToolsPanel.tsx
  frontend/src/hooks/useNotifications.ts
  frontend/src/locales/el/utils.js
  frontend/src/locales/en/utils.js
Due: check-imports-requirements, validate-rbac-decorators

chore(gitignore): add Visual Studio solution files to ignore list
  .gitignore
Due: none

refactor(control-panel): consolidate database tab into maintenance section
  frontend/src/components/ControlPanel.tsx
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/en/controlPanel.js
Due: none

fix(eslint): resolve remaining i18next hardcoded strings (41→34 warnings)
  eslint-results-batch2.txt
  eslint-results-updated.txt
  eslint-results.txt
  frontend/package.json
  frontend/src/features/dashboard/components/ChartDrillDown.tsx
  frontend/src/features/dashboard/components/PredictiveAnalyticsPanel.tsx
  frontend/src/features/dashboard/components/__tests__/AnalyticsDashboard.test.tsx
  frontend/src/features/dashboard/components/__tests__/ChartDrillDown.test.tsx
  frontend/src/features/dashboard/components/__tests__/CustomReportBuilder.test.tsx
  frontend/src/features/dashboard/components/__tests__/PredictiveAnalyticsPanel.test.tsx
  frontend/src/features/dashboard/components/builder-steps/ChartTypeSelector.tsx
  frontend/src/features/dashboard/components/builder-steps/FilterConfiguration.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportPreview.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportTemplate.tsx
  frontend/src/hooks/useNetworkStatus.ts
  frontend/src/locales/el/analytics.js
  frontend/src/locales/en/analytics.js
  scripts/apply_recovered_key_and_restore.ps1
  scripts/recover_master_key_from_docker.ps1
Due: none

fix(i18n): correct version display in footer (remove double-v)
  frontend/src/locales/el/common.js
  frontend/src/locales/en/common.js
Due: none

fix(analytics): eliminate any types from hooks, components, and utilities
  frontend/src/features/dashboard/components/ChartDrillDown.tsx
  frontend/src/features/dashboard/components/CustomReportBuilder.tsx
  frontend/src/features/dashboard/components/__tests__/AnalyticsDashboard.test.tsx
  frontend/src/features/dashboard/components/__tests__/ChartDrillDown.test.tsx
  frontend/src/features/dashboard/components/builder-steps/ChartTypeSelector.tsx
  frontend/src/features/dashboard/components/builder-steps/DataSeriesPicker.tsx
  frontend/src/features/dashboard/components/builder-steps/FilterConfiguration.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportPreview.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportTemplate.tsx
  frontend/src/features/dashboard/hooks/useAnalyticsExport.ts
  frontend/src/features/dashboard/hooks/usePredictiveAnalytics.ts
  frontend/src/features/dashboard/utils/dataOptimization.ts
Due: none

fix(frontend): recover error handling flow and align search analytics hooks
  frontend/package.json
  frontend/src/ErrorBoundary.tsx
  frontend/src/features/advanced-search/hooks/useSearch.ts
  frontend/src/features/advanced-search/hooks/useSearchHistory.ts
  frontend/src/features/analytics/hooks/useAnalytics.ts
  frontend/src/features/dashboard/components/ChartDrillDown.tsx
  frontend/src/hooks/useErrorHandling.ts
  frontend/src/utils/errorHandling.ts
Due: none

fix(frontend): resolve dashboard TS typing failures in CI lint job
  frontend/src/api/api.ts
  frontend/src/features/dashboard/components/ChartDrillDown.tsx
  frontend/src/features/dashboard/components/CustomReportBuilder.tsx
  frontend/src/features/dashboard/components/builder-steps/FilterConfiguration.tsx
  frontend/src/features/dashboard/components/builder-steps/ReportPreview.tsx
  frontend/src/features/dashboard/utils/dataOptimization.ts
Due: none

test(frontend): fix dashboard vitest helper imports and report builder prop
  frontend/src/features/dashboard/components/__tests__/AnalyticsDashboard.test.tsx
  frontend/src/features/dashboard/components/__tests__/ChartDrillDown.test.tsx
  frontend/src/features/dashboard/components/__tests__/CustomReportBuilder.test.tsx
Due: none

docs: update work plan, changelog, and index to reflect v1.18.7 release status
  CHANGELOG.md
  docs/DOCUMENTATION_INDEX.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(control-panel): use authenticated apiClient for database panel requests
  frontend/src/components/ControlPanel/DatabasePanel.tsx
Due: none
