Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-imports-requirements
        name: Verify backend imports vs requirements
        # Use the repo-local venv wrapper for consistent environments across
        # developer machines and CI runners. The wrapper will create `.venv-tools`
        # if missing and then run the provided command with that venv's python.
        entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
      - id: check-operator-header
        name: Ensure operator scripts have OPERATOR-ONLY header
        entry: python scripts/check_operator_header.py
        language: system
        files: ^scripts/operator/.*\.(ps1|sh|bat)$
        pass_filenames: true
      - id: validate-rbac-decorators
        name: "RBAC: Validate decorator usage consistency"
        entry: python scripts/validate_rbac_decorators.py
        language: system
        files: ^backend/routers/.*\.py$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-migrations
        name: "Database: Validate migration consistency"
        entry: python scripts/validate_migrations.py
        language: system
        files: ^backend/(models\.py|migrations/).*$
        pass_filenames: false
        stages: [pre-commit]
      - id: validate-deployment-readiness
        name: "Deployment: Validate readiness checklist"
        entry: python scripts/validate_deployment_readiness.py
        language: system
        pass_filenames: false
        stages: [manual]  # Run via: pre-commit run --hook-stage manual

  # Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # (Optional) isort removed - ruff-format handles import formatting
  # Markdown linting
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  # General file checks and cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        # Exclude jsonc (JSON with comments) and CI temp files
        exclude: (^.vscode/|.*tsconfig\.json$|.*\.jsonc$|scripts/utils/ci/.*)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '(\.(bat|cmd|vbs|iss|isl)$|\.secrets\.baseline$)'



# Secret scanning (detect-secrets)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (prevent committing secrets)
        args: ["--baseline", ".secrets.baseline", "--disable-plugin", "KeywordDetector"]
        language: python
        types: ["text"]
        files: .*
        exclude: (backend/migrations/|backend/tests/|backend/scripts/|backend/db/cli/|frontend/tests/|frontend/src/locales/|frontend/src/i18n/|.*package-lock.json$|installer/|load-testing/|.*\.md|.*\.env\.example|backend/alembic\.ini|\.secrets\.baseline$|build/|dist/|.*\.egg-info/)

exclude: '(^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)'

feat(export): Implement async Excel export with background processing
  backend/services/async_export_service.py
  frontend/src/features/importExport/ExportDialog.test.tsx
  frontend/src/features/importExport/ExportDialog.tsx
  frontend/src/hooks/useAsyncExport.ts
Due: check-imports-requirements

fix(test-runner): Fix -RetestFailed flag initialization order
  RUN_TESTS_BATCH.ps1
  docs/COMMIT_READY_IMPROVEMENTS_JAN31.md
  docs/deployment/PRODUCTION_MONITORING_CHECKLIST.md
Due: none

docs(work-plan): Update with async export completion status
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(async-export): Add async export with background processing
  backend/alembic/versions/feature_export_jobs_table.py
  backend/routers/routers_import_export.py
  backend/services/async_export_service.py
  frontend/src/features/importExport/ExportDialog.tsx
  frontend/src/locales/el.js
  frontend/src/locales/en.js
Due: check-imports-requirements, validate-rbac-decorators

test(async-export): Fix background task database session in tests
  backend/tests/conftest.py
  docs/development/ASYNC_EXPORT_TEST_FIX.md
Due: check-imports-requirements

docs(export): Add comprehensive completion summary and update work plan
  docs/development/EXPORT_ENHANCEMENTS_COMPLETION_SUMMARY.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(work-plan): Update with completed export enhancements
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(export): Add progress tracking and job cleanup/archival
  backend/migrations/versions/aaca6b9fdf8c_add_progress_percent_to_export_jobs.py
  backend/models.py
  backend/services/async_export_service.py
  backend/services/import_export_service.py
Due: check-imports-requirements, validate-migrations

feat(export): Add multi-format support, scheduling, monitoring, and maintenance
  backend/requirements.txt
  backend/services/async_export_service.py
  backend/services/export_performance_monitor.py
  backend/services/export_scheduler.py
  backend/services/maintenance_scheduler.py
  docs/development/EXPORT_ENHANCEMENTS_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: check-imports-requirements

docs(work-plan): Mark export enhancements committed and pushed to main
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(export): Wire router endpoints and scheduler initialization
  backend/lifespan.py
  backend/routers/routers_import_export.py
Due: check-imports-requirements, validate-rbac-decorators

feat(export-admin): Complete i18n localization and component integration
  backend/lifespan.py
  backend/migrations/versions/aaca6b9fdf8c_add_progress_percent_to_export_jobs.py
  backend/services/async_export_service.py
  backend/services/export_performance_monitor.py
  backend/services/export_scheduler.py
  backend/services/import_export_service.py
  backend/services/maintenance_scheduler.py
  backend/tests/conftest.py
  docs/development/ASYNC_EXPORT_TEST_FIX.md
  docs/development/EXPORT_API_REFERENCE.md
  docs/development/EXPORT_ENHANCEMENTS_COMPLETE.md
  docs/development/EXPORT_ENHANCEMENTS_COMPLETION_SUMMARY.md
  docs/plans/PHASE6_ADMIN_DASHBOARD_PROPOSAL.md
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/src/features/export-admin/components/ExportDashboard.tsx
  frontend/src/features/export-admin/components/ExportJobList.tsx
  frontend/src/features/export-admin/components/ExportScheduler.tsx
  frontend/src/features/export-admin/components/index.tsx
  frontend/src/features/export-admin/locales/translations.ts
Due: check-imports-requirements, validate-migrations

feat(export-admin): Add comprehensive admin UI components and Phase 6 proposal
  docs/development/EXPORT_API_REFERENCE.md
  docs/plans/PHASE6_ADMIN_DASHBOARD_PROPOSAL.md
  frontend/src/features/export-admin/components/ExportDashboard.tsx
  frontend/src/features/export-admin/components/ExportJobList.tsx
  frontend/src/features/export-admin/components/ExportScheduler.tsx
  frontend/src/features/export-admin/components/index.tsx
  frontend/src/features/export-admin/hooks/useExportAdmin.ts
  frontend/src/features/export-admin/locales/translations.ts
  frontend/src/features/export-admin/types/export.ts
Due: none

chore: Add missing translation hints for settings fields (EN)
  frontend/src/features/export-admin/locales/translations.ts
Due: none

style: Update export-admin components with enhanced Tailwind CSS styling
  frontend/src/features/export-admin/components/ExportDashboard.tsx
  frontend/src/features/export-admin/components/ExportJobList.tsx
  frontend/src/features/export-admin/components/ExportScheduler.tsx
  frontend/src/features/export-admin/components/index.tsx
Due: none

feat(export-admin): Add lightweight integration tests with essential coverage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/features/export-admin/__tests__/ExportAdmin.integration.test.tsx
  frontend/src/features/export-admin/__tests__/ExportDashboard.test.tsx
  frontend/src/features/export-admin/__tests__/ExportJobList.test.tsx
  frontend/src/features/export-admin/__tests__/ExportScheduler.test.tsx
  frontend/src/features/export-admin/__tests__/SupportingComponents.test.tsx
  frontend/src/features/export-admin/components/ExportDashboard.tsx
  frontend/src/features/export-admin/components/ExportJobList.tsx
  frontend/src/features/export-admin/components/ExportScheduler.tsx
  frontend/src/features/export-admin/components/index.tsx
Due: none

docs: Add comprehensive Phase 6.1 styling completion documentation
  docs/PHASE6_STYLING_COMPLETE.md
Due: none

docs(policy): Add mandatory SOLO DEVELOPER - NO STAKEHOLDERS rule
  .github/copilot-instructions.md
  docs/AGENT_POLICY_ENFORCEMENT.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(work-plan): Update Phase 4 completion status and Phase 5 options (v1.17.6)
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(work-plan): Update Phase 4 completion - all GitHub issues closed
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(search): Add AdvancedSearchPage integration tests for Issue #147
  frontend/src/features/advanced-search/AdvancedSearchPage.tsx
  frontend/src/features/advanced-search/__tests__/AdvancedSearchPage.integration.test.tsx
Due: none

docs(phase5): Complete Week 1 deliverables - baseline metrics and monitoring
  docs/deployment/PHASE5_BASELINE_METRICS_FEB1_2026.md
  docs/deployment/PHASE5_WEEK1_COMPLETE_FEB1_2026.md
  docs/plans/UNIFIED_WORK_PLAN.md
  monitoring/prometheus/alert.rules.yml
  scripts/monitoring/Create-Dashboards-Simple.ps1
Due: none

docs(post-deployment): Add comprehensive operational documentation suite
  docs/operations/PRODUCTION_ANALYSIS_OPTIMIZATION_REPORT.md
  docs/operations/PRODUCTION_DATA_MIGRATION_GUIDE.md
  docs/operations/PRODUCTION_OPERATIONS_RUNBOOK.md
  docs/plans/PHASE6_OPTIONS_ANALYSIS.md
  docs/testing/PRODUCTION_TESTING_COMPREHENSIVE_GUIDE.md
Due: none

docs(security): add SECURITY.md policy
  .github/SECURITY.md
Due: none

docs(phase6): Update UNIFIED_WORK_PLAN with Day 1 backend foundation completion
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(phase6): Add custom reports backend foundation (models, schemas, service, router)
  backend/migrations/versions/8f9594fc435d_add_report_tables_for_phase_6_reporting_.py
  backend/models.py
  backend/router_registry.py
  backend/routers/routers_custom_reports.py
  backend/schemas/__init__.py
  backend/schemas/custom_reports.py
  backend/services/custom_report_service.py
Due: check-imports-requirements, validate-rbac-decorators, validate-migrations

feat(phase5): Complete Week 2 Go-Live - System Live for Users
  backend/exports/export_1_20260131_212002.xlsx
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(phase6): Complete Day 1 backend foundation with mypy fixes
  backend/exports/export_1_20260131_212002.xlsx
  backend/migrations/versions/8f9594fc435d_add_report_tables_for_phase_6_reporting_.py
  backend/models.py
  backend/routers/routers_custom_reports.py
  backend/routers/routers_import_export.py
  backend/schemas/custom_reports.py
  backend/services/async_export_service.py
  backend/services/custom_report_service.py
  backend/services/export_performance_monitor.py
  backend/tests/test_custom_reports_router.py
  backend/tests/test_custom_reports_service.py
  docs/deployment/PHASE5_BASELINE_METRICS_FEB1_2026.md
  docs/deployment/PHASE5_WEEK1_COMPLETE_FEB1_2026.md
  docs/operations/PRODUCTION_ANALYSIS_OPTIMIZATION_REPORT.md
  docs/operations/PRODUCTION_DATA_MIGRATION_GUIDE.md
  docs/operations/PRODUCTION_OPERATIONS_RUNBOOK.md
  docs/plans/PHASE6_OPTIONS_ANALYSIS.md
  docs/testing/PRODUCTION_TESTING_COMPREHENSIVE_GUIDE.md
  frontend/src/features/advanced-search/__tests__/AdvancedSearchPage.integration.test.tsx
Due: check-imports-requirements, validate-rbac-decorators, validate-migrations

docs(phase6): Add Phase 6 Reporting Implementation Plan
  docs/plans/PHASE6_REPORTING_IMPLEMENTATION_PLAN.md
Due: none

fix: Add comprehensive test result logging to batch runner
  MONITOR_BATCH_TESTS.ps1
  RUN_TESTS_BATCH.ps1
Due: none

test(phase6): Complete Day 2-3 unit test implementation
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

docs(phase6): Declutter work plan - archive Phases 4 & 5 history
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/plans/UNIFIED_WORK_PLAN_ARCHIVE_PHASE4_PHASE5.md
Due: none

fix: Remove duplicate pytest output and document background limitation
  backend/exports/export_1_20260201_130201.xlsx
  backend/exports/export_1_20260201_131019.xlsx
  backend/exports/export_1_20260201_135223.xlsx
  backend/reports/report_1_20260201_110110.pdf
  backend/reports/report_1_20260201_115200.pdf
  backend/routers/routers_custom_reports.py
  backend/services/custom_report_generation_service.py
  backend/tests/test_custom_report_generation_service.py
Due: check-imports-requirements, validate-rbac-decorators

chore(workspace): Clean up misplaced test artifacts and organize files
  .gitignore
  archive/phase4-session-jan26/UNIFIED_WORK_PLAN_OLD.md
  backend/exports/export_1_20260201_130201.xlsx
  backend/exports/export_1_20260201_131019.xlsx
  backend/exports/export_1_20260201_135223.xlsx
  backend/reports/report_1_20260201_110110.pdf
  backend/reports/report_1_20260201_115200.pdf
Due: none

fix: Remove duplicate Write-Host causing double pytest output and document background execution limitation
  RUN_TESTS_BATCH.ps1
  docs/TEST_RUNNER_BACKGROUND_LIMITATION.md
Due: none

docs(phase6): Update work plan with Day 2-3 completion and test infrastructure fixes
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(frontend): Phase 6 Days 9-10 custom reports UI components
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/src/features/custom-reports/components/FieldSelector.tsx
  frontend/src/features/custom-reports/components/FilterBuilder.tsx
  frontend/src/features/custom-reports/components/ReportBuilder.tsx
  frontend/src/features/custom-reports/components/ReportList.tsx
  frontend/src/features/custom-reports/components/ReportTemplateList.tsx
  frontend/src/features/custom-reports/components/SortBuilder.tsx
  frontend/src/features/custom-reports/index.ts
  frontend/src/features/custom-reports/pages/ReportBuilderPage.tsx
  frontend/src/features/custom-reports/pages/ReportListPage.tsx
  frontend/src/features/custom-reports/pages/ReportTemplateBrowserPage.tsx
Due: none

docs(phase6): Update work plan with Day 6 completion
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

feat(frontend): Phase 6 Day 6 - Custom reports API integration and i18n foundation
  docs/plans/UNIFIED_WORK_PLAN.md
  frontend/src/api/customReportsAPI.js
  frontend/src/hooks/useCustomReports.ts
  frontend/src/locales/el/customReports.js
  frontend/src/locales/en/customReports.js
  frontend/src/translations.ts
Due: none

docs(phase6): Update work plan with Days 7-10 completion
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none
