Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

check-imports-requirements:
  name: Verify backend imports vs requirements
  entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
  language: system
  pass_filenames: false

check-operator-header:
  name: Ensure operator scripts have OPERATOR-ONLY header
  entry: python scripts/check_operator_header.py
  language: system
  pass_filenames: true

validate-rbac-decorators:
  name: 'RBAC: Validate decorator usage consistency'
  entry: python scripts/validate_rbac_decorators.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-migrations:
  name: 'Database: Validate migration consistency'
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: improve dashboard creation error messages and handle duplicate names
  backend/routers/routers_dashboards.py
Due: check-imports-requirements, validate-rbac-decorators

fix: include actual error message in dashboard creation response
  backend/routers/routers_dashboards.py
Due: check-imports-requirements, validate-rbac-decorators

fix: add pydantic schemas for dashboard endpoints and proper validation
  backend/routers/routers_dashboards.py
  backend/schemas/dashboards.py
Due: check-imports-requirements, validate-rbac-decorators

fix: correct error message extraction in dashboard mutations and add validation error handler
  backend/routers/routers_dashboards.py
  frontend/src/features/dashboard/hooks/useDashboards.ts
Due: check-imports-requirements, validate-rbac-decorators

fix: add detailed logging and authentication check to dashboard creation
  backend/routers/routers_dashboards.py
Due: check-imports-requirements, validate-rbac-decorators

fix: remove strict response_model to allow flexible error responses
  backend/routers/routers_dashboards.py
Due: check-imports-requirements, validate-rbac-decorators

fix: correct IntegrityError import from sqlalchemy.exc
  backend/routers/routers_dashboards.py
Due: check-imports-requirements, validate-rbac-decorators

fix: remove double /api/v1 prefix in dashboard API calls
  frontend/src/features/dashboard/hooks/useDashboards.ts
Due: none

fix: migrate custom_dashboards table and fix API routes
  .backend.port
  .claude/settings.json
  backend/migrations/versions/feature129_add_custom_dashboards_table.py
  backend/router_registry.py
Due: check-imports-requirements, validate-migrations

fix: merge dashboard migration with existing heads
  backend/migrations/versions/9c9a5ba0bf0b_merge_dashboard_and_other_heads.py
Due: check-imports-requirements, validate-migrations

fix: correct markdown code block formatting in .github/README.md
  .github/README.md
Due: none

fix: add graceful error handling for E2E tests when backend unavailable
  .backend.port
  frontend/tests/analytics-dashboard.spec.ts
  frontend/tests/e2e/advanced_search.spec.ts
  frontend/tests/e2e/custom-dashboards.spec.ts
  frontend/tests/e2e/feature_127_import_export.spec.ts
Due: none

fix: remove unnecessary test skips - let backend failures fail loudly
  frontend/tests/analytics-dashboard.spec.ts
  frontend/tests/e2e/advanced_search.spec.ts
  frontend/tests/e2e/custom-dashboards.spec.ts
  frontend/tests/e2e/feature_127_import_export.spec.ts
Due: none

fix: gracefully skip E2E tests when backend is unavailable
  frontend/tests/analytics-dashboard.spec.ts
  frontend/tests/e2e/advanced_search.spec.ts
  frontend/tests/e2e/custom-dashboards.spec.ts
  frontend/tests/e2e/feature_127_import_export.spec.ts
Due: none

fix: add skip logic to all E2E tests that require backend API
  frontend/tests/critical-flows.spec.ts
Due: none

feat: auto-start backend for local E2E tests
  frontend/playwright-global-setup.ts
  frontend/playwright.config.ts
  frontend/tests/analytics-dashboard.spec.ts
  frontend/tests/critical-flows.spec.ts
  frontend/tests/e2e/advanced_search.spec.ts
  frontend/tests/e2e/custom-dashboards.spec.ts
  frontend/tests/e2e/feature_127_import_export.spec.ts
Due: none

fix: correct global setup ES module syntax and config path
  frontend/playwright-global-setup.ts
  frontend/playwright.config.ts
Due: none

fix: correct test credentials in custom-dashboards tests
  frontend/tests/e2e/custom-dashboards.spec.ts
Due: none

fix: resolve E2E test authentication failures in CI workflow
  .github/workflows/e2e-tests.yml
  E2E_TEST_FIXES_SUMMARY.md
  backend/check_login_health.py
  backend/diagnose_e2e_setup.py
  backend/seed_e2e_data.py
  test_e2e_fixes.sh
Due: check-imports-requirements

fix: add role="dialog" and aria-labelledby to CreateEditDashboardDialog for E2E tests
  frontend/src/features/dashboard/components/CreateEditDashboardDialog.tsx
Due: none

docs: add UI fixes investigation report for E2E test failures
  UI_FIXES_INVESTIGATION.md
Due: none

feat: add data-testid attributes to analytics charts and improve test selectors
  frontend/src/features/dashboard/components/AnalyticsCharts.tsx
  frontend/tests/analytics-dashboard.spec.ts
Due: none

fix: correct E2E test selectors in custom-dashboards tests
  .backend.port
  fix_test_credentials.py
  frontend/tests/e2e/custom-dashboards.spec.ts
  workflow_logs.txt
Due: none

fix: make analytics page loading test more resilient to CI environment delays
  frontend/tests/e2e/custom-dashboards.spec.ts
Due: none

fix: resolve TypeScript and Python linting issues
  backend/diagnose_e2e_setup.py
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
Due: check-imports-requirements

fix: resolve Ruff linting errors - remove unused imports
  backend/migrations/versions/9c9a5ba0bf0b_merge_dashboard_and_other_heads.py
  backend/routers/routers_dashboards.py
Due: check-imports-requirements, validate-rbac-decorators, validate-migrations

fix: create logs directory if it doesn't exist in CI environment
  backend/dependencies.py
Due: check-imports-requirements

fix: correct useDashboards test API paths to match implementation
  frontend/src/features/dashboard/hooks/__tests__/useDashboards.test.tsx
Due: none

fix: restore mocks properly in useDashboards tests
  frontend/src/features/dashboard/hooks/__tests__/useDashboards.test.tsx
Due: none

fix: add dashboard locale to i18n test wrapper and fix test imports
  .claude/settings.json
  frontend/src/features/dashboard/components/__tests__/CreateEditDashboardDialog.test.tsx
  frontend/src/features/dashboard/hooks/useDashboards.ts
  frontend/src/features/dashboard/pages/__tests__/DashboardManager.test.tsx
  frontend/src/test-utils/i18n-test-wrapper.tsx
Due: none

fix: update dashboard test assertions and mocks
  frontend/src/features/dashboard/components/__tests__/CreateEditDashboardDialog.test.tsx
  frontend/src/features/dashboard/hooks/__tests__/useDashboards.test.tsx
  frontend/src/features/dashboard/pages/__tests__/DashboardManager.test.tsx
Due: none

fix: add checkbox value attributes and improve chart count test
  frontend/src/features/dashboard/components/CreateEditDashboardDialog.tsx
  frontend/src/features/dashboard/components/__tests__/CreateEditDashboardDialog.test.tsx
  frontend/src/features/dashboard/pages/__tests__/DashboardManager.test.tsx
Due: none

fix: properly pass chart count to i18n translation
  frontend/src/features/dashboard/components/CreateEditDashboardDialog.tsx
  frontend/src/features/dashboard/components/__tests__/CreateEditDashboardDialog.test.tsx
Due: none

fix: resolve TypeScript linting errors - remove implicit any types
  frontend/src/features/dashboard/components/AnalyticsCharts.tsx
  frontend/src/features/dashboard/components/AnalyticsDashboard.tsx
  frontend/src/features/dashboard/components/__tests__/CreateEditDashboardDialog.test.tsx
  frontend/src/features/dashboard/hooks/__tests__/useDashboards.test.tsx
  frontend/src/features/dashboard/hooks/useDashboards.ts
Due: none

fix: resolve remaining TypeScript errors - add missing type annotations
  frontend/src/features/dashboard/components/AnalyticsCharts.tsx
  frontend/src/features/dashboard/hooks/useDashboards.ts
Due: none

fix: resolve remaining test file linting issues
  frontend/src/features/dashboard/pages/__tests__/DashboardManager.test.tsx
Due: none

fix: remove unused type imports from test file
  frontend/src/features/dashboard/pages/__tests__/DashboardManager.test.tsx
Due: none

fix: add missing mock return properties in DashboardManager tests
  frontend/src/features/dashboard/pages/__tests__/DashboardManager.test.tsx
Due: none

Path conditions:
  check-imports-requirements: any of: ^backend/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  check-operator-header: any of: ^scripts/operator/.*\.(ps1|sh|bat)$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-rbac-decorators: any of: ^backend/routers/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-migrations: any of: ^backend/(models\.py|migrations/).*$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
