Repository bs1gr/AUT_MIEEK_SMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-imports-requirements, check-operator-header, validate-rbac-decorators, validate-migrations

check-imports-requirements:
  name: Verify backend imports vs requirements
  entry: python scripts/run_in_venv.py -- python scripts/utils/validators/import_checker.py --mode static
  language: system
  pass_filenames: false

check-operator-header:
  name: Ensure operator scripts have OPERATOR-ONLY header
  entry: python scripts/check_operator_header.py
  language: system
  pass_filenames: true

validate-rbac-decorators:
  name: 'RBAC: Validate decorator usage consistency'
  entry: python scripts/validate_rbac_decorators.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-migrations:
  name: 'Database: Validate migration consistency'
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: release notes and changelog for v1.17.3
  .github/RELEASE_NOTES_v1.17.3.md
  CHANGELOG.md
  docs/releases/GITHUB_RELEASE_v1.17.3.md
  docs/releases/RELEASE_NOTES_v1.17.3.md
Due: none

fix: resolve MyPy and ESLint errors from Phase 4 implementation
  backend/services/saved_search_service.py
  frontend/src/features/search/SearchBar.tsx
  frontend/src/features/search/useSearch.test.ts
  frontend/src/hooks/useRateLimit.ts
Due: check-imports-requirements

chore: update README to reflect v1.18.0 release and fix auth header attachment
  README.md
  frontend/src/api/api.ts
Due: none

fix: resolve remaining MyPy type errors in saved_search_service.py
  backend/services/saved_search_service.py
Due: check-imports-requirements

Finalize frontend fixes and add logout control
  FRONTEND_401_FIX_ANALYSIS.md
  RELEASE_EXECUTION_SUMMARY_v1.18.0.md
  RELEASE_v1.18.0_COMPLETE.md
  archive/sessions/2026-01-23
  create_admin_user.py
  data/test.txt
  frontend/src/StudentManagementApp.tsx
  frontend/src/components/ControlPanel.tsx
  frontend/src/components/ControlPanel/RateLimitAdjuster.tsx
  frontend/src/components/ControlPanel/UpdatesPanel.tsx
  frontend/src/components/admin/AdminUsersPanel.tsx
  frontend/src/components/common/ServerControl.test.tsx
  frontend/src/components/common/ServerControl.tsx
  frontend/src/features/operations/components/AppearanceThemeSelector.tsx
  frontend/src/features/operations/components/DevToolsPanel.tsx
  frontend/src/locales/el/controlPanel.js
  frontend/src/locales/en/controlPanel.js
  frontend/src/main.tsx
  frontend/src/pages/PowerPage.tsx
  frontend/src/pwa-register.ts
  seed_test_data.py
  test_login.py
Due: none

fix(frontend): rename useSearch.test.ts to .tsx for JSX support
  frontend/src/features/search/useSearch.test.tsx
Due: none

fix: resolve search and analytics test failures
  backend/schemas/__init__.py
  backend/services/analytics_service.py
Due: check-imports-requirements

fix(backend): resolve MyPy type error in saved_search_service
  backend/services/saved_search_service.py
Due: check-imports-requirements

Make pre-commit hook lightweight guard for COMMIT_READY
  COMMIT_READY.ps1
Due: none

Fix: Add resilience to conftest teardown and explicit schema dependency
  backend/tests/conftest.py
Due: check-imports-requirements

fix(frontend): comprehensive TypeScript error fixes (part 1)
  frontend/src/components/common/PwaReloadPrompt.tsx
  frontend/src/features/search/SavedSearches.tsx
  frontend/src/features/search/SearchBar.tsx
  frontend/src/features/search/useSearch.ts
  frontend/src/hooks/useErrorRecovery.ts
  frontend/src/hooks/useRateLimit.ts
  frontend/src/vite-env.d.ts
Due: none

fix: Correct version format from \.18.0 to v1.18.0 across documentation (Policy 2 compliance)
  CHANGELOG.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.17.3.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.0.md
  docs/releases/PERFORMANCE_BENCHMARK_RESULTS_v1.17.3.md
  docs/releases/PERFORMANCE_BENCHMARK_RESULTS_v1.18.0.md
  docs/releases/RELEASE_MANIFEST_v1.17.3.md
  docs/releases/RELEASE_NOTES_v1.17.3.md
  docs/releases/RELEASE_NOTES_v1.18.0.md
Due: none

Fix: Remove redundant Base import redefinition in conftest.py
  CHANGELOG.md
  COMMIT_READY.ps1
  FRONTEND_401_FIX_ANALYSIS.md
  RELEASE_EXECUTION_SUMMARY_v1.18.0.md
  RELEASE_v1.18.0_COMPLETE.md
  backend/ruff_output.txt
  backend/tests/conftest.py
  commit_ready_20260124-095159.log
  commit_ready_20260124-101840.log
  commit_ready_20260124-101950.log
  data/imports/1_courses.csv
  data/imports/1_grades.csv
  data/imports/1_students.csv
  docs/development/FRONTEND_HOOKS_REFERENCE.md
  docs/misc/CI_CD_SECOND_ROUND_FIXES_JAN20.md
  docs/misc/SECURITY.md
  docs/plans/PHASE4_READINESS_COMPLETE.md
  docs/plans/UNIFIED_WORK_PLAN.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.17.3.md
  docs/releases/DEPLOYMENT_CHECKLIST_v1.18.0.md
  docs/releases/GITHUB_RELEASE_v1.17.3.md
  docs/releases/PERFORMANCE_BENCHMARK_RESULTS_v1.17.3.md
  docs/releases/PERFORMANCE_BENCHMARK_RESULTS_v1.18.0.md
  docs/releases/RELEASE_MANIFEST_v1.17.3.md
  docs/releases/RELEASE_NOTES_v1.17.3.md
  docs/releases/RELEASE_NOTES_v1.18.0.md
  frontend/tests/e2e/advanced_search.spec.ts
Due: check-imports-requirements

Policy: Enforce Terminal Visibility for all processes (Jan 24, 2026)
  docs/TERMINAL_VISIBILITY_POLICY.md
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(frontend): TypeScript Part 2 - fix remaining 15 errors
  frontend/src/features/search/SavedSearches.tsx
  frontend/src/features/search/SearchBar.tsx
  frontend/src/features/search/useSearch.ts
  frontend/src/features/students/StudentForm.tsx
  frontend/src/features/students/StudentsView.tsx
  frontend/src/hooks/useErrorRecovery.ts
  frontend/src/hooks/useRateLimit.ts
  frontend/src/types/student.ts
  frontend/tests/e2e/StudentRow.tsx
Due: none

docs: Update UNIFIED_WORK_PLAN.md with all 4 pending tasks completion status
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

ci: enforce auth in backend tests (AUTH_MODE=strict) to fix saved_search authorization failures
  .github/workflows/ci-cd-pipeline.yml
Due: none

docs: Update work plan with CI/CD fixes completion (Jan 24, 2026)
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

Refactor: Extend COMMIT_READY validation window from 5 to 45 minutes (Jan 24, 2026)
  scripts/ENFORCE_COMMIT_READY_GUARD.ps1
Due: none

fix: CI/CD environment variables and E2E test blocking (Jan 24, 2026)
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/e2e-tests.yml
Due: none

Frontend: Fix TypeScript/i18n; Security: Fix CodeQL path traversal alerts
  backend/admin_routes.py
  backend/routers/routers_sessions.py
  backend/services/backup_service_encrypted.py
  commit_ready_20260124-095159.log
  commit_ready_20260124-101840.log
  commit_ready_20260124-175938.log
  commit_ready_20260124-180209.log
  data/imports/1_courses.csv
  data/imports/1_grades.csv
  data/imports/1_students.csv
  frontend/src/components/VirtualStudentList.tsx
  frontend/src/components/common/ErrorRetry.tsx
  frontend/src/features/search/SavedSearches.tsx
  frontend/src/features/search/useSearch.ts
  frontend/src/features/students/StudentForm.tsx
  frontend/src/features/students/StudentRow.tsx
  frontend/src/features/students/StudentsView.tsx
Due: check-imports-requirements, validate-rbac-decorators

fix: SavedSearch endpoints - enforce auth with optional_require_role('*')
  backend/routers/routers_search.py
Due: check-imports-requirements, validate-rbac-decorators

fix: Change SavedSearch endpoints from optional_require_role to get_current_user
  backend/routers/routers_search.py
  backend/tests/test_saved_search_integration.py
Due: check-imports-requirements, validate-rbac-decorators

fix: Return 403 for authorization failures; improve auth patching in tests
  backend/routers/routers_search.py
  backend/tests/test_saved_search_integration.py
Due: check-imports-requirements, validate-rbac-decorators

fix: Remove unused import in test fixture
  backend/tests/test_saved_search_integration.py
Due: check-imports-requirements

fix: Use object.__setattr__ to enforce auth in tests (bypasses monkeypatch ordering)
  backend/tests/test_saved_search_integration.py
Due: check-imports-requirements

fix: Depend on patch_settings_for_tests to ensure correct fixture order
  backend/tests/test_saved_search_integration.py
Due: check-imports-requirements

fix: Add explicit type assertions for SearchBar result properties
  frontend/src/features/search/SearchBar.tsx
Due: none

fix: Resolve 15 TypeScript compilation errors
  frontend/src/features/courses/components/CoursesView.tsx
  frontend/src/features/search/SearchBar.tsx
  frontend/src/features/students/StudentRow.tsx
  frontend/src/features/students/StudentsView.tsx
  frontend/src/features/students/components/StudentsView.tsx
  frontend/src/hooks/useRateLimit.ts
  frontend/tests/e2e/StudentRow.tsx
Due: none

v1.17.4: Fix CI/API response handling, auth security, and version consistency
  INSTALLER_BUILDER.ps1
  README.md
  SkeletonLoader.tsx
  StudentRow.tsx
  VERSION
  VERSION.cpp
  backend/routers/routers_search.py
  backend/schemas/search.py
  backend/security/current_user.py
  backend/tests/test_saved_search_integration.py
  docs/AGENT_POLICY_ENFORCEMENT.md
  frontend/package.json
  frontend/src/components/views/CoursesView.test.tsx
  frontend/src/features/importExport/ExportDialog.test.tsx
  frontend/src/features/importExport/HistoryTable.test.tsx
  frontend/src/features/importExport/ImportWizard.test.tsx
  frontend/src/features/search/AdvancedFilters.test.tsx
  frontend/src/features/search/AdvancedFilters.tsx
  frontend/src/features/search/SavedSearches.test.tsx
  frontend/src/features/search/SavedSearches.tsx
  frontend/src/features/search/SearchBar.test.tsx
  frontend/src/features/search/SearchBar.tsx
  frontend/src/features/search/useSearch.test.tsx
  frontend/src/hooks/useErrorRecovery.ts
  frontend/src/hooks/usePerformanceMonitor.ts
  frontend/src/hooks/useSearch.ts
  frontend/src/hooks/useVirtualScroll.ts
  frontend/src/lucide-react.d.ts
  frontend/src/types/lucide-react.d.ts
  frontend/tests/e2e/run-full-regression.ps1
  installer/installer_complete_el.txt
  installer/installer_welcome_el.txt
  saved-search.spec.ts
Due: check-imports-requirements, validate-rbac-decorators

fix: Remove deleteStudent reference from StudentsView
  frontend/src/features/students/StudentsView.tsx
Due: none

docs: Update work plan with Jan 25 continuation session status (cleanup & validation)
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

refactor: Normalize whitespace in CI_CD_SETUP_HELPER.ps1 (trailing space cleanup)
  CI_CD_SETUP_HELPER.ps1
Due: none

docs: CI/CD setup automation & complete implementation guides
  CI_CD_SETUP_COMPLETE_GUIDE.md
  CI_CD_SETUP_HELPER.ps1
  CI_CD_SETUP_QUICK_REFERENCE.md
Due: none

feat: CI/CD comprehensive enhancements (Jan 25)
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/e2e-tests.yml
  docs/plans/UNIFIED_WORK_PLAN.md
Due: none

fix(security): Harden path validation for backup operations
  backend/admin_routes.py
  backend/routers/routers_sessions.py
  backend/services/backup_service_encrypted.py
Due: check-imports-requirements, validate-rbac-decorators

chore(archive): move displaced site.webmanifest to archive/displaced-files-jan2026 with README for traceability
  archive/displaced-files-jan2026/README.md
  archive/displaced-files-jan2026/site.webmanifest
Due: none

fix(security): Add CodeQL sanitizer annotations for path validation
  backend/admin_routes.py
  backend/routers/routers_sessions.py
  backend/services/backup_service_encrypted.py
Due: check-imports-requirements, validate-rbac-decorators

Path conditions:
  check-imports-requirements: any of: ^backend/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  check-operator-header: any of: ^scripts/operator/.*\.(ps1|sh|bat)$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-rbac-decorators: any of: ^backend/routers/.*\.py$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
  validate-migrations: any of: ^backend/(models\.py|migrations/).*$, but not: (^|/)(node_modules|frontend/dist|frontend/node_modules|build|dist|.*\.egg-info)(/|$)
